{%- comment -%}
  Renders btn quick view

  Accepts:
  - product: {Object} Product Liquid object (required)
  - section_id: {String} The ID of the section that contains this card. (required)
  - class: {String} a list class. (optional)
  - disable_sr_only: {Boolean} remove class sr_only (optional)
  - placement: {String} position tooltip (optional)

  Usage:
  {%- render 'btn-quick-view', product: card_product, section_id: section_id -%}
{%- endcomment -%}
<wrapp-hdt-open-modal-btn placement="{{ placement | default: 'none' }}">
<button type="button" handle="{{ product.handle }}" aria-controls="hdt-quick-view-modal" aria-expanded="false" class="hdt-card-product__btn-quick-view {{ class }}" {{ attr }}>
  <svg width="19" height="12" viewBox="0 0 19 12" fill="currentColor" aria-hidden="true" focusable="false"><use xlink:href="#hdt-icon-quickview"></use></svg>
  <span {% unless disable_sr_only %}class="sr-only"{% endunless %}>{{ 'products.product.quick_view' | t }}</span>
</button>
</wrapp-hdt-open-modal-btn>