{%- comment -%}
  Renders a product card

  Accepts:
  - product: {Object} Product Liquid object (required)
  - block: {Object} passing the block information. (required)

  Usage:
  {%- render 'compare-color', product: product, block: block -%}
{%- endcomment -%}

{%- liquid
  assign color_list = 'products.theme_settings.color' | t | downcase | strip | replace: ' ,', ',' | replace: ', ', ',' | split: ',' | uniq
  assign color_white = 'products.theme_settings.color_white' | t | downcase | strip
  assign colors = shop.metafields.ecomrise.colors.value
  assign color_values = shop.metaobjects.theme_swatch.values | first
  assign colors_2 = color_values.colors.value
  assign color_count = 0

  unless product.has_only_default_variant
    for option in product.options_with_values
      assign name_downcase = option.name | downcase
      if color_list contains name_downcase
        assign color_index = forloop.index
        assign color_option_index = 'option' | append: color_index
        assign color_variants = option.values
        assign color_count = color_variants.size
      endif
    endfor
  endunless
-%}

{%- if color_count > 1 -%}
  <button aria-controls="Compare-color-{{ block.id }}" aria-expanded="false" class="hdt-s-text hdt-inline-flex hdt-align-center">
    <span class="hdt-product__extra-icon"><svg class="hdt-inline-block" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none"><path d="M10 12.2903C13.3939 12.2903 16.1451 9.539 16.1451 6.14513C16.1451 2.75127 13.3939 0 10 0C6.60614 0 3.85487 2.75127 3.85487 6.14513C3.85487 9.539 6.60614 12.2903 10 12.2903Z" fill="url(#paint0_radial_242_2855)"/><path d="M13.8549 20C17.2487 20 20 17.2487 20 13.8549C20 10.461 17.2487 7.70973 13.8549 7.70973C10.461 7.70973 7.70973 10.461 7.70973 13.8549C7.70973 17.2487 10.461 20 13.8549 20Z" fill="url(#paint1_radial_242_2855)"/><path d="M6.14513 20C9.539 20 12.2903 17.2487 12.2903 13.8549C12.2903 10.461 9.539 7.70973 6.14513 7.70973C2.75127 7.70973 0 10.461 0 13.8549C0 17.2487 2.75127 20 6.14513 20Z" fill="url(#paint2_radial_242_2855)"/><path d="M12.2902 13.8548C12.291 14.7731 12.0857 15.6799 11.6893 16.5083C11.2929 17.3366 10.7156 18.0654 10 18.6409C9.03122 17.8594 8.32217 16.8025 7.96643 15.6097C7.61069 14.4169 7.62498 13.1443 8.00741 11.9598C9.29929 12.4005 10.7008 12.4005 11.9927 11.9598C12.1905 12.572 12.2909 13.2114 12.2902 13.8548Z" fill="url(#paint3_radial_242_2855)"/><path d="M15.8474 8.04018C15.5522 8.94737 15.0504 9.77362 14.3815 10.4538C13.7126 11.134 12.8948 11.6495 11.9927 11.9598C11.6232 10.8231 10.9309 9.81845 10.0003 9.06839C10.8091 8.4178 11.7693 7.98236 12.7917 7.80258C13.814 7.62281 14.8652 7.70454 15.8474 8.04018Z" fill="url(#paint4_radial_242_2855)"/><path d="M10.0003 9.06857C9.06943 9.81853 8.37698 10.8232 8.00741 11.96C7.10526 11.6497 6.28749 11.1341 5.61856 10.4539C4.94963 9.77369 4.44782 8.9474 4.15268 8.04018C5.13503 7.70459 6.1863 7.62291 7.2087 7.80275C8.23109 7.98258 9.1914 8.41809 10.0003 9.06875V9.06857Z" fill="url(#paint5_radial_242_2855)"/><path d="M11.9927 11.9598C10.7008 12.4005 9.29929 12.4005 8.00741 11.9598C8.37698 10.823 9.06943 9.81835 10.0003 9.06839C10.9309 9.81845 11.6232 10.8231 11.9927 11.9598Z" fill="url(#paint6_radial_242_2855)"/><defs><radialGradient id="paint0_radial_242_2855" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(6.40911 7.48269) scale(14.0721)"><stop stop-color="#E85155"/><stop offset="1" stop-color="#C21D2C"/></radialGradient><radialGradient id="paint1_radial_242_2855" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(6.72106 6.70551) scale(14.288)"><stop stop-color="#4793EB"/><stop offset="1" stop-color="#2367EC"/></radialGradient><radialGradient id="paint2_radial_242_2855" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(5.39669 6.84565) scale(15.3389)"><stop stop-color="#FED200"/><stop offset="1" stop-color="#F59815"/></radialGradient><radialGradient id="paint3_radial_242_2855" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(19.1618 0.299752) scale(37.5697 25.7572)"><stop stop-color="#34CA82"/><stop offset="1" stop-color="#37A477"/></radialGradient><radialGradient id="paint4_radial_242_2855" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(-6.9596 -14.6409) scale(29.3932 40.4368)"><stop stop-color="#CE47C6"/><stop offset="1" stop-color="#651DC2"/></radialGradient><radialGradient id="paint5_radial_242_2855" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(14.0224 -14.9113) scale(28.6079 39.3588)"><stop stop-color="#FD9B02"/><stop offset="1" stop-color="#FF7302"/></radialGradient><radialGradient id="paint6_radial_242_2855" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(8.22384 5.02871) scale(8.12464)"><stop stop-color="#C2763E"/><stop offset="1" stop-color="#8A552E"/></radialGradient></defs></svg></span> <span class="hdt-product__extra-text hdt-font-semibold">{{ 'products.product.compare_color' | t }}</span> 
  </button>
  <hdt-modal id="Compare-color-{{ block.id }}" class="hdt-modal hdt-modal__compare-color hdt-hidden" effect="slide" config='{"appendToBody": true}' color-scheme="{{ settings.color_scheme_dialog }}" initial-focus="false">
    <h3 slot="header" class="hdt-product__modal-title hdt-s-text hdt-font-normal hdt-text-center">{{ 'products.product.compare_color' | t }}</h3>
    <div class="hdt-compare-color-wrapp hdt-current-scrollbar hdt-inline-flex hdt-text-center">
      {%- for color in color_variants -%}

        {%- liquid
          assign variants_has_color = product.variants | where: color_option_index, color
          assign available_variants_has_color = variants_has_color | where: 'available'
          assign variant_first_color = variants_has_color | first
          if variant_first_color.featured_image
            assign variant_first_image = variant_first_color
          else
            assign variant_first_image = variants_has_color | where: 'featured_image' | first
          endif
          unless product.available
            assign available_variants_has_color = variants_has_color
          endunless
          assign color_downcase = color | downcase
          assign color_handle = color | handle
          assign color_obj = colors[color_handle] | default: colors_2[color_handle]
          assign color_style_inline = ''
          assign image = color.swatch.image | default: images[color_obj.imageName]
          if image != blank
            assign color_image = image | image_url: width: 80
            assign color_image_style = '--hdt-bg-image: url(' | append: color_image | append: ');'        
            if image.presentation.focal_point
              assign color_image_style = color_image_style | append: ';--hdt-focal-point:' | append: image.presentation.focal_point | append: ';'
            endif
          else
            assign color_image_style = nil
            if color.swatch.color
              assign color_style_inline = 'background: ' | append: color.swatch.color | append: ';'
            else
              assign color_style_inline = color_obj.colorsCSS
            endif
          endif
          assign unselected = true
        -%}

        <input type="checkbox" class="sr-only" id="remove-compare-color-{{ product.id }}-{{ color_handle }}" />
        <div class="hdt-compare-color-item hdt-flex hdt-flex-col">
          <div class="hdt-compare-color-content hdt-flex hdt-flex-col">
            <div class="hdt-compare-color-top">
              <label for="remove-compare-color-{{ product.id }}-{{ color_handle }}" class="hdt-product__compare-color-remove hdt-s-text hdt-text-sm">{{ 'compare_page.remove' | t }}</label>
              {%- liquid
              if variant_first_image
                echo variant_first_image | image_url: width: variant_first_image.width | image_tag: loading: 'lazy', class: 'hdt-product__compare-color-image', sizes: '360px', widths: '165, 360, 533, 668, 720, 940, 940, 1066, 1200, 1450'
              endif -%}
            </div>
            <div class="hdt-compare-color-bottom">
              <div class="hdt-compare-color-color hdt-inline-flex hdt-align-center hdt-text-base hdt-font-semibold hdt-s-text hdt-rounded-full"><span class="hdt-color-list-color hdt-rounded-full{% if color_white == color_downcase %} hdt-bg-color-white{% endif %}"{% if color_image_style or color_style_inline.size > 0 %} style="{{ color_image_style }}{{ color_style_inline }}"{% endif %}></span><span>{{ color | escape }}</span></div>
                <wrapp-hdt-pr-frm class="hdt-contents">
                {%- form 'product', product, id: product_form_id, class: 'hdt-product-form-compare-color' -%}
                  {%- if product.options_with_values.size > 1 and variants_has_color.size > 0 -%}
                    <select class="hdt-select hdt-s-text" name="id">
                      {%- for variant in variants_has_color -%}
                        <option value="{{ variant.id }}" {% if unselected and forloop.last or variant.available %}{% assign unselected = false %}selected{% endif %}{% if variant.available == false %} disabled {% endif %}>
                          {%- liquid
                            assign str = ''
                            for option in variant.options
                              if forloop.index != color_index
                                assign str = str | append: option | append: ';||;'
                              endif
                            endfor
                            echo str | split: ';||;' | join: ' / '
                            echo variant.price | money | strip_html | prepend: ' - '
                          -%}
                        </option>
                      {%- endfor -%}
                    </select>
                  {%- else -%}
                    <br>
                    <span class="hdt-s-text hdt-compare-color-price">{{ available_variants_has_color.first.price | money }}</span>
                    <input type="hidden" name="id" value="{{ available_variants_has_color.first.id }}">
                  {%- endif -%}
                  <button type="submit" name="add" class="hdt-product__compare-color-atc hdt-btn hdt-text-lg hdt-oh hdt-inline-flex hdt-align-center hdt-justify-center hdt-relative hdt-btn-solid hdt-font-semibold hdt-btn-loading__svg"{% if available_variants_has_color.size == 0 or product.available == false %} disabled{% endif %}>
                    <span class="hdt-btn-atc_text">{% if available_variants_has_color.size == 0 or product.available == false %}{{ 'products.product.sold_out' | t }}{% else %}{{ 'products.product.add_to_cart' | t }}{% endif %}</span>
                    <span class="hdt-loading__spinner hdt-absolute" hidden>
                      <svg width="16" height="16" class="hdt-svg-spinner" focusable="false" role="presentation" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg"><circle class="hdt-path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle></svg>
                    </span>
                  </button>
                {%- endform -%}
                </wrapp-hdt-pr-frm>
              </div>
            </div>
        </div>

      {%- endfor -%}
    </div>
  </hdt-modal>
{%- endif -%}