{{ 'hdt-product-tabs.css' | asset_url | stylesheet_tag }}
{%- liquid
  assign typeBlocks       = section.blocks | map: 'type'
  assign tabBlocks        = typeBlocks | where: 'tab_'
  if tabBlocks.size == 0
    break
  endif
  assign listTyCurent = ''
  assign listTyCurent2 = ''
-%}
{%- if section.settings.tabs_design == 'tab' -%}
  {%- assign forloop_first_title = true -%}
  {%- assign forloop_first_content = true -%}
  <div class="hdt-type-tab">
    <div class="hdt-product-tab__wrap hdt-product-tab--default">
      <hdt-tab class="hdt-product-tab__main hdt-flex hdt-scroll-snap hdt-snap-x" aria-controls="product-tabs-{{ section.settings.tabs_design }}-{{ section.id }}">
        {%- for type in tabBlocks -%}
          {%-liquid
            assign arrTyCurent  = listTyCurent | split: ',' | compact | where: type
            assign arrblock     = section.blocks | where: "type", type
            assign block        = arrblock[arrTyCurent.size]
            assign listTyCurent = listTyCurent | append: ',' | append: type
             case block.type
              when 'tab_des' 
                if block.settings.title == blank or product.description == blank
                  continue
                endif
              when 'tab_review'
                if block.settings.title == blank 
                  continue
                endif
              when 'tab_add'
                if block.settings.title == blank or product.has_only_default_variant
                  continue
                endif
              when 'tab_html'
                assign bk_title = block.settings.title | default: block.settings.page.title
                if bk_title == blank or block.settings.content == blank and block.settings.page.content == blank
                  continue
                endif
              when 'tab_liquid'
                if block.settings.title == blank or block.settings.custom_liquid == blank
                  continue
                endif
            endcase
          -%}
          <button aria-current="{{ forloop_first_title }}" {{ block.shopify_attributes }} class="hdt-s-text hdt-relative hdt-font-semibold">{{ block.settings.title | escape }}</button>
          {%- assign forloop_first_title = false -%}
        {%- endfor -%}
      </hdt-tab> 
      <div class="hdt-product-tab__content" id="product-tabs-{{ section.settings.tabs_design }}-{{ section.id }}">
        {%- for type in tabBlocks -%}
          {%- liquid
            assign arrTyCurent   = listTyCurent2 | split: ',' | compact | where: type
            assign arrblock      = section.blocks | where: "type", type
            assign block         = arrblock[arrTyCurent.size]
            assign listTyCurent2 = listTyCurent2 | append: ',' | append: type
          -%}
          {%- case block.type -%}
            {%- when 'tab_des' -%}
              {%- if block.settings.title == blank or product.description == blank -%}{% continue %}{%- endif -%}
              <div class="hdt-tab-item hdt-rte" tab-item{% if forloop_first_content %} tab-selected{% endif %} data-type={{ block.type }}>{{- product.description -}}</div>
              {%- assign forloop_first_content = false -%}
            {%- when 'tab_review' %}
              {%- if block.settings.title == blank -%}{% continue %}{%- endif -%}
              <div class="hdt-tab-item" tab-item{% if forloop_first_content %} tab-selected{% endif %} data-type={{ block.type }}>{%- render 'hdt-pr-single-review' -%}</div>
              {%- assign forloop_first_content = false -%}
            {%- when 'tab_add' -%}
              {% if block.settings.title == blank or product.has_only_default_variant %}{% continue %}{% endif -%}
              <div class="hdt-tab-item" tab-item{% if forloop_first_content %} tab-selected{% endif %} data-type={{ block.type }}>
                  <table class="hdt-pr_attrs">
                    <tbody>
                      {%- for product_option in product.options_with_values -%}
                      <tr class="hdt-attr_pa_{{ product_option.name | handle }}">
                        <th class="hdt-attr__label">{{ product_option.name }}</th>
                        <td class="hdt-attr__value">
                          <p>{% for value in product_option.values %}{{ value }}{% unless forloop.last == true %}, {% endunless %}{% endfor %}</p>
                        </td>
                      </tr>
                      {%- endfor -%}
                    </tbody>
                  </table>
              </div>
              {%- assign forloop_first_content = false -%}
            {%- when 'tab_html' -%}
              {%- assign bk_title = block.settings.title | default: block.settings.page.title -%}
              {%- if bk_title == blank or block.settings.content == blank and block.settings.page.content == blank -%} {% continue %} {%- endif -%}
              <div class="hdt-tab-item" tab-item{% if forloop_first_content %} tab-selected{% endif %} data-type={{ block.type }}>
                <div class="hdt-rte" style="margin-bottom: 2rem">{{ block.settings.content }}</div>
                {{ block.settings.page.content }}
              </div>
              {%- assign forloop_first_content = false -%}
            {%- when 'tab_liquid' -%}
              {%- if block.settings.title == blank and block.settings.custom_liquid == blank -%}{% continue %}{%- endif -%}
              <div class="hdt-tab-item" tab-item{% if forloop_first_content %} tab-selected{% endif %} data-type={{ block.type }}>{{ block.settings.custom_liquid }}</div>
              {%- assign forloop_first_content = false -%}
          {%- endcase -%}
        {%- endfor -%}
      </div>
    </div>
  </div>
  {%- elsif section.settings.tabs_design == 'accordion' -%}
    <div class="hdt-type-accordion">
      {%- for type in tabBlocks -%}
        {%- liquid
          assign arrTyCurent  = listTyCurent | split: ',' | compact | where: type
          assign arrblock     = section.blocks | where: "type", type
          assign block        = arrblock[arrTyCurent.size]
          assign listTyCurent = listTyCurent | append: ',' | append: type
          if forloop.first and section.settings.enable_first_tab
            assign open = true
          else
            assign open = false
          endif
          -%}
        {%- case block.type -%}
          {%- when 'tab_des'-%}
            {%- if block.settings.title == blank or product.description == blank -%}{% continue %}{%- endif -%}
            <hdt-accordion class="hdt-contents">
            <details class="hdt-product-accordion__item" {% if forloop.first and section.settings.enable_first_tab %}open {% endif %} {{ block.shopify_attributes }}>
              <summary aria-expanded="{{ open }}">
                <span class="hdt-product-accordion__text hdt-s-text hdt-font-semibold">{{ block.settings.title }}</span>
                <span class="hdt-product-accordion__icon"></span>
              </summary>
              <div class="hdt-product-accordion__content hdt-rte">{{- product.description -}}</div>
            </details>
            </hdt-accordion>
          {%- when 'tab_review'-%}
            {%- if block.settings.title == blank -%}{% continue %}{%- endif -%}
            <hdt-accordion class="hdt-contents">
            <details class="hdt-product-accordion__item" {% if forloop.first and section.settings.enable_first_tab %}open {% endif %} {{ block.shopify_attributes }}>
              <summary aria-expanded="{{ open }}">
                <span class="hdt-product-accordion__text hdt-s-text hdt-font-semibold">{{ block.settings.title }}</span>
                <span class="hdt-product-accordion__icon"></span>
              </summary>
              <div class="hdt-product-accordion__content">{%- render 'hdt-pr-single-review' -%}</div>
            </details>
            </hdt-accordion>
          {%- when 'tab_add' -%}
            {% if block.settings.title == blank or product.has_only_default_variant %}{% continue %}{% endif -%}
            <hdt-accordion class="hdt-contents">
            <details class="hdt-product-accordion__item" {% if forloop.first and section.settings.enable_first_tab %}open {% endif %} {{ block.shopify_attributes }}>
              <summary aria-expanded="{{ open }}">
                <span class="hdt-product-accordion__text hdt-s-text hdt-font-semibold">{{ block.settings.title }}</span>
                <span class="hdt-product-accordion__icon"></span>
              </summary>
              <div class="hdt-product-accordion__content">
                <table class="hdt-pr_attrs">
                  <tbody>
                    {%- for product_option in product.options_with_values -%}
                    <tr class="hdt-attr_pa_{{ product_option.name | handle }}">
                      <th class="hdt-attr__label">{{ product_option.name }}</th>
                      <td class="hdt-attr__value">
                        <p>{% for value in product_option.values %}{{ value }}{% unless forloop.last == true %}, {% endunless %}{% endfor %}</p>
                      </td>
                    </tr>
                    {%- endfor -%}
                  </tbody>
                </table>
              </div>
            </details>
            </hdt-accordion>
          {%- when 'tab_html' -%}
            {%- assign bk_title = block.settings.title | default: block.settings.page.title -%}
            {%- if bk_title == blank or block.settings.content == blank and block.settings.page.content == blank -%} {% continue %} {%- endif -%}
            <hdt-accordion class="hdt-contents">
            <details class="hdt-product-accordion__item" {% if forloop.first and section.settings.enable_first_tab %}open {% endif %} {{ block.shopify_attributes }}>
              <summary aria-expanded="{{ open }}">
                <span class="hdt-product-accordion__text hdt-s-text hdt-font-semibold">{{ block.settings.title }}</span>
                <span class="hdt-product-accordion__icon"></span>
              </summary>
              <div class="hdt-product-accordion__content">
                <div class="hdt-rte" style="margin-bottom: 2rem">{{ block.settings.content }}</div>
                {{ block.settings.page.content }}
              </div>
            </details>
            </hdt-accordion>
          {%- when 'tab_liquid' -%}
            {%- if block.settings.title == blank or block.settings.custom_liquid == blank -%}{% continue %}{%- endif -%}
            <hdt-accordion class="hdt-contents">
            <details class="hdt-product-accordion__item" {% if forloop.first and section.settings.enable_first_tab %}open {% endif %} {{ block.shopify_attributes }}>
              <summary aria-expanded="{{ open }}">
                <span class="hdt-product-accordion__text hdt-s-text hdt-font-semibold">{{ block.settings.title }}</span>
                <span class="hdt-product-accordion__icon"></span>
              </summary>
              <div class="hdt-product-accordion__content">{{ block.settings.custom_liquid }}</div>
            </details>
            </hdt-accordion>
        {%- endcase -%}
      {%- endfor -%}
    </div>
  {%- else -%}
    <div class="hdt-type-list">
      {%- for type in tabBlocks -%}
        {%- liquid
          assign arrTyCurent  = listTyCurent | split: ',' | compact | where: type
          assign arrblock     = section.blocks | where: "type", type
          assign block        = arrblock[arrTyCurent.size]
          assign listTyCurent = listTyCurent | append: ',' | append: type
        -%}
        {%- case block.type -%}
          {%- when 'tab_des'-%}
            {%- if block.settings.title == blank or product.description == blank -%}{% continue %}{%- endif -%}
            <div class="hdt-product-tab__item">
              <div class="hdt-product-tab__item-title hdt-s-text hdt-font-semibold">{{ block.settings.title }}</div>
              <div class="hdt-product-tab__item-content hdt-rte">{{- product.description -}}</div>
            </div>
          {%- when 'tab_review'-%}
            {%- if block.settings.title == blank -%}{% continue %}{%- endif -%}
            <div class="hdt-product-tab__item">
              <div class="hdt-product-tab__item-title hdt-s-text hdt-font-semibold">{{ block.settings.title }}</div>
              <div class="hdt-product-tab__item-content">{%- render 'hdt-pr-single-review' -%}</div>
            </div>
          {%- when 'tab_add' -%}
            {% if block.settings.title == blank or product.has_only_default_variant %}{% continue %}{% endif -%}
            <div class="hdt-product-tab__item">
              <div class="hdt-product-tab__item-title hdt-s-text hdt-font-semibold">{{ block.settings.title }}</div>
              <div class="hdt-product-tab__item-content">
                <table class="hdt-pr_attrs">
                  <tbody>
                    {%- for product_option in product.options_with_values -%}
                    <tr class="hdt-attr_pa_{{ product_option.name | handle }}">
                      <th class="hdt-attr__label">{{ product_option.name }}</th>
                      <td class="hdt-attr__value">
                        <p>{% for value in product_option.values %}{{ value }}{% unless forloop.last == true %}, {% endunless %}{% endfor %}</p>
                      </td>
                    </tr>
                    {%- endfor -%}
                  </tbody>
                </table>
              </div>
            </div>
          {%- when 'tab_html' -%}
            {%- assign bk_title = block.settings.title | default: block.settings.page.title -%}
            {%- if bk_title == blank or block.settings.content == blank and block.settings.page.content == blank -%} {% continue %} {%- endif -%}
            <div class="hdt-product-tab__item">
              <div class="hdt-product-tab__item-title hdt-s-text hdt-font-semibold">{{ block.settings.title }}</div>
              <div class="hdt-product-tab__item-content">
                <div class="hdt-rte" style="margin-bottom: 2rem">{{ block.settings.content }}</div>
                {{ block.settings.page.content }}
              </div>
            </div>
          {%- when 'tab_liquid' -%}
            {%- if block.settings.title == blank or block.settings.custom_liquid == blank -%}{% continue %}{%- endif -%}
            <div class="hdt-product-tab__item">
              <div class="hdt-product-tab__item-title hdt-s-text hdt-font-semibold">{{ block.settings.title }}</div>
              <div class="hdt-product-tab__item-content">{{ block.settings.custom_liquid }}</div>
            </div>
        {%- endcase -%}   
      {%- endfor -%}
    </div>
{%- endif -%}