{%- capture style_scrollbar -%}
<style>
  :host * { box-sizing: border-box; transition: none !important; }
  :host wrapp-close-btn { display: contents; }
  @media (min-width: 1025px) {
    :host .hdt-scrollbar-light { --color-scrollbar-track: 255 255 255;--color-scrollbar-thumb: 255 255 255; }
    :host ::-webkit-scrollbar { height: 5px;width: 5px; }
    :host ::-webkit-scrollbar-track { background-color: rgb(var(--color-scrollbar-track) / .05) }
    :host ::-webkit-scrollbar-thumb { background-color: rgb(var(--color-scrollbar-thumb) / .12);border-radius: 8px; }
  }
</style>
{%- endcapture -%}

<template id="hdt-tmp-drawer">
  {{- style_scrollbar | strip_newlines | remove: '  ' | remove: '  ' -}}
  <wrapp-close-btn>
  <button part="outside-close-button" aria-label="{{ 'accessibility.close' | t | escape }}">
    {%- render 'icon' with 'close' -%}
  </button>
</wrapp-close-btn>
  <div part="overlay"></div>
  <div part="content">
    <header part="header">
      <slot name="header"></slot>
      <wrapp-close-btn>
      <button part="close-button" aria-label="{{ 'accessibility.close' | t | escape }}">
        {%- render 'icon' with 'close' -%}
      </button>
      </wrapp-close-btn>
    </header>
    <div part="sticky"><slot name="sticky"></slot></div>
    <div part="body"><slot></slot></div>
    <footer part="footer"><slot name="footer"></slot></footer>
  </div>
</template>

<template id="hdt-tmp-modal">
  {{- style_scrollbar -}}
  <div part="wrapper">
    <div part="overlay"></div>
    <div part="content">
      <header part="header">
        <slot name="header"></slot>
        <wrapp-close-btn>
        <button part="close-button" aria-label="{{ 'accessibility.close' | t | escape }}">
          {%- render 'icon' with 'close' -%}
        </button>
        </wrapp-close-btn>
      </header>
      <div part="body">
        <slot></slot>
      </div>
    </div>
  </div>
</template>

<template id="hdt-tmp-popover">
  {{- style_scrollbar -}}
  <wrapp-close-btn>
  <button part="outside-close-button" aria-label="{{ 'accessibility.close' | t | escape }}">
    {%- render 'icon' with 'close', width: 12, height: 12 -%}
  </button>
</wrapp-close-btn>
  <div part="overlay"></div>
  <div part="arrow"></div>
  <div part="content">
    <header part="header">
      <slot name="header"></slot>
      <wrapp-close-btn>
      <button part="close-button" aria-label="{{ 'accessibility.close' | t | escape }}">
        {%- render 'icon' with 'close', width: 12, height: 12 -%}
      </button>
    </wrapp-close-btn>
    </header>
    <div part="body" class="hdt-current-scrollbar">
      <slot></slot>
    </div>
  </div>
</template>
<hdt-loading-bar class="hdt-loading-bar" aria-hidden="true"></hdt-loading-bar>

<svg aria-hidden="true" focusable="false" role="presentation" xmlns="http://www.w3.org/2000/svg" class="hdt-d-none" hidden>
  <defs>
    <symbol id="hdt-icon-cp">
      <path d="M6.59 5.17L1.41 0L0 1.41L5.17 6.58L6.59 5.17ZM10.5 0L12.54 2.04L0 14.59L1.41 16L13.96 3.46L16 5.5V0H10.5ZM10.83 9.41L9.42 10.82L12.55 13.95L10.5 16H16V10.5L13.96 12.54L10.83 9.41Z"/>
    </symbol>
    <symbol id="hdt-icon-cp-added">
      <path d="M0 6.5105L5.4791 12.0001L16 1.48956L14.4896 0L5.4791 8.99999L1.48953 5.01045L0 6.5105Z"/>
    </symbol>
    <symbol id="hdt-icon-wis">
      <path d="M32.32,52.4l-.32.32-.35-.32C16.45,38.61,6.4,29.49,6.4,20.24A10.94,10.94,0,0,1,17,9h.57A12.55,12.55,0,0,1,29,16.59h6A12.55,12.55,0,0,1,46.4,9,10.94,10.94,0,0,1,57.6,19.67v.53C57.6,29.49,47.55,38.61,32.32,52.4ZM46.4,2.64A19.22,19.22,0,0,0,32,9.3,19.22,19.22,0,0,0,17.6,2.64,17.41,17.41,0,0,0,0,19.86v.38c0,12.06,10.88,22,27.36,36.9L32,61.36l4.64-4.22C53.12,42.19,64,32.3,64,20.24A17.41,17.41,0,0,0,46.78,2.64Z"/>
    </symbol>
    <symbol id="hdt-icon-wis-added">
      <path d="M46.4,2.64A19.22,19.22,0,0,0,32,9.3,19.22,19.22,0,0,0,17.6,2.64,17.41,17.41,0,0,0,0,19.86v.38c0,12.06,10.88,22,27.36,36.9L32,61.36l4.64-4.22C53.12,42.19,64,32.3,64,20.24A17.41,17.41,0,0,0,46.78,2.64Z"/>
    </symbol>
    <symbol id="hdt-icon-wis-remove">
      <path xmlns="http://www.w3.org/2000/svg" d="M5.905 13.6783L3.95083 11.7958L5.10833 10.5967L7.0725 12.4892L11.3492 8.305L12.5175 9.49333L8.25667 13.6825C7.94367 13.9928 7.52052 14.1664 7.0798 14.1655C6.63908 14.1645 6.21668 13.9899 5.905 13.6783ZM16.6667 5H15V17.5C15 18.8783 13.8783 20 12.5 20H4.16667C2.78833 20 1.66667 18.8783 1.66667 17.5V5H0V3.33333H4.16667V1.66667C4.16667 0.7475 4.91417 0 5.83333 0H10.8333C11.7525 0 12.5 0.7475 12.5 1.66667V3.33333H16.6667V5ZM5.83333 3.33333H10.8333V1.66667H5.83333V3.33333ZM13.3333 5H3.33333V17.5C3.33333 17.721 3.42113 17.933 3.57741 18.0893C3.73369 18.2455 3.94565 18.3333 4.16667 18.3333H12.5C12.721 18.3333 12.933 18.2455 13.0893 18.0893C13.2455 17.933 13.3333 17.721 13.3333 17.5V5Z" />
    </symbol>
    <symbol id="hdt-icon-quickview">
      <path d="M18.7079 5.6338C18.5397 5.40371 14.5321 0 9.4137 0C4.29527 0 0.287485 5.40371 0.119471 5.63358C0.041836 5.73994 0 5.86821 0 5.99989C0 6.13157 0.041836 6.25984 0.119471 6.3662C0.287485 6.59629 4.29527 12 9.4137 12C14.5321 12 18.5397 6.59625 18.7079 6.36638C18.7857 6.26008 18.8276 6.13179 18.8276 6.00009C18.8276 5.86839 18.7857 5.74011 18.7079 5.6338ZM9.4137 10.7586C5.64343 10.7586 2.37798 7.17207 1.41133 5.99958C2.37673 4.82605 5.63534 1.24137 9.4137 1.24137C13.1838 1.24137 16.449 4.8273 17.4161 6.00042C16.4507 7.17391 13.1921 10.7586 9.4137 10.7586Z"/>
      <path d="M9.4137 2.27586C7.36024 2.27586 5.68954 3.94656 5.68954 6.00002C5.68954 8.05348 7.36024 9.72417 9.4137 9.72417C11.4672 9.72417 13.1379 8.05348 13.1379 6.00002C13.1379 3.94656 11.4672 2.27586 9.4137 2.27586ZM9.4137 8.48276C8.04465 8.48276 6.93095 7.36903 6.93095 6.00002C6.93095 4.63101 8.04469 3.51727 9.4137 3.51727C10.7827 3.51727 11.8964 4.63101 11.8964 6.00002C11.8964 7.36903 10.7827 8.48276 9.4137 8.48276Z"/>
    </symbol>
    <symbol id="hdt-icon-cart">
      <path d="M13.2222 16H0.777778C0.571498 16 0.373667 15.9157 0.227806 15.7657C0.0819442 15.6157 0 15.4122 0 15.2V0.8C0 0.587827 0.0819442 0.384344 0.227806 0.234315C0.373667 0.0842854 0.571498 0 0.777778 0H13.2222C13.4285 0 13.6263 0.0842854 13.7722 0.234315C13.9181 0.384344 14 0.587827 14 0.8V15.2C14 15.4122 13.9181 15.6157 13.7722 15.7657C13.6263 15.9157 13.4285 16 13.2222 16ZM12.4444 14.4V1.6H1.55556V14.4H12.4444ZM4.66667 3.2V4.8C4.66667 5.43652 4.9125 6.04697 5.35008 6.49706C5.78767 6.94714 6.38116 7.2 7 7.2C7.61884 7.2 8.21233 6.94714 8.64992 6.49706C9.0875 6.04697 9.33333 5.43652 9.33333 4.8V3.2H10.8889V4.8C10.8889 5.86087 10.4792 6.87828 9.74986 7.62843C9.02055 8.37857 8.0314 8.8 7 8.8C5.9686 8.8 4.97945 8.37857 4.25014 7.62843C3.52083 6.87828 3.11111 5.86087 3.11111 4.8V3.2H4.66667Z"/>
    </symbol>
  </defs>
</svg>