<!-- sections/banner-product-grid.liquid -->
{%- comment -%}{{ 'hdt-card-products.css' | asset_url | stylesheet_tag }}{%- endcomment -%}
{{ 'hdt-banner.css' | asset_url | stylesheet_tag }}
{%-liquid
  assign round = 'hdt-rounded hdt-rounded-f'  
  assign object_pos = section.settings.image_mb.presentation.focal_point
  assign color_list = 'products.theme_settings.color' | t | downcase | strip | replace: ' ,', ',' | replace: ', ', ',' | split: ',' | uniq
  assign size_list = 'products.theme_settings.size' | t | downcase | strip | replace: ' ,', ',' | replace: ', ', ',' | split: ',' | uniq 
  assign current_width = settings.page_width | append: 'px'
  assign current_width_tb = '100vw'
  assign current_width_mb = '100vw'
  assign space_item = "30px"
  assign space_item_tb = "15px"
  assign space_item_mb = "15px" 
-%}
{%- style -%}#shopify-section-{{section.id}}{--section-pt:{{section.settings.padding_top}}px;--section-pb:{{section.settings.padding_bottom}}px;--section-prate:{{section.settings.padding_rate}}}.hdt-banner-pr_grid *+.hdt-subheading{margin-top:1.3rem}.hdt-banner-pr_grid *+.hdt-heading{margin-top:1rem}.hdt-banner-pr_grid *+.hdt-btn{margin-top:2.2rem}@media (min-width:768px){.hdt-banner-pr_grid .hdt-media-overlap-content{--media-overlap-content-gap-r:7.1rem;--media-overlap-content-gap-c:5.2rem}}{%- endstyle -%}
{%- capture banner_sizes -%}
(min-width: 1150px) calc({{ settings.page_width | divided_by: 2 }}px - {{ settings.spacing_grid_horizontal }}px), (min-width: 768px) calc(100vw / 2 - 15px), calc(100vw - 30px)
{%- endcapture -%}
{%- capture sizes -%}
  (min-width: 1150px) calc(({{ current_width }} -  {{ space_item }} * {{ 4 | minus: 1 }}) * {{ 1.00 | divided_by: 4 | round: 2 }}) {{- -}}
  , (min-width: 768px) calc( ({{ current_width_tb }} - {{ space_item_tb }} * {{ 4 | minus: 1 }} ) * {{ 1.00 | divided_by: 4 | round: 2 }})  {{- -}}
  , calc( ({{ current_width_mb }} - {{ space_item_mb }} * {{ 2 | minus: 1 }} ) * {{ 1.00 | divided_by: 2 | round: 2 }})
{%- endcapture -%}
<div class="hdt-section-spacing hdt-s-gradient" color-scheme="{{ section.settings.color_scheme }}"{% if section.index != 1 %} hdt-reveal="fade-in"{% endif %}>
  <div class="hdt-container">
    <div class="hdt-row-grid hdt-grid-cols-1 md:hdt-grid-cols-2">
      <div class="hdt-product-wrap hdt-row-flex hdt-flex-cols-2 hdt-collection-products hdt-collection-has-pr{{ section.settings.product_des }} hdt-ratio--{{ section.settings.image_ratio }}" color-scheme="{{ section.settings.product_color_scheme }}">
        {%-liquid
          if section.settings.product_list != blank
            for product in section.settings.product_list limit: 4
              echo '<div class="hdt-col" hdt-reveal="slide-in" timeline>'
                case section.settings.product_des
                  when '1'
                    capture btn_wishlist_code
                      if settings.wishlist_mode != '0'
                        render 'btn-wishlist', class: 'hdt-card-product__btn-wishlist hdt-pr_btn', placement: 'top'
                      endif
                    endcapture
                    render 'card-product1' , card_product: product, class: 'hdt-pr-style1', section_id: section.id, sizes: sizes, image_ratio: section.settings.image_ratio, color_list: color_list, size_list: size_list, product_url: product.url, btn_wishlist_code: btn_wishlist_code, show_vendor: section.settings.show_vendor
                  when '2'
                    capture btn_wishlist_code
                      if settings.wishlist_mode != '0'
                        render 'btn-wishlist', class: 'hdt-card-product__btn-wishlist hdt-pr_btn', placement: 'right'
                      endif
                    endcapture
                    render 'card-product2' , card_product: product, class: 'hdt-pr-style2', section_id: section.id, sizes: sizes, image_ratio: section.settings.image_ratio, color_list: color_list, size_list: size_list, product_url: product.url, btn_wishlist_code: btn_wishlist_code, show_vendor: section.settings.show_vendor
                  when '3'
                    capture btn_wishlist_code
                      if settings.wishlist_mode != '0'
                        render 'btn-wishlist', class: 'hdt-card-product__btn-wishlist hdt-pr_btn', placement: 'left'
                      endif
                    endcapture
                    render 'card-product3' , card_product: product, class: 'hdt-pr-style3', section_id: section.id, sizes: sizes, image_ratio: section.settings.image_ratio, color_list: color_list, size_list: size_list, product_url: product.url, btn_wishlist_code: btn_wishlist_code, show_vendor: section.settings.show_vendor
                  when '4'
                    capture btn_wishlist_code
                      if settings.wishlist_mode != '0'
                        render 'btn-wishlist', class: 'hdt-card-product__btn-wishlist hdt-pr_btn', placement: 'left'
                      endif
                    endcapture
                    render 'card-product4' , card_product: product, class: 'hdt-pr-style4', section_id: section.id, sizes: sizes, image_ratio: section.settings.image_ratio, color_list: color_list, size_list: size_list, product_url: product.url, btn_wishlist_code: btn_wishlist_code, show_vendor: section.settings.show_vendor
                  when '5'
                    capture btn_wishlist_code
                      if settings.wishlist_mode != '0'
                        render 'btn-wishlist', class: 'hdt-card-product__btn-wishlist hdt-pr_btn', placement: 'top'
                      endif
                    endcapture
                    render 'card-product5' , card_product: product, class: 'hdt-pr-style5', section_id: section.id, sizes: sizes, image_ratio: section.settings.image_ratio, color_list: color_list, size_list: size_list, product_url: product.url, btn_wishlist_code: btn_wishlist_code, show_vendor: section.settings.show_vendor
                  when '6'
                    capture btn_wishlist_code
                      if settings.wishlist_mode != '0'
                        render 'btn-wishlist', class: 'hdt-card-product__btn-wishlist hdt-pr_btn', placement: 'top'
                      endif
                    endcapture
                    render 'card-product6' , card_product: product, class: 'hdt-pr-style6', section_id: section.id, sizes: sizes, image_ratio: section.settings.image_ratio, color_list: color_list, size_list: size_list, product_url: product.url, btn_wishlist_code: btn_wishlist_code, show_vendor: section.settings.show_vendor
                  when '7'
                    capture btn_wishlist_code
                      if settings.wishlist_mode != '0'
                        render 'btn-wishlist', class: 'hdt-card-product__btn-wishlist hdt-pr_btn', placement: 'top'
                      endif
                    endcapture
                    render 'card-product7' , card_product: product, class: 'hdt-pr-style7', section_id: section.id, sizes: sizes, image_ratio: section.settings.image_ratio, color_list: color_list, size_list: size_list, product_url: product.url, btn_wishlist_code: btn_wishlist_code, show_vendor: section.settings.show_vendor
                  when '8'
                    capture btn_wishlist_code
                      if settings.wishlist_mode != '0'
                        render 'btn-wishlist', class: 'hdt-card-product__btn-wishlist hdt-pr_btn', placement: 'top'
                      endif
                    endcapture
                    render 'card-product8' , card_product: product, class: 'hdt-pr-style8', section_id: section.id, sizes: sizes, image_ratio: section.settings.image_ratio, color_list: color_list, size_list: size_list, product_url: product.url, btn_wishlist_code: btn_wishlist_code, show_vendor: section.settings.show_vendor
                  when '9'
                    capture btn_wishlist_code
                      if settings.wishlist_mode != '0'
                        render 'btn-wishlist', class: 'hdt-card-product__btn-wishlist hdt-pr_btn', placement: 'top'
                      endif
                    endcapture
                    render 'card-product9' , card_product: product, class: 'hdt-pr-style1 hdt-pr-style9', section_id: section.id, sizes: sizes, image_ratio: section.settings.image_ratio, color_list: color_list, size_list: size_list, product_url: product.url, btn_wishlist_code: btn_wishlist_code, show_vendor: section.settings.show_vendor
                  when '10'
                    capture btn_wishlist_code
                      if settings.wishlist_mode != '0'
                        render 'btn-wishlist', class: 'hdt-card-product__btn-wishlist hdt-pr_btn', placement: 'top'
                      endif
                    endcapture
                    render 'card-product10' , card_product: product, class: 'hdt-pr-style1 hdt-pr-style10', section_id: section.id, sizes: sizes, image_ratio: section.settings.image_ratio, color_list: color_list, size_list: size_list, product_url: product.url, btn_wishlist_code: btn_wishlist_code, show_vendor: section.settings.show_vendor
                  when '11'
                    capture btn_wishlist_code
                      if settings.wishlist_mode != '0'
                        render 'btn-wishlist', class: 'hdt-card-product__btn-wishlist hdt-pr_btn', placement: 'top'
                      endif
                    endcapture
                    render 'card-product11', card_product: product, section_id: section.id, class: "hdt-pr-style1 hdt-pr-style11", sizes: sizes, image_ratio: section.settings.image_ratio, color_list: color_list, size_list: size_list, product_url: product.url, btn_wishlist_code: btn_wishlist_code, show_vendor: section.settings.show_vendor
                endcase
              echo '</div>'
            endfor  
          else
            for i in (1..4)
              assign placeholder_image = 'product-apparel-' | append: i
              echo '<div class="hdt-col" hdt-reveal="slide-in" timeline>'
                render 'card-product-placeholder', image_ratio: section.settings.image_ratio, placeholder_image: placeholder_image, section_id: section.id
              echo '</div>'
            endfor 
          endif
        -%}
      </div>
      <div class="hdt-banner-wrap {{ round }} hdt-media-overlap-content hdt-order-first md:hdt-order-last" {% if object_pos != blank %} style="--object-pos-mb: {{ object_pos }}"{% endif %}>
        <a class="hdt-full-width-link" {% if section.settings.banner_url == blank %}
          role="link" disabled="true"
        {% else %}
          href="{{ section.settings.banner_url }}" 
        {% endif %} target="{% if section.settings.banner_target %}_blank{% else %}_self{% endif %}">
        </a>
        {%- liquid
          if section.settings.image != blank
            echo '<picture class="hdt-media-wrapper hdt-rounded hdt-oh">'
            if section.settings.image_mb != blank and section.settings.image_mb != section.settings.image
              assign srcset = section.settings.image_mb | image_url: width: section.settings.image_mb.width | image_tag: widths: '200,400,600,800,1000', alt: null | split: 'srcset="' | last
              unless srcset contains 'src='
                echo '<source media="(max-width: 767px)" srcset="' | append: srcset | replace_first: 'style=', 'data-none='
              endunless
            endif
            echo section.settings.image | image_url: width: section.settings.image.width | image_tag: loading: 'lazy', sizes: banner_sizes, class: 'hdt-object-pos-mb', widths: '400,600,800,1000,1200,1400,1600,1800,2000,2400,2600'
            echo '</picture>'
          else
            capture current
            cycle 1, 2 , 3
            endcapture
            echo '<div class="hdt-media-wrapper">'
            echo 'hero-apparel-' | append: current | placeholder_svg_tag: 'placeholder-svg hdt-placeholder'
            echo '</div>'
          endif
        -%}
        <div class="hdt-place-self-{{ section.settings.content_position_mb }} md:hdt-place-self-{{ section.settings.content_position }} hdt-pe-none">
          <div class="hdt-content_wrap hdt-oh hdt-pe-none">
            <div class="hdt-content hdt-grid hdt-text-{{ section.settings.alignment_mb }} md:hdt-text-{{ section.settings.alignment }}">
              <div class="hdt-content-inner">
                {%- for block in section.blocks -%}
                  {%- case block.type -%}
                    {%- when 'heading' -%}
                      {%- if block.settings.heading != blank -%}
                        <h3 class="hdt-heading hdt-s-text hdt-h5" hdt-reveal="slide-in" timeline>{{ block.settings.heading }}</h3>
                      {%- endif -%}
                    {%- when 'text' -%}
                      {%- if block.settings.text != blank -%}
                        <p class="hdt-subheading hdt-s-text2 hdt-h6" hdt-reveal="slide-in" timeline>{{ block.settings.text }}</p>
                      {%- endif -%}
                    {%- when 'button' -%}
                      {%- if block.settings.btn_label != blank -%}
                        <a hdt-reveal="slide-in" timeline {% if block.settings.btn_link == blank %}
                          role="link" disabled="true"
                          {% else %}
                            href="{{ block.settings.btn_link }}" 
                          {% endif %} target="{% if block.settings.target %}_blank{% else %}_self{% endif %}"
                          class="hdt-btn hdt-text-{{ block.settings.btn_size }} hdt-oh hdt-inline-flex hdt-align-center hdt-justify-center hdt-relative hdt-btn-{{ block.settings.btn_style }} hdt-font-{{ block.settings.btn_fw }}"><span>{{ block.settings.btn_label }}</span>
                        {%- if block.settings.btn_icon == "1" -%}
                          <svg class="hdt-icon hdt-icon-1" xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 64 64" fill="currentColor"><path d="M12,56.43,36.48,32,12,7.52,19.53,0,51.61,32,19.53,64Z"/></svg>
                        {%- elsif block.settings.btn_icon == "2" -%}
                          <svg class="hdt-icon hdt-icon-2" xmlns="http://www.w3.org/2000/svg" width="12" height="12"  viewBox="0 0 64 64" fill="currentColor"><path d="M6.89,64,0,57.11,47.26,9.85H4.92V0H64V59.08H54.15V16.74Z"/></svg>
                        {%- else -%}
                        {%- endif -%}
                        </a>
                      {%- endif -%}
                  {%- endcase -%}
                {%- endfor -%}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.banner_product.name_1",
  "tag": "section",
  "class": "hdt-section hdt-banner-pr_grid",
  "disabled_on": {
    "groups": [
      "*"
    ]
  },
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:sections.banner.blocks.common.image"
    },
    {
      "type": "image_picker",
      "id": "image_mb",
      "label": "t:sections.banner.blocks.common.image_mb"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.banner.blocks.common.color"
    },
    {
      "type": "color_scheme",
      "id": "product_color_scheme",
      "label": "t:sections.banner.blocks.common.product_color"
    },
    {
      "type": "url",
      "id": "banner_url",
      "label": "t:sections.banner.blocks.common.banner_url"
    },
    {
      "type": "checkbox",
      "id": "banner_target",
      "label": "t:sections.all.button.settings.target.label",
      "default": false
    },
    {
      "type": "product_list",
      "id": "product_list",
      "label": "Product list",
      "info": "t:sections.banner_product.settings.product_list.info"
    },
    {
      "type": "select",
      "id": "product_des",
      "label": "t:sections.collection_products.settings.product_des",
      "options": [
        {
          "value": "1",
          "label": "1"
        },
        {
          "value": "2",
          "label": "2"
        },
        {
          "value": "3",
          "label": "3"
        },
        {
          "value": "4",
          "label": "4"
        },
        {
          "value": "5",
          "label": "5"
        },
        {
          "value": "6",
          "label": "6"
        },
        {
          "value": "7",
          "label": "7"
        },
        {
          "value": "8",
          "label": "8"
        },
        {
          "value": "9",
          "label": "9"
        },
        {
          "value": "10",
          "label": "10"
        }
      ],
      "default": "1"
    },
    {
      "type": "select",
      "id": "image_ratio",
      "options": [
        {
          "value": "adapt_image",
          "label": "t:sections.all.images.ratio.adapt_image.label"
        },
        {
          "value": "square",
          "label": "t:sections.all.images.ratio.square.label"
        },
        {
          "value": "portrait",
          "label": "t:sections.all.images.ratio.portrait.label"
        },
        {
          "value": "asos",
          "label": "t:sections.all.images.ratio.asos.label"
        },
        {
          "value": "landscape",
          "label": "t:sections.all.images.ratio.landscape.label"
        },
        {
          "value": "custom-pr",
          "label": "t:sections.all.images.ratio.custom.label"
        }
      ],
      "label": "t:sections.all.images.ratio.label",
      "default": "adapt_image"
    },
    {
      "type": "header",
      "content": "t:sections.slideshow.blocks.desktop"
    },
    {
      "type": "select",
      "id": "content_position",
      "label": "t:sections.all.content_position.label",
      "options": [
        {
          "value": "start",
          "label": "t:sections.all.content_position.options.start"
        },
        {
          "value": "start-center",
          "label": "t:sections.all.content_position.options.start_center"
        },
        {
          "value": "start-end",
          "label": "t:sections.all.content_position.options.start_end"
        },
        {
          "value": "center",
          "label": "t:sections.all.content_position.options.center"
        },
        {
          "value": "center-start",
          "label": "t:sections.all.content_position.options.center_start"
        },
        {
          "value": "center-end",
          "label": "t:sections.all.content_position.options.center_end"
        },
        {
          "value": "end",
          "label": "t:sections.all.content_position.options.end"
        },
        {
          "value": "end-start",
          "label": "t:sections.all.content_position.options.end_start"
        },
        {
          "value": "end-center",
          "label": "t:sections.all.content_position.options.end_center"
        }
      ],
      "default": "center"
    },
    {
      "type": "text_alignment",
      "id": "alignment",
      "label": "t:settings_schema.global.settings.text_alignment.label",
      "default": "center"
    },
    {
      "type": "header",
      "content": "t:sections.slideshow.blocks.mobile"
    },
    {
      "type": "select",
      "id": "content_position_mb",
      "label": "t:sections.all.content_position.label",
      "options": [
        {
          "value": "start",
          "label": "t:sections.all.content_position.options.start"
        },
        {
          "value": "start-center",
          "label": "t:sections.all.content_position.options.start_center"
        },
        {
          "value": "start-end",
          "label": "t:sections.all.content_position.options.start_end"
        },
        {
          "value": "center",
          "label": "t:sections.all.content_position.options.center"
        },
        {
          "value": "center-start",
          "label": "t:sections.all.content_position.options.center_start"
        },
        {
          "value": "center-end",
          "label": "t:sections.all.content_position.options.center_end"
        },
        {
          "value": "end",
          "label": "t:sections.all.content_position.options.end"
        },
        {
          "value": "end-start",
          "label": "t:sections.all.content_position.options.end_start"
        },
        {
          "value": "end-center",
          "label": "t:sections.all.content_position.options.end_center"
        }
      ],
      "default": "center"
    },
    {
      "type": "text_alignment",
      "id": "alignment_mb",
      "label": "t:settings_schema.global.settings.text_alignment.label",
      "default": "center"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 40
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 40
    },
    {
      "type": "range",
      "id": "padding_rate",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "%",
      "label": "t:sections.all.padding.padding_rate",
      "default": 75
    }
  ],
  "blocks": [
    {
      "type": "heading",
      "name": "Heading",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "label": "t:sections.banner.blocks.common.heading",
          "default": "Summer Style Guide"
        }
      ]
    },
    {
      "type": "text",
      "name": "text",
      "settings": [
        {
          "type": "textarea",
          "id": "text",
          "label": "t:sections.all.sub_heading.label",
          "default": "UP TO 30% OFF"
        }
      ]
    },
    {
      "type": "button",
      "name": "t:sections.all.button.name",
      "settings": [
        {
          "type": "text",
          "id": "btn_label",
          "label": "t:sections.all.button.settings.text.label",
          "default": "Shop now",
          "info": "t:sections.all.button.settings.text.info"
        },
        {
          "type": "url",
          "id": "btn_link",
          "label": "t:sections.all.button.settings.url.label",
          "info": "If blank, use link of product"
        },
        {
          "type": "checkbox",
          "id": "target",
          "label": "t:sections.all.button.settings.target.label",
          "default": false
        },
        {
          "type": "select",
          "id": "btn_size",
          "label": "t:sections.all.button.settings.font_size.label",
          "options": [
            {
              "value": "xs",
              "label": "t:sections.all.button.settings.font_size.options.xs"
            },
            {
              "value": "sm",
              "label": "t:sections.all.button.settings.font_size.options.sm"
            },
            {
              "value": "base",
              "label": "t:sections.all.button.settings.font_size.options.base"
            },
            {
              "value": "lg",
              "label": "t:sections.all.button.settings.font_size.options.lg"
            },
            {
              "value": "xl",
              "label": "t:sections.all.button.settings.font_size.options.xl"
            }
          ],
          "default": "base"
        },
        {
          "type": "select",
          "id": "btn_style",
          "label": "t:sections.all.button.settings.style.label",
          "options": [
            {
              "value": "solid",
              "label": "t:sections.all.button.settings.style.options.option_1"
            },
            {
              "value": "outline",
              "label": "t:sections.all.button.settings.style.options.option_2"
            },
            {
              "value": "outline-2",
              "label": "t:sections.all.button.settings.style.options.option_3"
            },
            {
              "value": "link",
              "label": "t:sections.all.button.settings.style.options.option_4"
            }
          ],
          "default": "solid"
        },
        {
          "type": "select",
          "id": "btn_fw",
          "label": "t:sections.all.button.settings.font_weight.label",
          "options": [
            {
              "value": "normal",
              "label": "t:sections.all.button.settings.font_weight.options.option_1"
            },
            {
              "value": "medium",
              "label": "t:sections.all.button.settings.font_weight.options.option_2"
            },
            {
              "value": "semibold",
              "label": "t:sections.all.button.settings.font_weight.options.option_3"
            },
            {
              "value": "bold",
              "label": "t:sections.all.button.settings.font_weight.options.option_4"
            }
          ],
          "default": "normal"
        },
        {
          "type": "select",
          "id": "btn_icon",
          "label": "t:sections.all.button.settings.icon.label",
          "options": [
            {
              "value": "none",
              "label": "t:sections.all.button.settings.icon.options.option_0"
            },
            {
              "value": "1",
              "label": "t:sections.all.button.settings.icon.options.option_1"
            },
            {
              "value": "2",
              "label": "t:sections.all.button.settings.icon.options.option_2"
            }
          ],
          "default": "1"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.banner_product.name_1",
      "blocks": [
        {
          "type": "heading",
          "settings": {
            "heading": "Summer Style Guide"
          }
        },
        {
          "type": "text",
          "settings": {
            "text": "UP TO 30% OFF"
          }
        },
        {
          "type": "button",
          "settings": {
            "btn_label": "Shop now",
            "btn_link": "",
            "target": false,
            "btn_size": "base",
            "btn_style": "solid",
            "btn_fw": "normal",
            "btn_icon": "1"
          }
        }
      ]
    }
  ]
}
{% endschema %}
