<!-- sections/cart-drawer.liquid -->
{%- liquid
  assign form_id = 'CartDrawer-Form'
  assign shipping_amount = settings.free_ship_pr.metafields.theme.shipping_money.value | default: settings.free_ship_pr.price | default: -1
  assign gift_wrap_pr = settings.gift_wrap_pr
  if gift_wrap_pr != blank and gift_wrap_pr.available
    assign gift_wrap_pr_quantity = cart | item_count_for_variant: gift_wrap_pr.selected_or_first_available_variant.id
    assign gift_wrap_pr_id = gift_wrap_pr.selected_or_first_available_variant.id
  endif
  assign has_cart_form = false
-%}
{%- if request.page_type != 'cart' -%}
{{ 'hdt-cart-drawer.css' | asset_url | stylesheet_tag }}
<hdt-cart-drawer detect-adm-se-evt id="CartDrawer" section-id="{{ section.id }}" initial-focus="false" class="hdt-drawer hdt-mini-cart hdt-hidden hdt-right-0" color-scheme="{{ section.settings.color_scheme }}" effect="right">
  <h3 slot="header" class="hdt-mini-cart__header-title hdt-text-2xl hdt-font-medium">{{ 'sections.cart.mini_cart.title' | t }}</h3>
  {%- if section.settings.show_free_shipping_bar and shipping_amount > -1 -%}
    <div class="hdt-mini-cart__threshold">
      {%- render 'cart-shipping-bar', shipping_amount: shipping_amount -%}
    </div>
  {%- endif -%}
  <div class="hdt-mini-cart__wrap hdt-flex hdt-flex-col">
    <div class="hdt-mini-cart__main hdt-relative">
      <div data-hdt-scroll-me class="hdt-mini-cart__sroll hdt-current-scrollbar hdt-full-width-link">
        {%- if cart == empty -%} 
          <div class="hdt-mini-cart__emty hdt-text-center">
            <h3 class="hdt-mini-cart__emty-heading hdt-text-10xl hdt-font-normal">{{ 'sections.cart.empty' | t }}</h3>
            <p class="hdt-s-text2">{{ 'sections.cart.empty_sub' | t }}</p>
            {%- if settings.empty_cart_link != blank -%}
              <a href="{{ settings.empty_cart_link }}" class="hdt-mini-cart__emty-button hdt-btn hdt-oh hdt-inline-flex hdt-align-center hdt-justify-center hdt-relative hdt-btn-solid hdt-font-semibold">
                <span>{{ 'sections.cart.return_shop' | t }}</span><svg class="hdt-icon hdt-icon-2" xmlns="http://www.w3.org/2000/svg" width="12" height="12"  viewBox="0 0 64 64" fill="currentColor"><path d="M6.89,64,0,57.11,47.26,9.85H4.92V0H64V59.08H54.15V16.74Z"/></svg>
              </a>
            {%- endif -%}
          </div>
        {%- else -%}
          <div class="hdt-mini-cart__items hdt-ratio--adapt_image">
            {%- for item in cart.items -%}
              {%- render 'item-cart', item: item, form_id: form_id, gift_wrap_pr_id: gift_wrap_pr_id -%}
            {%- endfor -%}
          </div>
          {%- render 'cart-complementary' -%}
        {%- endif -%}
      </div>
    </div>

   {%- if cart != empty -%}
      <div class="hdt-mini-cart__bottom">
        <div class="hdt-mini-cart__tool hdt-s-text hdt-text-center">
          {%- if section.settings.show_cart_note -%}
            <div data-label-note class="hdt-btn-tool-note__wrap hdt-inline-block">
              <hdt-tooltip {% if cart.note != blank %} hidden {% endif %}placement="top"><button title="{{ 'sections.cart.tool.note' | t }}" class="hdt-mini-cart__tool_btn hdt-s-gradient hdt-s-text is--addNote hdt-align-center hdt-justify-center hdt-inline-flex" aria-controls="dialog-is--note">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="18" viewBox="0 0 16 18" fill="currentColor"><path d="M5.12187 16.4582H2.78952C2.02045 16.4582 1.39476 15.8325 1.39476 15.0634V2.78952C1.39476 2.02045 2.02045 1.39476 2.78952 1.39476H11.3634C12.1325 1.39476 12.7582 2.02045 12.7582 2.78952V7.07841C12.7582 7.46357 13.0704 7.77579 13.4556 7.77579C13.8407 7.77579 14.1529 7.46357 14.1529 7.07841V2.78952C14.1529 1.25138 12.9016 0 11.3634 0H2.78952C1.25138 0 0 1.25138 0 2.78952V15.0634C0 16.6015 1.25138 17.8529 2.78952 17.8529H5.12187C5.50703 17.8529 5.81925 17.5407 5.81925 17.1555C5.81925 16.7704 5.50703 16.4582 5.12187 16.4582Z"/><path d="M15.3882 10.0971C14.5724 9.28136 13.2452 9.28132 12.43 10.0965L8.60127 13.9168C8.51997 13.9979 8.45997 14.0979 8.42658 14.2078L7.59276 16.9528C7.55646 17.0723 7.55292 17.1993 7.58249 17.3207C7.61206 17.442 7.67367 17.5531 7.76087 17.6425C7.84807 17.7319 7.95768 17.7962 8.07823 17.8288C8.19879 17.8613 8.32587 17.8609 8.44621 17.8276L11.261 17.0479C11.3769 17.0158 11.4824 16.9543 11.5675 16.8694L15.3882 13.0559C16.2039 12.2401 16.2039 10.9129 15.3882 10.0971ZM10.712 15.7527L9.29586 16.145L9.71028 14.7806L12.2937 12.2029L13.2801 13.1893L10.712 15.7527ZM14.4025 12.0692L14.2673 12.204L13.2811 11.2178L13.4157 11.0834C13.6876 10.8115 14.1301 10.8115 14.402 11.0834C14.6739 11.3553 14.6739 11.7977 14.4025 12.0692Z"/></svg>
              </button></hdt-tooltip>
              <hdt-tooltip {% if cart.note == blank %}hidden {% endif %}placement="top"><button title="{{ 'sections.cart.tool.edit_note' | t }}" class="hdt-mini-cart__tool_btn hdt-s-gradient hdt-s-text is--editNote hdt-align-center hdt-justify-center hdt-inline-flex" aria-controls="dialog-is--note">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="18" viewBox="0 0 16 18" fill="currentColor"><path d="M11.3634 7.67118C11.3634 7.28602 11.0512 6.9738 10.666 6.9738H3.48303C3.09787 6.9738 2.78565 7.28602 2.78565 7.67118C2.78565 8.05634 3.09787 8.36856 3.48303 8.36856H10.666C11.0512 8.36856 11.3634 8.05634 11.3634 7.67118ZM3.48303 9.76332C3.09787 9.76332 2.78565 10.0755 2.78565 10.4607C2.78565 10.8459 3.09787 11.1581 3.48303 11.1581H7.84552C8.23069 11.1581 8.5429 10.8459 8.5429 10.4607C8.5429 10.0755 8.23069 9.76332 7.84552 9.76332H3.48303Z"/><path d="M5.12187 16.4582H2.78952C2.02045 16.4582 1.39476 15.8325 1.39476 15.0634V2.78952C1.39476 2.02045 2.02045 1.39476 2.78952 1.39476H11.3634C12.1325 1.39476 12.7582 2.02045 12.7582 2.78952V7.07841C12.7582 7.46357 13.0704 7.77579 13.4556 7.77579C13.8407 7.77579 14.1529 7.46357 14.1529 7.07841V2.78952C14.1529 1.25138 12.9016 0 11.3634 0H2.78952C1.25138 0 0 1.25138 0 2.78952V15.0634C0 16.6015 1.25138 17.8529 2.78952 17.8529H5.12187C5.50703 17.8529 5.81925 17.5407 5.81925 17.1555C5.81925 16.7704 5.50703 16.4582 5.12187 16.4582Z"/><path d="M15.3882 10.0971C14.5724 9.28136 13.2452 9.28132 12.43 10.0965L8.60127 13.9168C8.51997 13.9979 8.45997 14.0979 8.42658 14.2078L7.59276 16.9528C7.55646 17.0723 7.55292 17.1993 7.58249 17.3207C7.61206 17.442 7.67367 17.5531 7.76087 17.6425C7.84807 17.7319 7.95768 17.7962 8.07823 17.8288C8.19879 17.8613 8.32587 17.8609 8.44621 17.8276L11.261 17.0479C11.3769 17.0158 11.4824 16.9543 11.5675 16.8694L15.3882 13.0559C16.2039 12.2401 16.2039 10.9129 15.3882 10.0971ZM10.712 15.7527L9.29586 16.145L9.71028 14.7806L12.2937 12.2029L13.2801 13.1893L10.712 15.7527ZM14.4025 12.0692L14.2673 12.204L13.2811 11.2178L13.4157 11.0834C13.6876 10.8115 14.1301 10.8115 14.402 11.0834C14.6739 11.3553 14.6739 11.7977 14.4025 12.0692ZM10.666 4.18428H3.48303C3.09787 4.18428 2.78565 4.4965 2.78565 4.88166C2.78565 5.26682 3.09787 5.57904 3.48303 5.57904H10.666C11.0512 5.57904 11.3634 5.26682 11.3634 4.88166C11.3634 4.4965 11.0512 4.18428 10.666 4.18428Z"/></svg>
              </button></hdt-tooltip>
            </div>
          {%- endif -%}
          {%- if section.settings.show_gift_wrap and gift_wrap_pr_quantity == 0 -%}
            <hdt-tooltip placement="top"><button title="{{ 'sections.cart.tool.add_gift_wrap' | t }}" class="hdt-mini-cart__tool_btn hdt-s-gradient hdt-s-text is--gift hdt-inline-flex hdt-align-center hdt-justify-center" aria-controls="dialog-is--gift">
              <svg xmlns="http://www.w3.org/2000/svg" width="17" height="18" viewBox="0 0 17 18" fill="currentColor"><path fill-rule="evenodd" clip-rule="evenodd" d="M2.99566 2.73409C2.99566 0.55401 5.42538 -0.746668 7.23916 0.463462L8.50073 1.30516L9.7623 0.463462C11.5761 -0.746668 14.0058 0.55401 14.0058 2.73409V3.24744H14.8225C15.9633 3.24744 16.8881 4.17233 16.8881 5.31312V6.82566C16.8881 7.21396 16.5734 7.52873 16.1851 7.52873H15.8905V15.1877C15.8905 15.1905 15.8905 15.1933 15.8905 15.196C15.886 16.7454 14.6286 18 13.0782 18H3.92323C2.37003 18 1.11091 16.7409 1.11091 15.1877V7.52877H0.81636C0.42806 7.52877 0.113281 7.21399 0.113281 6.82569V5.31316C0.113281 4.17228 1.03812 3.24744 2.179 3.24744H2.99566V2.73409ZM4.40181 3.24744H7.79765V2.52647L6.45874 1.63317C5.57987 1.0468 4.40181 1.67677 4.40181 2.73409V3.24744ZM9.20381 2.52647V3.24744H12.5996V2.73409C12.5996 1.67677 11.4216 1.0468 10.5427 1.63317L9.20381 2.52647ZM2.179 4.6536C1.81472 4.6536 1.51944 4.94888 1.51944 5.31316V6.12261H5.73398L5.734 4.6536H2.179ZM5.73401 7.52877V13.9306C5.73401 14.1806 5.86682 14.4119 6.08281 14.5379C6.29879 14.6639 6.56545 14.6657 6.78312 14.5426L8.50073 13.5715L10.2183 14.5426C10.436 14.6657 10.7027 14.6639 10.9187 14.5379C11.1346 14.4119 11.2674 14.1806 11.2674 13.9306V7.52873H14.4844V15.1603C14.4844 15.1627 14.4843 15.1651 14.4843 15.1675V15.1877C14.4843 15.9643 13.8548 16.5938 13.0782 16.5938H3.92323C3.14663 16.5938 2.51707 15.9643 2.51707 15.1877V7.52877H5.73401ZM15.482 6.12258V5.31312C15.482 4.94891 15.1867 4.6536 14.8225 4.6536H11.2674V6.12258H15.482ZM9.86129 4.6536H7.14017V12.7254L8.15469 12.1518C8.36941 12.0304 8.63204 12.0304 8.84676 12.1518L9.86129 12.7254V4.6536Z"/></svg>
            </button></hdt-tooltip>
          {%- endif -%}
          {%- if section.settings.show_shipping_estimator -%}
            <hdt-tooltip placement="top"><button title="{{ 'sections.cart.shipping_estimator.title' | t }}" class="hdt-mini-cart__tool_btn hdt-s-gradient hdt-s-text is--rates hdt-inline-flex hdt-align-center hdt-justify-center" aria-controls="dialog-is--rates">
              <svg xmlns="http://www.w3.org/2000/svg" width="26" height="18" viewBox="0 0 26 18" fill="currentColor"><path fill-rule="evenodd" clip-rule="evenodd" d="M0 0.811989C0 0.36354 0.36354 0 0.811989 0H15.4278C15.8763 0 16.2398 0.36354 16.2398 0.811989V3.10596H21.0144C23.6241 3.10596 25.8643 5.05894 25.8643 7.61523V14.6414C25.8643 15.0899 25.5007 15.4534 25.0523 15.4534H23.545C23.2139 16.9115 21.9098 18 20.3514 18C18.7931 18 17.4889 16.9115 17.1578 15.4534H8.69534C8.36423 16.9115 7.0601 18 5.50175 18C3.9434 18 2.63927 16.9115 2.30815 15.4534H0.811989C0.36354 15.4534 0 15.0899 0 14.6414V0.811989ZM2.35089 13.8294C2.74052 12.4562 4.00366 11.4503 5.50175 11.4503C6.99983 11.4503 8.26298 12.4562 8.6526 13.8294H14.6158V1.62398H1.62398V13.8294H2.35089ZM16.2398 4.72994V7.95749H24.2403V7.61523C24.2403 6.08759 22.8649 4.72994 21.0144 4.72994H16.2398ZM24.2403 9.58147H16.2398V13.8294H17.2006C17.5902 12.4562 18.8533 11.4503 20.3514 11.4503C21.8495 11.4503 23.1126 12.4562 23.5023 13.8294H24.2403V9.58147ZM5.50175 13.0743C4.58999 13.0743 3.85087 13.8134 3.85087 14.7251C3.85087 15.6369 4.58999 16.376 5.50175 16.376C6.41351 16.376 7.15263 15.6369 7.15263 14.7251C7.15263 13.8134 6.41351 13.0743 5.50175 13.0743ZM20.3514 13.0743C19.4397 13.0743 18.7005 13.8134 18.7005 14.7251C18.7005 15.6369 19.4397 16.376 20.3514 16.376C21.2632 16.376 22.0023 15.6369 22.0023 14.7251C22.0023 13.8134 21.2632 13.0743 20.3514 13.0743Z"/></svg>
            </button></hdt-tooltip>
          {%- endif -%}
        </div>
        <div class="hdt-mini-cart__bottom-wrap">
          {%- for block in section.blocks -%}
            {%- case block.type -%}
              {%- when 'subtotal' -%}
                <div class="hdt-cart-totals-discounts" {{ block.shopify_attributes }}>
                  {%- if cart.cart_level_discount_applications.size > 0 -%}
                    <ul class="hdt-discounts hdt-cart_discounts" role="list" aria-label="{{ 'customer.order.discount' | t }}">
                      {%- for discount in cart.cart_level_discount_applications -%}
                        <li class="hdt-discounts__discount hdt-discounts__discount--end">
                          {%- render 'icon' with 'discount' -%} {{ discount.title }} (-<span class="hdt-money">{{ discount.total_allocated_amount | money }}</span>)
                        </li>
                      {%- endfor -%}
                    </ul>
                  {%- endif -%}
                  <div class="hdt-mini-cart__totals hdt-flex hdt-align-center hdt-justify-between hdt-totals" role="status">
                    <h3 class="hdt-totals__total hdt-mini-cart__total hdt-text-2xl hdt-font-normal">{{ 'sections.cart.subtotal' | t }}</h3>
                    <span class="hdt-totals__total-value hdt-mini-cart__value hdt-text-2xl hdt-s-text hdt-font-semibold hdt-money">{{ cart.total_price | money_with_currency }}</span>
                  </div>
                </div>
              {%- when 'tax' -%}
                <div class="hdt-cart-tax hdt-s-text2 hdt-rte" {{ block.shopify_attributes }}>
                  {%- if cart.taxes_included and shop.shipping_policy.body != blank -%}
                    {{ 'sections.cart.taxes_included_and_shipping_policy_html' | t: link: shop.shipping_policy.url }}
                  {%- elsif cart.taxes_included -%}
                    {{ 'sections.cart.taxes_included_but_shipping_at_checkout' | t }}
                  {%- elsif shop.shipping_policy.body != blank -%}
                    {{ 'sections.cart.taxes_and_shipping_policy_at_checkout_html' | t: link: shop.shipping_policy.url }}
                  {%- else -%}
                    {{ 'sections.cart.taxes_and_shipping_at_checkout' | t }}
                  {%- endif -%}
                </div>
              {%- when 'agree' -%}{%- render 'cart-checkbox', form_id: form_id, block: block -%}
                {%- when 'line' -%}
                  <div class="hdt-mini-cart__line"></div>
                {%- when 'bnt_cart_checkout' -%}
                  <div class="hdt-mini-cart__view-checkout hdt-row-grid hdt-grid-cols-1{% if block.settings.enable_btn_cart and block.settings.enable_btn_checkout %} lg:hdt-grid-cols-2{% endif %}" {{ block.shopify_attributes }}>
                    {%- if block.settings.enable_btn_cart -%}
                      <a href="{{ routes.cart_url }}" class="hdt-mini-cart__btn-viewcart hdt-inline-flex hdt-align-center hdt-justify-center hdt-relative hdt-btn hdt-oh hdt-btn-{{ block.settings.btn_style_cart }} hdt-font-{{ block.settings.btn_fw_cart }}"><span class="hdt-truncate">{{ 'sections.cart.view_cart' | t }}</span>
                        {%- if block.settings.btn_icon_cart == "1" -%}
                          <svg class="hdt-icon hdt-icon-1" xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 64 64" fill="currentColor"><path d="M12,56.43,36.48,32,12,7.52,19.53,0,51.61,32,19.53,64Z"/></svg>
                        {%- elsif block.settings.btn_icon_cart == "2" -%}
                          <svg class="hdt-icon hdt-icon-2" xmlns="http://www.w3.org/2000/svg" width="12" height="12"  viewBox="0 0 64 64" fill="currentColor"><path d="M6.89,64,0,57.11,47.26,9.85H4.92V0H64V59.08H54.15V16.74Z"/></svg>
                        {%- endif -%}
                      </a>
                    {%- endif -%}
                    {%- if block.settings.enable_btn_checkout -%}
                      {%- assign has_cart_form = true -%}
                      <wrapp-hdt-cart-form class="hdt-contents">
                      <form will-change-cart action="{{ routes.cart_url }}" id="{{ form_id }}" method="POST" {{ block.shopify_attributes }}>
                        <input type="hidden" name="attributes[products_items_per_row]" value="">  
                        <button type="submit" data-loading-bar  name="checkout" class="hdt-mini-cart__btn-checkout hdt-inline-flex hdt-align-center hdt-justify-center hdt-relative hdt-btn hdt-oh hdt-btn-{{ block.settings.btn_style_checkout }} hdt-font-{{ block.settings.btn_fw_checkout }}"><span class="hdt-truncate">{{ 'sections.cart.checkout' | t }}</span>
                        {%- if block.settings.btn_icon_checkout == "1" -%}
                          <svg class="hdt-icon hdt-icon-1" xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 64 64" fill="currentColor"><path d="M12,56.43,36.48,32,12,7.52,19.53,0,51.61,32,19.53,64Z"/></svg>
                        {%- elsif block.settings.btn_icon_checkout == "2" -%}
                          <svg class="hdt-icon hdt-icon-2" xmlns="http://www.w3.org/2000/svg" width="12" height="12"  viewBox="0 0 64 64" fill="currentColor"><path d="M6.89,64,0,57.11,47.26,9.85H4.92V0H64V59.08H54.15V16.74Z"/></svg>
                        {%- endif -%}
                        </button>
                      </form>
                      </wrapp-hdt-cart-form>
                    {%- endif -%}
                  </div>
                  {%- when 'img_trust' -%}
                  <div class="hdt-mini-cart__imgtrust hdt-text-center">
                    {%- if block.settings.mess != blank -%}
                      <p class="hdt-mini-cart__imgtrust-mess hdt-s-text hdt-font-semibold">{{ block.settings.mess }}</p>
                    {%- endif -%}
                    {%- capture html_trust -%}
                      {%- if block.settings.source == '1' and block.settings.image != blank -%}
                        {%- assign image_size_2x = block.settings.wimg | times: 2 -%}
                        <div class="hdt-mini-cart__imgtrust-image hdt-block lg:hdt-inline-block" style="max-width: min(100%, {{ block.settings.wimg }}px);">
                          <img width="{{ block.settings.image.width }}" class="hdt-inline-block" height="{{ block.settings.image.height }}" srcset="{{ block.settings.image | image_url: width: block.settings.image_width }}, {{ block.settings.image | image_url: width: image_size_2x }} 2x" src="{{ block.settings.image | image_url: width: 760 }}" alt="{{ block.settings.image.alt | escape }}" loading="lazy">
                        </div>
                      {%- elsif block.settings.svg != blank -%}
                        {%- assign arr = block.settings.svg | remove: ' ' | split: "," -%}
                        <div class="hdt-mini-cart__imgtrust-svgs hdt-block lg:hdt-inline-block" style="--height-img:{{ block.settings.height }}px;">
                          {%- for img in arr -%}
                            <div class="hdt-payment-item hdt-inline-block">{{ img | payment_type_svg_tag: class: 'hdt-icon-payment hdt-inline-block' }}</div>
                          {%- endfor -%}
                        </div>
                      {%- endif -%}
                    {%- endcapture -%}
                    {{- html_trust -}}
                  </div>
                  {%- when 'payment-terms' -%}
                    <div class="hdt-cart-payment-terms" {{ block.shopify_attributes }}>
                      {%- form 'cart', cart -%}
                        <span data-cart-subtotal class="hdt-hidden hdt-money">{{ cart.total_price | money }}</span>
                        {{ form | payment_terms }}
                      {%- endform -%}
                    </div>
            {%- endcase -%}
          {%- endfor -%}
        </div>
      </div>
    {%- endif -%}
    {%- if cart != empty -%}
      {%- if section.settings.show_cart_note -%}
        <hdt-cart-openable class="hdt-mini-cart__tool-openable hdt-fixed hdt-top-0 hdt-right-0 hdt-bottom-0 hdt-left-0 is--note" id="dialog-is--note" hidden template="hdt-tmp-drawer">
          <hdt-cart-note class="hdt-mini-cart__tool-content">
            <label for="Cart-note" data-label-note class="hdt-block hdt-mini-cart__tool-text hdt-s-text">
              <div class="hdt-flex hdt-align-center" {% if cart.note != blank %} hidden {% endif %}>
                <div class="hdt-mini-cart__tool-note-icon hdt-inline-flex hdt-align-center hdt-justify-center hdt-rounded-full">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="18" viewBox="0 0 16 18" fill="currentColor"><path d="M5.12187 16.4582H2.78952C2.02045 16.4582 1.39476 15.8325 1.39476 15.0634V2.78952C1.39476 2.02045 2.02045 1.39476 2.78952 1.39476H11.3634C12.1325 1.39476 12.7582 2.02045 12.7582 2.78952V7.07841C12.7582 7.46357 13.0704 7.77579 13.4556 7.77579C13.8407 7.77579 14.1529 7.46357 14.1529 7.07841V2.78952C14.1529 1.25138 12.9016 0 11.3634 0H2.78952C1.25138 0 0 1.25138 0 2.78952V15.0634C0 16.6015 1.25138 17.8529 2.78952 17.8529H5.12187C5.50703 17.8529 5.81925 17.5407 5.81925 17.1555C5.81925 16.7704 5.50703 16.4582 5.12187 16.4582Z"></path><path d="M15.3882 10.0971C14.5724 9.28136 13.2452 9.28132 12.43 10.0965L8.60127 13.9168C8.51997 13.9979 8.45997 14.0979 8.42658 14.2078L7.59276 16.9528C7.55646 17.0723 7.55292 17.1993 7.58249 17.3207C7.61206 17.442 7.67367 17.5531 7.76087 17.6425C7.84807 17.7319 7.95768 17.7962 8.07823 17.8288C8.19879 17.8613 8.32587 17.8609 8.44621 17.8276L11.261 17.0479C11.3769 17.0158 11.4824 16.9543 11.5675 16.8694L15.3882 13.0559C16.2039 12.2401 16.2039 10.9129 15.3882 10.0971ZM10.712 15.7527L9.29586 16.145L9.71028 14.7806L12.2937 12.2029L13.2801 13.1893L10.712 15.7527ZM14.4025 12.0692L14.2673 12.204L13.2811 11.2178L13.4157 11.0834C13.6876 10.8115 14.1301 10.8115 14.402 11.0834C14.6739 11.3553 14.6739 11.7977 14.4025 12.0692Z"></path></svg>
                </div>
                <span class="hdt-txt_add_note hdt-inline-flex hdt-font-semibold">{{ 'sections.cart.add_note' | t }}</span>
              </div>
              <div class="hdt-flex hdt-align-center" {% if cart.note == blank %} hidden {% endif %}>
                <div class="hdt-mini-cart__tool-note-icon hdt-inline-flex hdt-align-center hdt-justify-center hdt-rounded-full">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="18" viewBox="0 0 16 18" fill="currentColor"><path d="M11.3634 7.67118C11.3634 7.28602 11.0512 6.9738 10.666 6.9738H3.48303C3.09787 6.9738 2.78565 7.28602 2.78565 7.67118C2.78565 8.05634 3.09787 8.36856 3.48303 8.36856H10.666C11.0512 8.36856 11.3634 8.05634 11.3634 7.67118ZM3.48303 9.76332C3.09787 9.76332 2.78565 10.0755 2.78565 10.4607C2.78565 10.8459 3.09787 11.1581 3.48303 11.1581H7.84552C8.23069 11.1581 8.5429 10.8459 8.5429 10.4607C8.5429 10.0755 8.23069 9.76332 7.84552 9.76332H3.48303Z"/><path d="M5.12187 16.4582H2.78952C2.02045 16.4582 1.39476 15.8325 1.39476 15.0634V2.78952C1.39476 2.02045 2.02045 1.39476 2.78952 1.39476H11.3634C12.1325 1.39476 12.7582 2.02045 12.7582 2.78952V7.07841C12.7582 7.46357 13.0704 7.77579 13.4556 7.77579C13.8407 7.77579 14.1529 7.46357 14.1529 7.07841V2.78952C14.1529 1.25138 12.9016 0 11.3634 0H2.78952C1.25138 0 0 1.25138 0 2.78952V15.0634C0 16.6015 1.25138 17.8529 2.78952 17.8529H5.12187C5.50703 17.8529 5.81925 17.5407 5.81925 17.1555C5.81925 16.7704 5.50703 16.4582 5.12187 16.4582Z"/><path d="M15.3882 10.0971C14.5724 9.28136 13.2452 9.28132 12.43 10.0965L8.60127 13.9168C8.51997 13.9979 8.45997 14.0979 8.42658 14.2078L7.59276 16.9528C7.55646 17.0723 7.55292 17.1993 7.58249 17.3207C7.61206 17.442 7.67367 17.5531 7.76087 17.6425C7.84807 17.7319 7.95768 17.7962 8.07823 17.8288C8.19879 17.8613 8.32587 17.8609 8.44621 17.8276L11.261 17.0479C11.3769 17.0158 11.4824 16.9543 11.5675 16.8694L15.3882 13.0559C16.2039 12.2401 16.2039 10.9129 15.3882 10.0971ZM10.712 15.7527L9.29586 16.145L9.71028 14.7806L12.2937 12.2029L13.2801 13.1893L10.712 15.7527ZM14.4025 12.0692L14.2673 12.204L13.2811 11.2178L13.4157 11.0834C13.6876 10.8115 14.1301 10.8115 14.402 11.0834C14.6739 11.3553 14.6739 11.7977 14.4025 12.0692ZM10.666 4.18428H3.48303C3.09787 4.18428 2.78565 4.4965 2.78565 4.88166C2.78565 5.26682 3.09787 5.57904 3.48303 5.57904H10.666C11.0512 5.57904 11.3634 5.26682 11.3634 4.88166C11.3634 4.4965 11.0512 4.18428 10.666 4.18428Z"/></svg>
                </div>
                <span class="hdt-txt_edit_note hdt-inline-flex hdt-font-semibold">{{ 'sections.cart.edit_note' | t }}</span>
              </div>
            </label>
            <textarea name="note" id="Cart-note" placeholder="{{ 'sections.cart.placeholder_note' | t | escape }}">{{ cart.note }}</textarea>
            <div class="hdt-cart__tool-btns hdt-row-flex hdt-justify-center hdt-align-center hdt-text-center">
              <div class="hdt-col">
                <wrapp-close-btn class="hdt-contents"><button type="button" class="hdt-mini-cart-tool__primary hdt-inline-flex hdt-align-center hdt-justify-center hdt-relative hdt-btn hdt-oh hdt-btn-link hdt-font-semibold"><span class="hdt-truncate">{{ 'sections.cart.tool.close' | t }}</span></button></wrapp-close-btn>
              </div>
            </div>
          </hdt-cart-note>
        </hdt-cart-openable>
      {%- endif -%}
      {%- if section.settings.show_gift_wrap and gift_wrap_pr_quantity == 0 -%}
        <hdt-cart-openable class="hdt-mini-cart__tool-openable hdt-fixed hdt-top-0 hdt-right-0 hdt-bottom-0 hdt-left-0 is--gift" id="dialog-is--gift" hidden template="hdt-tmp-drawer">
          <wrapp-hdt-pr-frm class="hdt-contents">
          {%- form 'product', gift_wrap_pr, id: 'product-form-git-wrap', class: 'hdt-product-form-addgift', novalidate: 'novalidate', action: routes.root_url -%}
            <input type="hidden" name="action_added" value="no">
            <input type="hidden" name="quantity" value="{{ gift_wrap_pr.selected_or_first_available_variant.min }}">
            <input type="hidden" name="id" value="{{ gift_wrap_pr_id }}">
            <div class="hdt-mini-cart__tool-content">
              <div class="hdt-block hdt-mini-cart__tool-text hdt-s-text">
                <div class="hdt-mini-cart__tool-gift-icon hdt-s-gradient hdt-inline-flex hdt-align-center hdt-justify-center hdt-rounded-full">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="currentColor"><path fill-rule="evenodd" clip-rule="evenodd" d="M4.65957 3.64545C4.65957 0.73868 7.89921 -0.995558 10.3176 0.617949L11.9997 1.74021L13.6818 0.617949C16.1001 -0.995558 19.3398 0.73868 19.3398 3.64545V4.32992H20.4286C21.9498 4.32992 23.1829 5.56311 23.1829 7.08416V9.10087C23.1829 9.61861 22.7632 10.0383 22.2454 10.0383H21.8528V20.2502C21.8528 20.254 21.8527 20.2577 21.8527 20.2614C21.8467 22.3272 20.1702 24 18.103 24H5.89634C3.82541 24 2.14658 22.3212 2.14658 20.2502V10.0384H1.75384C1.23611 10.0384 0.816406 9.61865 0.816406 9.10092V7.08421C0.816406 5.56304 2.04953 4.32992 3.57069 4.32992H4.65957V3.64545ZM6.53445 4.32992H11.0622V3.36863L9.27702 2.17757C8.10519 1.39573 6.53445 2.2357 6.53445 3.64545V4.32992ZM12.9371 3.36863V4.32992H17.4649V3.64545C17.4649 2.2357 15.8942 1.39573 14.7223 2.17756L12.9371 3.36863ZM3.57069 6.2048C3.08499 6.2048 2.69128 6.59851 2.69128 7.08421V8.16348H8.31067L8.3107 6.2048H3.57069ZM8.31071 10.0384V18.5741C8.31071 18.9075 8.48779 19.2158 8.77577 19.3838C9.06376 19.5518 9.4193 19.5542 9.70953 19.3901L11.9997 18.0953L14.2898 19.3901C14.58 19.5542 14.9356 19.5518 15.2236 19.3838C15.5115 19.2158 15.6886 18.9075 15.6886 18.5741V10.0383H19.9779V20.2137C19.9778 20.2169 19.9778 20.2201 19.9778 20.2233V20.2502C19.9778 21.2857 19.1384 22.1251 18.103 22.1251H5.89634C4.86088 22.1251 4.02146 21.2857 4.02146 20.2502V10.0384H8.31071ZM21.308 8.16344V7.08416C21.308 6.59854 20.9143 6.2048 20.4286 6.2048H15.6886V8.16344H21.308ZM13.8138 6.2048H10.1856V16.9672L11.5383 16.2024C11.8246 16.0405 12.1748 16.0405 12.461 16.2024L13.8138 16.9672V6.2048Z"/></svg>
                </div>
                <div class="hdt-gift_wrap-infos hdt-inline-block">
                  {%- assign gift_pr_money = gift_wrap_pr.variants.first.price | money -%}
                  {{ 'sections.cart.tool.gift_wrap_html' | t: money: gift_pr_money }}
                </div>
              </div>
              <div class="hdt-cart__tool-btns hdt-row-flex hdt-flex-cols-1 lg:hdt-flex-cols-2 hdt-justify-center hdt-align-center hdt-text-center">
                <div class="hdt-col">
                  <button type="submit" name="add" class="hdt-cart__tool-primary hdt-inline-flex hdt-align-center hdt-justify-center hdt-relative hdt-btn hdt-oh hdt-btn-solid hdt-font-semibold"><span class="hdt-truncate">{{ 'sections.cart.tool.add_gift_wrap' | t }}</span></button>
                </div>
                <div class="hdt-col">
                  <wrapp-close-btn class="hdt-contents"><button type="button" class="hdt-mini-cart-tool__back hdt-inline-flex hdt-align-center hdt-justify-center hdt-relative hdt-btn hdt-oh hdt-btn-link hdt-font-semibold"><span class="hdt-truncate">{{ 'sections.cart.tool.cancel' | t }}</span></button></wrapp-close-btn>
                </div>
              </div>
            </div>
          {%- endform -%}
          </wrapp-hdt-pr-frm>
        </hdt-cart-openable>
      {%- endif -%}
      {%- if section.settings.show_shipping_estimator -%}
        <hdt-cart-openable class="hdt-mini-cart__tool-openable hdt-fixed hdt-top-0 hdt-right-0 hdt-bottom-0 hdt-left-0 is--rates" id="dialog-is--rates" hidden template="hdt-tmp-drawer">
          <div class="hdt-mini-cart__tool-content">
            <div class="hdt-mini-cart__tool-wrap">
              {%- render 'shipping-calculator', form_id: form_id -%}
            </div>
          </div>
        </hdt-cart-openable>
      {%- endif -%}
    {%- endif -%}
    {%- unless has_cart_form %}<wrapp-hdt-cart-form class="hdt-contents"><form will-change-cart action="{{ routes.cart_url }}" id="{{ form_id }}" method="POST"><input type="hidden" name="attributes[products_items_per_row]" value=""></form></wrapp-hdt-cart-form>{% endunless -%}
  </div>
</hdt-cart-drawer>
<svg class="hdt-hidden">
  <symbol id="icon-cart-remove" viewBox="0 0 16 16" fill="currentColor">
    <path d="M15.2 2.4H0.8C0.587827 2.4 0.384344 2.48429 0.234315 2.63431C0.0842854 2.78434 0 2.98783 0 3.2C0 3.41217 0.0842854 3.61566 0.234315 3.76569C0.384344 3.91571 0.587827 4 0.8 4H2.4V13.6C2.4 14.2365 2.65286 14.847 3.10294 15.2971C3.55303 15.7471 4.16348 16 4.8 16H11.2C11.5152 16.0001 11.8273 15.9381 12.1186 15.8175C12.4098 15.697 12.6744 15.5202 12.8973 15.2973C13.1202 15.0744 13.297 14.8098 13.4175 14.5186C13.5381 14.2273 13.6001 13.9152 13.6 13.6V4H15.2C15.4122 4 15.6157 3.91571 15.7657 3.76569C15.9157 3.61566 16 3.41217 16 3.2C16 2.98783 15.9157 2.78434 15.7657 2.63431C15.6157 2.48429 15.4122 2.4 15.2 2.4ZM12 13.6C11.9998 13.8121 11.9154 14.0155 11.7655 14.1655C11.6155 14.3154 11.4121 14.3998 11.2 14.4H4.8C4.58789 14.3998 4.38453 14.3154 4.23455 14.1655C4.08457 14.0155 4.00021 13.8121 4 13.6V4H12V13.6ZM6.4 1.6H9.6C9.81217 1.6 10.0157 1.51571 10.1657 1.36569C10.3157 1.21566 10.4 1.01217 10.4 0.8C10.4 0.587827 10.3157 0.384344 10.1657 0.234315C10.0157 0.0842854 9.81217 0 9.6 0H6.4C6.18783 0 5.98434 0.0842854 5.83431 0.234315C5.68429 0.384344 5.6 0.587827 5.6 0.8C5.6 1.01217 5.68429 1.21566 5.83431 1.36569C5.98434 1.51571 6.18783 1.6 6.4 1.6Z"/><path d="M7.2 11.2V7.2C7.2 6.98783 7.11571 6.78434 6.96569 6.63432C6.81566 6.48429 6.61217 6.4 6.4 6.4C6.18783 6.4 5.98434 6.48429 5.83431 6.63432C5.68429 6.78434 5.6 6.98783 5.6 7.2V11.2C5.6 11.4122 5.68429 11.6157 5.83431 11.7657C5.98434 11.9157 6.18783 12 6.4 12C6.61217 12 6.81566 11.9157 6.96569 11.7657C7.11571 11.6157 7.2 11.4122 7.2 11.2ZM10.4 11.2V7.2C10.4 6.98783 10.3157 6.78434 10.1657 6.63432C10.0157 6.48429 9.81217 6.4 9.6 6.4C9.38783 6.4 9.18434 6.48429 9.03432 6.63432C8.88429 6.78434 8.8 6.98783 8.8 7.2V11.2C8.8 11.4122 8.88429 11.6157 9.03432 11.7657C9.18434 11.9157 9.38783 12 9.6 12C9.81217 12 10.0157 11.9157 10.1657 11.7657C10.3157 11.6157 10.4 11.4122 10.4 11.2Z"/>
  </symbol>
  <symbol id="icon-cart-edit" viewBox="0 0 14 16" fill="currentColor">
    <path d="M1.61967 13.4726C1.77963 13.4726 1.81162 13.4566 1.95559 13.4246L4.83487 12.8488C5.13879 12.7688 5.44271 12.6248 5.68265 12.3849L12.6569 5.41065C13.7286 4.33892 13.7286 2.49937 12.6569 1.42764L12.0651 0.803799C10.9933 -0.267933 9.13779 -0.267933 8.06606 0.803799L1.0918 7.79405C0.867858 8.018 0.707898 8.33792 0.627918 8.64184L0.0200697 11.5531C-0.0599103 12.097 0.10005 12.6248 0.483954 13.0087C0.787878 13.3127 1.23577 13.4726 1.61967 13.4726ZM2.16353 8.94576L9.13779 1.95551C9.60167 1.49163 10.4495 1.49163 10.8974 1.95551L11.5052 2.56336C12.0491 3.10722 12.0491 3.87503 11.5052 4.4029L4.54694 11.3932L1.58768 11.889L2.16353 8.94576ZM12.5929 14.4644H0.787878C0.323994 14.4644 0.0200697 14.7683 0.0200697 15.2322C0.0200697 15.6961 0.403974 16 0.787878 16H12.5289C12.9928 16 13.3767 15.6961 13.3767 15.2322C13.3607 14.7683 12.9768 14.4644 12.5929 14.4644Z"/>
  </symbol>
</svg>
{%- endif -%}

{% schema %}
{
  "name": "t:sections.mini-cart.name",
  "class": "hdt-section-group hdt-section-cart-drawer",
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "checkbox",
      "id": "show_free_shipping_bar",
      "label": "t:sections.mini-cart.settings.show_free_shipping_bar.label",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_cart_note",
      "label": "t:sections.mini-cart.settings.show_cart_note.label",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_gift_wrap",
      "label": "t:sections.mini-cart.settings.show_gift_wrap.label",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_shipping_estimator",
      "label": "t:sections.mini-cart.settings.show_shipping_estimator.label",
      "default": true
    },
    {
      "type": "header",
      "content": "t:sections.mini-cart.settings.header_complementary.content"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "t:sections.mini-cart.settings.heading.label",
      "default": "Customers also bought"
    },
    {
      "type": "product_list",
      "id": "product_list",
      "limit":5,
      "label": "t:sections.mini-cart.settings.product_list.label",
      "info": "t:sections.mini-cart.settings.product_list.info"
    },
    {
      "type": "checkbox",
      "id": "replaces_products_selected",
      "label": "t:sections.mini-cart.settings.replaces_products_selected.label",
      "info": "t:sections.mini-cart.settings.replaces_products_selected.info",
      "default": true
    }
  ],
  "blocks": [
    {
      "type": "@app"
    },
    {
      "type": "subtotal",
      "name": "t:sections.mini-cart.blocks.price.name",
      "limit": 1,
      "settings":[    
        {
          "type": "paragraph",
          "content": "t:settings_schema.currency_format.settings.paragraph"
        }
      ]
    },
    {
      "type": "tax",
      "name": "t:sections.mini-cart.blocks.tax.name",
      "limit": 1
    },
    {
      "type": "agree",
      "name": "t:sections.mini-cart.blocks.agree.name",
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "t:sections.mini-cart.blocks.agree.settings.paragraph.content"
        },
        {
          "type": "inline_richtext",
          "id": "content",
          "label": "t:sections.mini-cart.blocks.agree.settings.content.label",
          "default": "I agree with the terms and conditions"
        }
      ]
    },
    {
      "type": "line",
      "name": "t:sections.mini-cart.blocks.line.name",
      "limit": 1
    },
    {
      "type": "bnt_cart_checkout",
      "name": "t:sections.mini-cart.blocks.bnt_cart_checkout.name",
      "limit": 1,
      "settings": [
        {
          "type": "header",
          "content": "t:sections.mini-cart.blocks.bnt_cart_checkout.settings.header.content1"
        },
        {
          "type": "checkbox",
          "id": "enable_btn_cart",
          "label": "t:sections.mini-cart.blocks.bnt_cart_checkout.settings.enable_btn_update.label",
          "default": true
        },
        {
          "type": "select",
          "id": "btn_style_cart",
          "label": "t:sections.all.button.settings.style.label",
          "options": [
            {
              "value": "solid",
              "label": "t:sections.all.button.settings.style.options.option_1"
            },
            {
              "value": "outline",
              "label": "t:sections.all.button.settings.style.options.option_2"
            },
            {
              "value": "link",
              "label": "t:sections.all.button.settings.style.options.option_3"
            }
          ],
          "default": "outline"
        },
        {
          "type": "select",
          "id": "btn_fw_cart",
          "label": "t:sections.all.button.settings.font_weight.label",
          "options": [
            {
              "value": "normal",
              "label": "t:sections.all.button.settings.font_weight.options.option_1"
            },
            {
              "value": "medium",
              "label": "t:sections.all.button.settings.font_weight.options.option_2"
            },
            {
              "value": "semibold",
              "label": "t:sections.all.button.settings.font_weight.options.option_3"
            },
            {
              "value": "bold",
              "label": "t:sections.all.button.settings.font_weight.options.option_4"
            }
          ],
          "default": "normal"
        },
        {
          "type": "select",
          "id": "btn_icon_cart",
          "label": "t:sections.all.button.settings.icon.label",
          "options": [
            {
              "value": "none",
              "label": "t:sections.all.button.settings.icon.options.option_0"
            },
            {
              "value": "1",
              "label": "t:sections.all.button.settings.icon.options.option_1"
            },
            {
              "value": "2",
              "label": "t:sections.all.button.settings.icon.options.option_2"
            }
          ],
          "default": "none"
        },
        {
          "type": "header",
          "content": "t:sections.mini-cart.blocks.bnt_cart_checkout.settings.header.content2"
        },
        {
          "type": "checkbox",
          "id": "enable_btn_checkout",
          "label": "t:sections.mini-cart.blocks.bnt_cart_checkout.settings.enable_btn_checkout.label",
          "default": true
        },
        {
          "type": "select",
          "id": "btn_style_checkout",
          "label": "t:sections.all.button.settings.style.label",
          "options": [
            {
              "value": "solid",
              "label": "t:sections.all.button.settings.style.options.option_1"
            },
            {
              "value": "outline",
              "label": "t:sections.all.button.settings.style.options.option_2"
            },
            {
              "value": "link",
              "label": "t:sections.all.button.settings.style.options.option_3"
            }
          ],
          "default": "solid"
        },
        {
          "type": "select",
          "id": "btn_fw_checkout",
          "label": "t:sections.all.button.settings.font_weight.label",
          "options": [
            {
              "value": "normal",
              "label": "t:sections.all.button.settings.font_weight.options.option_1"
            },
            {
              "value": "medium",
              "label": "t:sections.all.button.settings.font_weight.options.option_2"
            },
            {
              "value": "semibold",
              "label": "t:sections.all.button.settings.font_weight.options.option_3"
            },
            {
              "value": "bold",
              "label": "t:sections.all.button.settings.font_weight.options.option_4"
            }
          ],
          "default": "normal"
        },
        {
          "type": "select",
          "id": "btn_icon_checkout",
          "label": "t:sections.all.button.settings.icon.label",
          "options": [
            {
              "value": "none",
              "label": "t:sections.all.button.settings.icon.options.option_0"
            },
            {
              "value": "1",
              "label": "t:sections.all.button.settings.icon.options.option_1"
            },
            {
              "value": "2",
              "label": "t:sections.all.button.settings.icon.options.option_2"
            }
          ],
          "default": "none"
        }
      ]
    },
    {
      "type": "img_trust",
      "name": "t:sections.mini-cart.blocks.img_trust.name",
      "limit": 1,
      "settings": [
        {
          "type": "textarea",
          "id": "mess",
          "label": "t:sections.mini-cart.blocks.img_trust.settings.mess.label",
          "default": "Guarantee Safe Checkout",
          "placeholder": "Guarantee Safe Checkout"
        },
        {
          "type": "select",
          "id": "source",
          "label": "t:sections.mini-cart.blocks.img_trust.settings.source.label",
          "default": "1",
          "options": [
            {
              "value": "1",
              "label": "t:sections.mini-cart.blocks.img_trust.settings.source.options__1.label"
            },
            {
              "value": "2",
              "label": "t:sections.mini-cart.blocks.img_trust.settings.source.options__2.label"
            }
          ]
        },
        {
          "type": "header",
          "content": "t:sections.mini-cart.blocks.img_trust.settings.header_image.content"
        },        
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:sections.mini-cart.blocks.img_trust.settings.image.label"
        },
        {
          "type": "range",
          "id": "wimg",
          "min": 100,
          "max": 600,
          "step": 5,
          "unit": "px",
          "label": "t:sections.mini-cart.blocks.img_trust.settings.wimg.label",
          "default": 350
        },
        {
          "type": "header",
          "content": "t:sections.mini-cart.blocks.img_trust.settings.header_svg.content"
        },
        {
          "type": "textarea",
          "id": "svg",
          "label": "t:sections.mini-cart.blocks.img_trust.settings.svg.label",
          "default": "visa,paypal,master,american_express,amazon_payments",
          "info": "amazon_payments,american_express,apple_pay,bitcoin,dankort,diners_club,discover,dogecoin,dwolla,forbrugsforeningen,interac,google_pay,jcb,klarna,klarna-pay-later,litecoin,maestro,master,paypal,shopify_pay,sofort,visa"
        },
        {
          "type": "range",
          "id": "height",
          "min": 1,
          "max": 100,
          "step": 1,
          "label": "t:sections.mini-cart.blocks.img_trust.settings.height.label",
          "unit": "px",
          "default": 25
        }
      ]
    },
    {
      "type": "payment-terms",
      "name": "t:sections.mini-cart.blocks.payment-terms.name",
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "t:sections.mini-cart.blocks.payment-terms.settings.info.content"
        }
      ]
    }
  ],
  "default": {
    "blocks": [
      {
        "type": "subtotal"
      },
      {
        "type": "tax"
      },
      {
        "type": "agree"
      },
      {
        "type": "bnt_cart_checkout"
      }
    ]
  }
}
{% endschema %}