<!-- sections/icon-box.liquid -->
{{ 'hdt-icon-box.css' | asset_url | stylesheet_tag }}
{%- if section.settings.carousel_mobile -%}
  {%- capture scrollsnap-dots -%}
    <div class="hdt-icon-box__scrollsnap-dots hdt-scrollsnap-dots hdt-text-center hdt-hidden">
      {%- for block in section.blocks -%}
        <button class="hdt-scrollsnap-dot__link hdt-scrollsnap-dot"></button> 
      {%- endfor -%}
    </div>
  {%- endcapture -%}
  {%- assign sm_snap_flex = ' sm:hdt-snap-flex' -%}
{%- endif -%}
{%- assign ARRhtml1 = 'a,,' | split: ',' -%}
{%- assign ARRhtml2 = 'div,data-' | split: ',' -%}
<div timeline hdt-reveal="slide-in" class="hdt-icon-box{% if section.settings.fullwidth %} hdt-s-gradient hdt-section-spacing {% if section.settings.boxed_fullwidth %} hdt-rounded lg:hdt-mx-40 md:hdt-mx-30 hdt-mx-15 {% endif %} {% endif %}" color-scheme="{{ section.settings.color_scheme }}">
  <hdt-scrollsnap class="hdt-container">
    <div id="{{ section.id }}" class="hdt-icon-box__wrapper{% unless section.settings.fullwidth %} hdt-s-gradient hdt-section-spacing hdt-rounded hdt-px-15{% endunless %}">
      {%- render 'section-top-head' -%}
      {%- if section.blocks.size > 0 -%}
        <div id="Scroller-{{ section.id }}" class="hdt-icon-box__wrap hdt-icon-box__border-style-{{ section.settings.border_style }} lg:hdt-text-{% if section.settings.icon_pos_center %}center{% else %}start{% endif %} md:hdt-text-{% if section.settings.icon_pos_center %}center{% else %}start{% endif %} hdt-text-{% if section.settings.icon_pos_center_mb %}center{% else %}start{% endif %}{% if section.settings.icon_circle %} hdt-icon-box__icon-circle{% endif %} hdt-icon-box__heading-{{ section.settings.size_heading }}{% if section.settings.heading_uppercase %} hdt-icon-box__heading-uppercase{% endif %} hdt-icon-box__spacing-icon-heading-{{ section.settings.space_icon_heading }} hdt-icon-box__spacing-heading-content-{{ section.settings.space_heading_content }} hdt-scroll-snap hdt-snap-x md:hdt-justify-center hdt-row-flex lg:hdt-flex-cols-{{ section.settings.col_dk }} md:hdt-flex-cols-{{ section.settings.col_tb }} hdt-flex-cols-{{ section.settings.col_mb }}{{ sm_snap_flex }}">
          {%- for block in section.blocks -%}
            {%- case block.type -%}
            {%- when 'item' -%}
            {%-liquid
              assign image = block.settings.image_icon 
              if block.settings.link == blank 
                assign ARRhtml = ARRhtml2
              else 
                assign ARRhtml = ARRhtml1  
              endif 
            -%}
            <div id="Scroll-icon-box{{ forloop.index }}-{{ section.id }}" class="hdt-icon-box__item hdt-col hdt-snap-center">
              <{{ ARRhtml[0] }} {{ ARRhtml[1] }}href="{{ block.settings.link }}" class="hdt-icon-box__inner hdt-block" {{ ARRhtml[2] }}target="{% if section.settings.open_link %}_self{% else %}_blank{% endif %}">
                {%- if block.settings.icon_svg != 'none' or block.settings.image != blank or block.settings.custom_svg != blank -%}
                  <div class="hdt-icon-box__icon hdt-s-text hdt-inline-block" style="--icon-width: {{ block.settings.icon_width }}px;--icon-width-mb: {{ block.settings.icon_width_mb }}px;">
                    {%- if block.settings.image != blank -%} 
                    {%- capture size -%}
                    (max-width: 767px) {{ block.settings.icon_width_mb }}px, {{ block.settings.icon_width }}px
                    {%- endcapture -%}
                    {%- capture width -%}
                    {{ block.settings.icon_width_mb }}, {{ block.settings.icon_width_mb | times: 2 }}, {{ block.settings.icon_width }}, {{ block.settings.icon_width | times: 2 }}
                    {%- endcapture -%}
                      <div class="hdt-icon-box__icon-image">
                        {{ block.settings.image | image_url: width: image.width | image_tag: loading: 'lazy', width: block.settings.image.width, height: block.settings.image.height, sizes: size, widths: width }}
                      </div>
                    {%- elsif block.settings.custom_svg != blank -%}   
                      <div class="hdt-icon-box__icon-custom hdt-flex">{{ block.settings.custom_svg }}</div>
                    {%- else -%}
                      <div class="hdt-icon-box__icon-theme hdt-flex">
                        {%- render 'icon_theme_svg', icon_svg: block.settings.icon_svg -%}
                      </div>
                    {%- endif -%}
                  </div>
                {%- endif -%}
                <div class="hdt-icon-box__content">
                  {%- if block.settings.title != blank -%}<h3 class="hdt-icon-box__title hdt-s-text">{{ block.settings.title }}</h3>{%- endif -%}
                  {%- if block.settings.content != blank -%}<div class="hdt-icon-box__description hdt-s-text2{% if block.settings.adding_border %} hdt-rte{% else %} hdt-tag-list{% endif %}">{{ block.settings.content }}</div>{%- endif -%}
                </div>
              </{{ ARRhtml[0] }}>
            </div>
            {%- when 'item_img' -%}
              {%-liquid
                assign image = block.settings.image_icon 
                if block.settings.link == blank 
                  assign ARRhtml = ARRhtml2
                else 
                  assign ARRhtml = ARRhtml1  
                endif 
              -%}
              <div id="Scroll-icon-box{{ forloop.index }}-{{ section.id }}" class="hdt-icon-box__item hdt-col hdt-snap-center">
                <{{ ARRhtml[0] }} {{ ARRhtml[1] }}href="{{ block.settings.link }}" class="hdt-icon-box__inner hdt-block" {{ ARRhtml[2] }}target="{% if section.settings.open_link %}_self{% else %}_blank{% endif %}">
                  <div class="hdt-image-box__content">
                    <div class="hdt-image-box__img">
                      {%- if block.settings.image != blank -%}
                        {{ block.settings.image | image_url: width: image.width | image_tag: loading: 'lazy', sizes: size, widths: width }}
                      {%- endif -%}
                    </div>
                    <div class="hdt-image-box__spacing" style="background-color: rgb(var(--color-background2));">
                    {%- if block.settings.title != blank -%}<h3 class="hdt-icon-box__title hdt-s-text">{{ block.settings.title }}</h3>{%- endif -%}
                    {%- if block.settings.content != blank -%}<div class="hdt-icon-box__description hdt-s-text2{% if block.settings.adding_border %} hdt-rte{% else %} hdt-tag-list{% endif %}">{{ block.settings.content }}</div>{%- endif -%}
                    </div>
                  </div>
                </{{ ARRhtml[0] }}>
              </div>
          {%- endcase -%}
          {%- endfor -%}
        </div>
        {{- scrollsnap-dots -}}
      {%- endif -%}
    </div>
  </hdt-scrollsnap>
</div>
{%- style -%}#shopify-section-{{section.id}}{--section-pt:{{section.settings.padding_top}}px;--section-pb:{{section.settings.padding_bottom}}px;--section-prate:{{section.settings.padding_rate}}}{%- endstyle -%}
{% schema %}
{
  "name": "t:sections.icon-box.name",
  "class": "hdt-section hdt-section-icon-box",
  "disabled_on": {
    "groups": [
      "*"
    ]
  },
  "settings": [
    {
      "type": "header",
      "content": "t:sections.all.section_heading_options"
    },
    {
      "type": "select",
      "id": "heading_align",
      "label": "t:sections.title.settings.heading_align.label",
      "options": [
        {
          "value": "start",
          "label": "t:sections.title.settings.heading_align.options_1.label"
        },
        {
          "value": "center",
          "label": "t:sections.title.settings.heading_align.options_2.label"
        }
      ],
      "default": "center"
    },
    {
      "type": "text",
      "id": "sec_heading",
      "label": "t:sections.all.heading.label"
    },
    {
      "type": "select",
      "id": "heading_tag",
      "label": "t:sections.all.heading.heading_tag.label",
      "default": "h3",
      "options": [
        {
          "value": "h2",
          "label": "t:sections.all.heading.heading_tag.options_2.label"
        },
        {
          "value": "h3",
          "label": "t:sections.all.heading.heading_tag.options_3.label"
        },
        {
          "value": "h4",
          "label": "t:sections.all.heading.heading_tag.options_4.label"
        },
        {
          "value": "h5",
          "label": "t:sections.all.heading.heading_tag.options_5.label"
        },
        {
          "value": "h6",
          "label": "t:sections.all.heading.heading_tag.options_6.label"
        }
      ]
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "text-lg",
          "label": "t:sections.all.heading.heading_size.options.small"
        },
        {
          "value": "h5",
          "label": "t:sections.all.heading.heading_size.options.medium"
        },
        {
          "value": "h4",
          "label": "t:sections.all.heading.heading_size.options.large"
        },
        {
          "value": "h3",
          "label": "t:sections.all.heading.heading_size.options.extralarge"
        }
      ],
      "label": "t:sections.all.heading.heading_size.label",
      "default": "h4"
    },
    {
      "type": "richtext",
      "id": "sec_subheading",
      "label": "t:sections.all.sub_heading.label"
    },
    {
      "type": "select",
      "id": "subheading_size",
      "label": "t:sections.gallery.settings.sub_heading.options.subheading_size",
      "options": [
        {
          "value": "base",
          "label": "t:sections.all.sub_heading.subheading_size.options.base"
        },
        {
          "value": "lg",
          "label": "t:sections.all.sub_heading.subheading_size.options.default"
        },
        {
          "value": "xl",
          "label": "t:sections.all.sub_heading.subheading_size.options.medium"
        },
        {
          "value": "2xl",
          "label": "t:sections.all.sub_heading.subheading_size.options.large"
        },
        {
          "value": "10xl",
          "label": "t:sections.all.sub_heading.subheading_size.options.extralarge"
        }
      ],
      "default": "lg"
    },
    {
      "type": "checkbox",
      "id": "heading_reverse",
      "label": "t:sections.gallery.settings.heading_reverse",
      "default": false
    },
    {
      "type": "range",
      "id": "heading_gap",
      "min": 0,
      "max": 60,
      "step": 1,
      "unit": "px",
      "label": "t:sections.all.heading_gap",
      "default": 29
    },
    {
      "type": "range",
      "id": "sec_heading_spacing",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:sections.all.sec_heading_spacing",
      "default": 30
    },
    {
      "type": "header",
      "content": "t:sections.icon-box.settings.header.content"
    },
    {
      "type": "checkbox",
      "id": "icon_pos_center",
      "label": "t:sections.icon-box.settings.icon_pos_center.label"
    },
    {
      "type": "checkbox",
      "id": "icon_pos_center_mb",
      "label": "t:sections.icon-box.settings.icon_pos_center_mb.label",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "icon_circle",
      "label": "t:sections.icon-box.settings.icon_circle.label"
    },
    {
      "type": "select",
      "id": "space_icon_heading",
      "label": "t:sections.icon-box.settings.space_icon_heading.label",
      "default": "medium",
      "options": [
        {
          "value": "small",
          "label": "t:sections.icon-box.settings.sizes.small"
        },
        {
          "value": "medium",
          "label": "t:sections.icon-box.settings.sizes.medium"
        },
        {
          "value": "large",
          "label": "t:sections.icon-box.settings.sizes.large"
        }
      ]
    },
    {
      "type": "select",
      "id": "size_heading",
      "label": "t:sections.icon-box.settings.size_heading.label",
      "default": "medium",
      "options": [
        {
          "value": "small",
          "label": "t:sections.icon-box.settings.sizes.small"
        },
        {
          "value": "medium",
          "label": "t:sections.icon-box.settings.sizes.medium"
        },
        {
          "value": "large",
          "label": "t:sections.icon-box.settings.sizes.large"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "heading_uppercase",
      "label": "t:sections.icon-box.settings.heading_uppercase.label"
    },
    {
      "type": "select",
      "id": "space_heading_content",
      "label": "t:sections.icon-box.settings.space_heading_content.label",
      "default": "small",
      "options": [
        {
          "value": "none",
          "label": "t:sections.icon-box.settings.sizes.none"
        },
        {
          "value": "small",
          "label": "t:sections.icon-box.settings.sizes.small"
        },
        {
          "value": "medium",
          "label": "t:sections.icon-box.settings.sizes.medium"
        },
        {
          "value": "large",
          "label": "t:sections.icon-box.settings.sizes.large"
        }
      ]
    },
    {
      "type": "select",
      "id": "col_dk",
      "label": "t:sections.all.items_row.desktop",
      "default": "4",
      "options": [
        {
          "label": "1",
          "value": "1"
        },
        {
          "label": "2",
          "value": "2"
        },
        {
          "label": "3",
          "value": "3"
        },
        {
          "label": "4",
          "value": "4"
        },
        {
          "label": "5",
          "value": "5"
        },
        {
          "label": "6",
          "value": "6"
        }
      ]
    },
    {
      "type": "select",
      "id": "col_tb",
      "label": "t:sections.all.items_row.tablet",
      "default": "2",
      "options": [
        {
          "label": "1",
          "value": "1"
        },
        {
          "label": "2",
          "value": "2"
        },
        {
          "label": "3",
          "value": "3"
        },
        {
          "label": "4",
          "value": "4"
        }
      ]
    },
    {
      "type": "select",
      "id": "col_mb",
      "label": "t:sections.all.items_row.mobile",
      "default": "1",
      "options": [
        {
          "label": "1",
          "value": "1"
        },
        {
          "label": "2",
          "value": "2"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "carousel_mobile",
      "label": "t:sections.icon-box.settings.carousel_mobile.label",
      "default": true
    },
    {
      "type": "select",
      "id": "border_style",
      "label": "t:sections.icon-box.settings.border_style.label",
      "default": "none",
      "options": [
        {
          "label": "t:sections.icon-box.settings.border_style.options__1.label",
          "value": "none"
        },
        {
          "label": "t:sections.icon-box.settings.border_style.options__2.label",
          "value": "1"
        },
        {
          "label": "t:sections.icon-box.settings.border_style.options__3.label",
          "value": "2"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:sections.all.section_layout"
    },
    {
      "type": "checkbox",
      "id": "fullwidth",
      "label": "t:sections.all.section_fullwidth",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "boxed_fullwidth",
      "label": "t:sections.all.boxed.label",
      "info": "t:sections.all.boxed.info",
      "default": false
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_rate",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "%",
      "label": "t:sections.all.padding.padding_rate",
      "default": 75
    }
  ],
  "blocks": [
    {
      "type": "item",
      "name": "t:sections.icon-box.blocks.name",
      "settings": [
        {
          "type": "select",
          "id": "icon_svg",
          "label": "t:sections.icon-box.blocks.item.icon_svg.label",
          "default": "box",
          "options": [
            {
              "value": "none",
              "label": "t:sections.icon-box.blocks.item.icon_svg.options__1.label"
            },
            {
              "value": "box",
              "label": "t:sections.icon-box.blocks.item.icon_svg.options__2.label"
            },
            {
              "value": "box2",
              "label": "t:sections.icon-box.blocks.item.icon_svg.options__3.label"
            },
            {
              "value": "payment",
              "label": "t:sections.icon-box.blocks.item.icon_svg.options__4.label"
            },
            {
              "value": "payment2",
              "label": "t:sections.icon-box.blocks.item.icon_svg.options__5.label"
            },
            {
              "value": "return",
              "label": "t:sections.icon-box.blocks.item.icon_svg.options__6.label"
            },
            {
              "value": "return2",
              "label": "t:sections.icon-box.blocks.item.icon_svg.options__7.label"
            },
            {
              "value": "support",
              "label": "t:sections.icon-box.blocks.item.icon_svg.options__8.label"
            },
            {
              "value": "wave",
              "label": "t:sections.icon-box.blocks.item.icon_svg.options__9.label"
            },
            {
              "value": "plants",
              "label": "t:sections.icon-box.blocks.item.icon_svg.options__10.label"
            },
            {
              "value": "flowerpot",
              "label": "t:sections.icon-box.blocks.item.icon_svg.options__11.label"
            },
            {
              "value": "leaf",
              "label": "t:sections.icon-box.blocks.item.icon_svg.options__12.label"
            },
            {
              "value": "leaf2",
              "label": "t:sections.icon-box.blocks.item.icon_svg.options__13.label"
            },
            {
              "value": "smile",
              "label": "t:sections.icon-box.blocks.item.icon_svg.options__14.label"
            },
            {
              "value": "smile2",
              "label": "t:sections.icon-box.blocks.item.icon_svg.options__15.label"
            },
            {
              "value": "delicious",
              "label": "t:sections.icon-box.blocks.item.icon_svg.options__16.label"
            },
            {
              "value": "health",
              "label": "t:sections.icon-box.blocks.item.icon_svg.options__17.label"
            },
            {
              "value": "energy",
              "label": "t:sections.icon-box.blocks.item.icon_svg.options__18.label"
            },
            {
              "value": "skin",
              "label": "t:sections.icon-box.blocks.item.icon_svg.options__19.label"
            },
            {
              "value": "crescent_moon",
              "label": "t:sections.icon-box.blocks.item.icon_svg.options__20.label"
            },
            {
              "value": "diamond",
              "label": "t:sections.icon-box.blocks.item.icon_svg.options__21.label"
            },
            {
              "value": "various_sizes",
              "label": "t:sections.icon-box.blocks.item.icon_svg.options__22.label"
            }
          ]
        },
        {
          "type": "textarea",
          "id": "custom_svg",
          "label": "t:sections.icon-box.blocks.item.custom_svg.label",
          "info": "[Remixicon](https://remixicon.com/)"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image custom"
        },
        {
          "type": "range",
          "id": "icon_width",
          "label": "t:sections.icon-box.blocks.item.icon_width.label",
          "min": 24,
          "max": 60,
          "step": 1,
          "unit": "px",
          "default": 30
        },
        {
          "type": "range",
          "id": "icon_width_mb",
          "label": "t:sections.icon-box.blocks.item.icon_width_mb.label",
          "min": 24,
          "max": 60,
          "step": 1,
          "unit": "px",
          "default": 30
        },
        {
          "type": "url",
          "id": "link",
          "label": "t:sections.icon-box.blocks.item.link.label"
        },
        {
          "type": "checkbox",
          "id": "open_link",
          "label": "t:sections.icon-box.blocks.item.open_link.label"
        },
        {
          "type": "text",
          "id": "title",
          "label": "t:sections.icon-box.blocks.item.heading.label",
          "default": "Add a heading"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "t:sections.icon-box.blocks.item.content.label",
          "default": "<p>Use this text to describe<p>"
        },
        {
          "type": "checkbox",
          "id": "adding_border",
          "label": "t:sections.all.adding_border.label",
          "default": false
        }
      ]
    },
    {
      "type": "item_img",
      "name": "item image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image custom"
        },
        {
          "type": "url",
          "id": "link",
          "label": "t:sections.icon-box.blocks.item.link.label"
        },
        {
          "type": "checkbox",
          "id": "open_link",
          "label": "t:sections.icon-box.blocks.item.open_link.label"
        },
        {
          "type": "text",
          "id": "title",
          "label": "t:sections.icon-box.blocks.item.heading.label",
          "default": "Add a heading"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "t:sections.icon-box.blocks.item.content.label",
          "default": "<p>Use this text to describe<p>"
        },
        {
          "type": "checkbox",
          "id": "adding_border",
          "label": "t:sections.all.adding_border.label",
          "default": false
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.icon-box.name",
      "blocks": [
        {
          "type": "item",
          "settings": {
            "icon_svg": "box",
            "title": "Free Shipping",
            "content": "<p>You will love at great low prices</p>"
          }
        },
        {
          "type": "item",
          "settings": {
            "icon_svg": "payment",
            "title": "Flexible Payment",
            "content": "<p>Pay with Multiple Credit Cards</p>"
          }
        },
        {
          "type": "item",
          "settings": {
            "icon_svg": "return",
            "title": "14 Day Returns",
            "content": "<p>Within 30 days for an exchange</p>"
          }
        },
        {
          "type": "item",
          "settings": {
            "icon_svg": "support",
            "title": "Premium Suport",
            "content": "<p>Outstanding premium support</p>"
          }
        }
      ]
    }
  ]
}
{% endschema %}