<!-- Image-gallery-manual.liquid -->
{%- style -%}#shopify-section-{{section.id}}{--masonry-grid-row-height:{{section.settings.row_height}}px;--masonry-grid-row-height-tb:{{section.settings.row_height_tb}}px;--masonry-grid-row-height-mb:{{section.settings.row_height_mb}}px;--spacing-x:{{section.settings.spacing_items}}px;--spacing-y:{{section.settings.spacing_items}}px}.hdt-gallery-item .hdt-gallery-img::before{position:absolute;z-index:2;content:"";width:100%;height:100%;background-color:rgba(0,0,0,.1);top:0;left:0;transition:.4s ease .1s;opacity:0;visibility:hidden}.hdt-image-gallery-manual :is(wrapp-hdt-open-modal-btn, hdt-tooltip) { display:block;width:33px;height:33px;border-radius:var(--rounded-full);right:5px;top:5px;bottom:5px;left:5px;margin:auto;z-index:3; position: absolute;overflow: hidden; }.hdt-gallery-product{width:100%;height:100%;color:rgba(var(--color-button-text));background-color:rgba(var(--color-button));transition:.4s ease .1s}.hdt-gallery-product svg{width:12px;height:12px}.hdt-image-gallery-manual .hdt-grid-cols-10{--cols:10}.hdt-gallery-item .hdt-gallery-inner,.hdt-gallery-item .hdt-gallery-img,.hdt-gallery-item .hdt-gallery-img>div,.hdt-gallery-item .hdt-gallery-img img,.hdt-gallery-item .hdt-gallery-img svg{height:100%;width:100%}@media (-moz-touch-enabled:0),(hover:hover) and (min-width:1150px){.hdt-gallery-product:hover{background-color:rgba(var(--color-button-text));color:rgba(var(--color-button))}.hdt-gallery-product{opacity:0;visibility:hidden;transition:0.4s ease 0.1s}.hdt-gallery-item:hover .hdt-gallery-img::before,.hdt-gallery-item:hover .hdt-gallery-product{opacity:1;visibility:visible}}.hdt-masonry-gallery__item:first-child{grid-area:span 2 / span 2}.hdt-masonry-gallery__item{grid-area:span 1 / span 1}@media screen and (min-width:768px){.hdt-masonry-gallery__item:first-child{grid-area:span 2 / span 4}.hdt-masonry-gallery__item{grid-area:span 1 / span 2}.hdt-image-gallery-manual .md\:hdt-grid-cols-10{--cols:10}}@media screen and (min-width:1150px){.hdt-image-gallery-manual .lg\:hdt-grid-cols-12{--cols:10}}.hdt-masonry-gallery.hdt-ratio--custom{grid:auto-flow dense var(--masonry-row-height) / repeat(var(--cols),minmax(0,1fr));--masonry-row-height:var(--masonry-grid-row-height-mb)}.hdt-masonry-gallery.hdt-ratio--custom .hdt-masonry-gallery__item{height:100%;container-type:inline-size}@media screen and (min-width:768px){.hdt-masonry-gallery.hdt-ratio--custom{--masonry-row-height:var(--masonry-grid-row-height-tb)}}@media screen and (min-width:1150px){.hdt-masonry-gallery.hdt-ratio--custom{--masonry-row-height:var(--masonry-grid-row-height)}}{% if section.settings.spacing_items==0 %}.hdt-gallery-item .hdt-gallery-img .hdt-rounded,.hdt-gallery-item .hdt-gallery-inner{border-radius:0}.hdt-masonry-gallery border-radius:var(--rounded);overflow:hidden}{% endif %}{%- endstyle -%}
<div id="{{ section.id }}" class="hdt-section-spacing hdt-s-gradient" style="--section-pt: {{ section.settings.padding_top }}px; --section-pb: {{ section.settings.padding_bottom }}px; --section-prate:{{ section.settings.padding_rate }};" color-scheme="{{ section.settings.color_scheme }}">
  <div class="hdt-container{%- if section.settings.section_fullwidth -%}-full{% endif %} ">
    {%- render 'section-top-head' -%}
    <div class="hdt-masonry-gallery hdt-row-grid lg:hdt-grid-cols-10 md:hdt-grid-cols-10 hdt-grid-cols-2 hdt-ratio--{{ section.settings.image_ratio }} {% unless section.settings.image_size %} hdt-ratio--contain{% endunless %}">
      {%- for block in section.blocks -%}
        {%- liquid 
          assign image = block.settings.image
          assign product = block.settings.product_item
          capture current 
            cycle 1, 2, 3 
          endcapture -%}
        <div class="hdt-gallery-item hdt-masonry-gallery__item"  {{ block.shopify_attributes }} style="--item-column-span: {{ block.settings.column_width }}; --item-row-span: {{ block.settings.row_count }};--item-column-span-tb: {{ block.settings.tb_column_width }}; --item-row-span-tb: {{ block.settings.tb_row_count }};--item-column-span-mb: {{ block.settings.mb_column_width }}; --item-row-span-mb: {{ block.settings.mb_row_count }}" hdt-reveal="slide-in" timeline> 
          <div class="hdt-gallery-inner hdt-relative hdt-oh hdt-rounded">
            <div class="hdt-gallery-img" style="--aspect-ratioapt: {{ image.aspect_ratio | default: 1.2 }};">
              <div class="{% if section.settings.image_ratio != "custom" %}hdt-ratio {% endif %}hdt-oh hdt-rounded">
              {%- if image != blank -%}
                {{ image | image_url: width: image.width | image_tag: loading: 'lazy', width: image.width, height: image.height, class: '', sizes: '(max-width: 767px) 200px', widths: '285, 370, 385, 200' }}
              {%- else -%}
                {{ 'hero-apparel-' | append: current | placeholder_svg_tag: 'hdt-placeholder-svg' }}  
              {%- endif -%}
              {% if block.settings.item_link != blank %}<a class="hdt-full-width-link" href="{{ block.settings.item_link }}"></a>{% endif %}
            </div>
            </div>
            {%- if product != blank -%}
              {%- if settings.show_ultra_btn %}{% render 'btn-ultra', class: 'hdt-pr_btn hdt-gallery-product hdt-inline-flex hdt-align-center hdt-justify-center', product: product, product_url: product.url, section_id: block.id, placement: 'top' %}{% endif -%}
            {%- endif -%}
          </div> 
        </div>
      {%- endfor -%}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.gallery.name_manual",
  "tag": "section",
  "max_blocks": 12,
  "class": "hdt-section hdt-image-gallery-manual",
  "disabled_on": {
    "groups": [
      "*"
    ]
  },
  "settings": [
    {
      "type": "header",
      "content": "t:sections.all.section_heading_options"
    },
    {
      "type": "select",
      "id": "heading_align",
      "label": "t:sections.title.settings.heading_align.label",
      "options": [
        {
          "value": "start",
          "label": "t:sections.title.settings.heading_align.options_1.label"
        },
        {
          "value": "center",
          "label": "t:sections.title.settings.heading_align.options_2.label"
        }
      ],
      "default": "center"
    },
    {
      "type": "text",
      "id": "sec_heading",
      "label": "t:sections.all.heading.label"
    },
    {
      "type": "select",
      "id": "heading_tag",
      "label": "t:sections.all.heading.heading_tag.label",
      "default": "h3",
      "options": [
        {
          "value": "h2",
          "label": "t:sections.all.heading.heading_tag.options_2.label"
        },
        {
          "value": "h3",
          "label": "t:sections.all.heading.heading_tag.options_3.label"
        },
        {
          "value": "h4",
          "label": "t:sections.all.heading.heading_tag.options_4.label"
        },
        {
          "value": "h5",
          "label": "t:sections.all.heading.heading_tag.options_5.label"
        },
        {
          "value": "h6",
          "label": "t:sections.all.heading.heading_tag.options_6.label"
        }
      ]
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "text-lg",
          "label": "t:sections.all.heading.heading_size.options.small"
        },
        {
          "value": "h5",
          "label": "t:sections.all.heading.heading_size.options.medium"
        },
        {
          "value": "h4",
          "label": "t:sections.all.heading.heading_size.options.large"
        },
        {
          "value": "h3",
          "label": "t:sections.all.heading.heading_size.options.extralarge"
        }
      ],
      "label": "t:sections.all.heading.heading_size.label",
      "default": "h4"
    },
    {
      "type": "richtext",
      "id": "sec_subheading",
      "label": "t:sections.all.sub_heading.label"
    },
    {
      "type": "select",
      "id": "subheading_size",
      "label": "t:sections.gallery.settings.sub_heading.options.subheading_size",
      "options": [
        {
          "value": "base",
          "label": "t:sections.all.sub_heading.subheading_size.options.base"
        },
        {
          "value": "lg",
          "label": "t:sections.all.sub_heading.subheading_size.options.default"
        },
        {
          "value": "xl",
          "label": "t:sections.all.sub_heading.subheading_size.options.medium"
        },
        {
          "value": "2xl",
          "label": "t:sections.all.sub_heading.subheading_size.options.large"
        },
        {
          "value": "10xl",
          "label": "t:sections.all.sub_heading.subheading_size.options.extralarge"
        }
      ],
      "default": "lg"
    },
    {
      "type": "checkbox",
      "id": "heading_reverse",
      "label": "t:sections.gallery.settings.heading_reverse",
      "default": false
    },
    {
      "type": "range",
      "id": "heading_gap",
      "min": 0,
      "max": 60,
      "step": 1,
      "unit": "px",
      "label": "t:sections.all.heading_gap",
      "default": 18
    },
    {
      "type": "range",
      "id": "sec_heading_spacing",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:sections.all.sec_heading_spacing",
      "default": 30
    },
    {
      "type": "header",
      "content": "t:sections.all.images.options_image"
    },
    {
      "type": "select",
      "id": "image_ratio",
      "options": [
        {
          "value": "adapt_image",
          "label": "t:sections.all.images.ratio.adapt_image.label"
        },
        {
          "value": "square",
          "label": "t:sections.all.images.ratio.square.label"
        },
        {
          "value": "portrait",
          "label": "t:sections.all.images.ratio.portrait.label"
        },
        {
          "value": "asos",
          "label": "t:sections.all.images.ratio.asos.label"
        },
        {
          "value": "landscape",
          "label": "t:sections.all.images.ratio.landscape.label"
        },
        {
          "value": "custom",
          "label": "t:sections.all.images.ratio.custom.label"
        }
      ],
      "label": "t:sections.all.images.ratio.label",
      "default": "square"
    },
    {
      "type": "checkbox",
      "id": "image_size",
      "label": "t:sections.all.images.size.cover",
      "default": true
    },
    {
      "type": "header",
      "content": "t:sections.all.content_layout"
    },
    {
      "type": "paragraph",
      "content": "t:sections.gallery.settings.note_row_height"
    },
    {
      "type": "range",
      "id": "row_height",
      "label": "t:sections.collection_list.settings.row_height",
      "min": 100,
      "max": 400,
      "step": 5,
      "unit": "px",
      "default": 280
    },
    {
      "type": "range",
      "id": "row_height_tb",
      "label": "t:sections.collection_list.settings.row_height_tb",
      "min": 100,
      "max": 400,
      "step": 5,
      "unit": "px",
      "default": 230
    },
    {
      "type": "range",
      "id": "row_height_mb",
      "label": "t:sections.collection_list.settings.row_height_mb",
      "min": 100,
      "max": 300,
      "step": 5,
      "unit": "px",
      "default": 180
    },
    {
      "type": "range",
      "id": "spacing_items",
      "min": 0,
      "max": 10,
      "step": 1,
      "unit": "px",
      "label": "Spacing between items",
      "default": 10
    },
    {
      "type": "header",
      "content": "t:sections.all.section_layout"
    },
    {
      "type": "checkbox",
      "id": "section_fullwidth",
      "label": "t:sections.all.section_fullwidth",
      "default": false
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "background-1"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 52
    },
    {
      "type": "range",
      "id": "padding_rate",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "%",
      "label": "t:sections.all.padding.padding_rate",
      "default": 75
    }
  ],
  "blocks": [
    {
      "type": "gallery_item",
      "name": "t:sections.gallery.blocks.gallery_item.label",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:sections.gallery.blocks.gallery_item.image"
        },
        {
          "type": "url",
          "id": "item_link",
          "label": "t:sections.gallery.blocks.gallery_item.link"
        },
        {
          "type": "product",
          "id": "product_item",
          "label": "t:sections.gallery.blocks.gallery_item.product"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.gallery.name_manual",
      "blocks": [
        {
          "type": "gallery_item"
        },
        {
          "type": "gallery_item"
        },
        {
          "type": "gallery_item"
        },
        {
          "type": "gallery_item"
        },
        {
          "type": "gallery_item"
        },
        {
          "type": "gallery_item"
        },
        {
          "type": "gallery_item"
        }
      ]
    }
  ]
}
{% endschema %}