<!--image gallery.liquid -->

{%- liquid
assign current_width = settings.page_width | append: 'px'
assign current_width_tb = '100vw'
assign current_width_mb = '100vw'
assign space_item = section.settings.spacing_items

if section.settings.section_fullwidth
  if section.settings.boxed_fullwidth
    assign current_width = '100vw - 80px'
    assign current_width_tb = '100vw - 40px'
    assign current_width_mb = '100vw - 10px'
  else
    assign current_width = '100vw'
  endif
endif
assign image_action = section.settings.image_action
assign action_element = 'hdt-gallery-modal'
if image_action == 'go_link'
  assign action_element = 'div'
endif

-%}

{%- capture sizes -%}
  (min-width: 1150px) calc(({{ current_width }} -  ({{ space_item }} * ( {{ section.settings.col_dk }} - 1 ))) * 1 / {{ section.settings.col_dk }}),(min-width: 768px) calc( ({{ current_width_tb }} - ({{ space_item }} * ( {{ section.settings.col_tb }} - 1 ))) * 1 / {{ section.settings.col_tb }}), calc( ({{ current_width_mb }} - ({{ space_item }} * ( {{ section.settings.col_mb }} - 1 ) )) * 1 / {{ section.settings.col_mb }})
{%- endcapture -%}
{%- style -%} #{{ section.id }} .hdt-slider{--slide-spacing:{{section.settings.spacing_items}}px}.hdt-image-gallery :is(wrapp-hdt-open-modal-btn, hdt-tooltip) { display:block;width:33px;height:33px;border-radius:var(--rounded-full);right:5px;top:5px;bottom:5px;left:5px;margin:auto;z-index:3; position: absolute;overflow: hidden; }.hdt-gallery-product{width:100%;height:100%;color:rgba(var(--color-button-text));background-color:rgba(var(--color-button));transition:.4s ease .1s}.hdt-gallery-product svg{width:12px;height:12px}.hdt-gallery-item .hdt-gallery-img::before{position:absolute;z-index:2;content:"";width:100%;height:100%;background-color:rgba(0,0,0,.1);top:0;left:0;transition:.4s ease .1s;opacity:0;visibility:hidden}.hdt-gallery-item .hdt-gallery-img img{transition:transform 2s cubic-bezier(0,0,.44,1.18)}.hdt-section-head.hdt-text-center,.hdt-section-head.hdt-justify-center{padding-inline-start:15px;padding-inline-end:15px}{% if section.settings.spacing_items==0 %}.hdt-gallery-item .hdt-gallery-inner{border-radius:0}.hdt-image-gallery .hdt-slider__viewport{border-radius:var(--rounded)}{% endif %}@media (-moz-touch-enabled:0),(hover:hover) and (min-width:1150px){.hdt-gallery-product:hover{background-color:rgba(var(--color-button-text));color:rgba(var(--color-button))}.hdt-gallery-item:hover .hdt-gallery-img img{transform:scale(1.09)}.hdt-gallery-product{opacity:0;visibility:hidden;transition:0.4s ease 0.1s}.hdt-gallery-item:hover .hdt-gallery-img::before,.hdt-gallery-item:hover .hdt-gallery-product{opacity:1;visibility:visible}}{% if section.settings.boxed_fullwidth %}#{{section.id}} .hdt-container-full{padding-inline-start:15px;padding-inline-end:15px}@media(min-width:768px){#{{section.id}} .hdt-container-full{padding-inline-start:30px;padding-inline-end:30px}}@media(min-width:1150px){#{{section.id}} .hdt-container-full{padding-inline-start:40px;padding-inline-end:40px}}{% endif %}{%- endstyle -%}
<div id="{{ section.id }}" class="hdt-section-spacing hdt-s-gradient" style="--section-pt: {{ section.settings.padding_top }}px; --section-pb: {{ section.settings.padding_bottom }}px; --section-prate:{{ section.settings.padding_rate }};" color-scheme="{{ section.settings.color_scheme }}">
  <{{ action_element }} class="hdt-container{%- if section.settings.section_fullwidth -%}-full{%- endif -%}">
    {%- render 'section-top-head' -%}
    <hdt-slider id="Slider-{{ section.id }}" class="hdt-slider hdt-slider-parent hdt-relative {% if section.settings.navUI %}hdt-slider-has-nav hdt-nav-middle_in hdt-nav-btns-{{ section.settings.nav_des }}{% endif %} {% if section.settings.dotUI %} hdt-slider-has-dots-dk{% endif %} hdt-slider__dots_{{ section.settings.dots_pos }} hdt-oh hdt-ratio--{{ section.settings.image_ratio }} {% unless section.settings.image_size %} hdt-ratio--contain{% endunless %} lg:hdt-slides-{{ section.settings.col_dk }} md:hdt-slides-{{ section.settings.col_tb }} hdt-slides-{{ section.settings.col_mb }}" config='{ "id": "Slider-{{ section.id }}", "navUI": {{ section.settings.navUI }}, "dotUI": true, "navUICenter": true }'>
      <div class="hdt-slider__viewport hdt-relative">
        <div class="hdt-slider__container">
          {%- for block in section.blocks -%}
            {%- liquid 
              assign image = block.settings.image
              assign product = block.settings.product_item
              capture current 
                cycle 1, 2, 3 
              endcapture -%}
            <div class="hdt-slider__slide{% unless image_action == 'go_link'  %} hdt-pe-none{% endunless %}" {{ block.shopify_attributes }}>
              <div class="hdt-gallery-item" hdt-reveal="slide-in" timeline>
                <div  calc-nav class="hdt-gallery-inner hdt-relative hdt-oh hdt-rounded">
                  <div class="hdt-gallery-img" style="--aspect-ratioapt: {{ image.aspect_ratio | default: 1.2 }};">
                    <span class="hdt-ratio">
                      {%- if image != blank -%}
                        {{ image | image_url: width: image.width | image_tag: loading: 'lazy', width: image.width, height: image.height, class: '', sizes: sizes, widths: '220, 285, 350, 385, 400' }}
                      {%- else -%}
                        {{ 'hero-apparel-' | append: current | placeholder_svg_tag: 'hdt-placeholder-svg' }}  
                      {%- endif -%}
                    </span>
                    {% if block.settings.item_link != blank and section.settings.image_action == 'go_link' %}<a class="hdt-full-width-link" href="{{ block.settings.item_link }}"></a>{% endif %}
                  </div>
                  {%- if product != blank and section.settings.image_action == 'go_link' -%}
                    {%- if settings.show_ultra_btn %}{% render 'btn-ultra', class: 'hdt-pr_btn hdt-gallery-product hdt-inline-flex hdt-align-center hdt-justify-center', product: product, product_url: product.url, section_id: block.id, placement: 'top' %}{% endif -%}
                  {%- endif -%}
                </div> 
              </div>      
            </div>
          {%- endfor -%}
        </div>
        {%- render 'nav_slider', nav_des: section.settings.nav_des -%}
        <div hdt-slider-dots class="hdt-slider__dots hdt-flex hdt-align-center hdt-justify-center" aria-controls="Slider-{{ section.id }}"></div>
      </div>
    </hdt-slider>
  </{{ action_element }}>
</div>

{% schema %}
{
  "name": "t:sections.gallery.name",
  "tag": "section",
  "class": "hdt-section hdt-image-gallery",
  "disabled_on": {
    "groups": [
      "*"
    ]
  },
  "settings": [
    {
      "type": "header",
      "content": "t:sections.all.section_heading_options"
    },
    {
      "type": "select",
      "id": "heading_align",
      "label": "t:sections.title.settings.heading_align.label",
      "options": [
        {
          "value": "start",
          "label": "t:sections.title.settings.heading_align.options_1.label"
        },
        {
          "value": "center",
          "label": "t:sections.title.settings.heading_align.options_2.label"
        }
      ],
      "default": "center"
    },
    {
      "type": "text",
      "id": "sec_heading",
      "label": "t:sections.all.heading.label",
      "default": "Shop Gram"
    },
    {
      "type": "select",
      "id": "heading_tag",
      "label": "t:sections.all.heading.heading_tag.label",
      "default": "h3",
      "options": [
        {
          "value": "h2",
          "label": "t:sections.all.heading.heading_tag.options_2.label"
        },
        {
          "value": "h3",
          "label": "t:sections.all.heading.heading_tag.options_3.label"
        },
        {
          "value": "h4",
          "label": "t:sections.all.heading.heading_tag.options_4.label"
        },
        {
          "value": "h5",
          "label": "t:sections.all.heading.heading_tag.options_5.label"
        },
        {
          "value": "h6",
          "label": "t:sections.all.heading.heading_tag.options_6.label"
        }
      ]
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "text-lg",
          "label": "t:sections.all.heading.heading_size.options.small"
        },
        {
          "value": "h5",
          "label": "t:sections.all.heading.heading_size.options.medium"
        },
        {
          "value": "h4",
          "label": "t:sections.all.heading.heading_size.options.large"
        },
        {
          "value": "h3",
          "label": "t:sections.all.heading.heading_size.options.extralarge"
        }
      ],
      "label": "t:sections.all.heading.heading_size.label",
      "default": "h4"
    },
    {
      "type": "richtext",
      "id": "sec_subheading",
      "label": "t:sections.all.sub_heading.label"
    },
    {
      "type": "select",
      "id": "subheading_size",
      "label": "t:sections.gallery.settings.sub_heading.options.subheading_size",
      "options": [
        {
          "value": "base",
          "label": "t:sections.all.sub_heading.subheading_size.options.base"
        },
        {
          "value": "lg",
          "label": "t:sections.all.sub_heading.subheading_size.options.default"
        },
        {
          "value": "xl",
          "label": "t:sections.all.sub_heading.subheading_size.options.medium"
        },
        {
          "value": "2xl",
          "label": "t:sections.all.sub_heading.subheading_size.options.large"
        },
        {
          "value": "10xl",
          "label": "t:sections.all.sub_heading.subheading_size.options.extralarge"
        }
      ],
      "default": "lg"
    },
    {
      "type": "checkbox",
      "id": "heading_reverse",
      "label": "t:sections.gallery.settings.heading_reverse",
      "default": false
    },
    {
      "type": "range",
      "id": "heading_gap",
      "min": 0,
      "max": 60,
      "step": 1,
      "unit": "px",
      "label": "t:sections.all.heading_gap",
      "default": 18
    },
    {
      "type": "range",
      "id": "sec_heading_spacing",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:sections.all.sec_heading_spacing",
      "default": 30
    },
    {
      "type": "header",
      "content": "t:sections.all.images.options_image"
    },
    {
      "type": "select",
      "id": "image_ratio",
      "options": [
        {
          "value": "adapt_image",
          "label": "t:sections.all.images.ratio.adapt_image.label"
        },
        {
          "value": "square",
          "label": "t:sections.all.images.ratio.square.label"
        },
        {
          "value": "portrait",
          "label": "t:sections.all.images.ratio.portrait.label"
        },
        {
          "value": "asos",
          "label": "t:sections.all.images.ratio.asos.label"
        },
        {
          "value": "landscape",
          "label": "t:sections.all.images.ratio.landscape.label"
        }
      ],
      "label": "t:sections.all.images.ratio.label",
      "default": "square"
    },
    {
      "type": "checkbox",
      "id": "image_size",
      "label": "t:sections.all.images.size.cover",
      "default": true
    },
    {
      "type": "select",
      "id": "image_action",
      "label": "t:sections.sidebar-blog.Gallery.settings.image_action.label",
      "options": [
        {
          "value": "go_link",
          "label": "t:sections.sidebar-blog.Gallery.settings.image_action.options.go_link.label"
        },
        {
          "value": "popup_image",
          "label": "t:sections.sidebar-blog.Gallery.settings.image_action.options.popup_image.label"
        }
      ],
      "default": "go_link"
    },
    {
      "type": "header",
      "content": "t:sections.all.content_layout"
    },
    {
      "type": "select",
      "id": "col_dk",
      "label": "t:sections.all.items_row.desktop",
      "default": "5",
      "options": [
        {
          "label": "2",
          "value": "2"
        },
        {
          "label": "3",
          "value": "3"
        },
        {
          "label": "4",
          "value": "4"
        },
        {
          "label": "5",
          "value": "5"
        },
        {
          "label": "6",
          "value": "6"
        }
      ]
    },
    {
      "type": "select",
      "id": "col_tb",
      "label": "t:sections.all.items_row.tablet",
      "default": "2",
      "options": [
        {
          "label": "1",
          "value": "1"
        },
        {
          "label": "2",
          "value": "2"
        },
        {
          "label": "3",
          "value": "3"
        },
        {
          "label": "4",
          "value": "4"
        }
      ]
    },
    {
      "type": "select",
      "id": "col_mb",
      "label": "t:sections.all.items_row.mobile",
      "default": "1",
      "options": [
        {
          "label": "1",
          "value": "1"
        },
        {
          "label": "2",
          "value": "2"
        },
        {
          "label": "3",
          "value": "3"
        }
      ]
    },
    {
      "type": "range",
      "id": "spacing_items",
      "min": 0,
      "max": 10,
      "step": 1,
      "unit": "px",
      "label": "Spacing between items",
      "default": 10
    },
    {
      "type": "header",
      "content": "t:sections.all.slider.label"
    },
    {
      "type": "checkbox",
      "id": "navUI",
      "label": "t:sections.all.slider.navUI",
      "default": false
    },
    {
      "type": "select",
      "id": "nav_des",
      "label": "t:sections.all.slider.nav_des.label",
      "options": [
        {
          "value": "default",
          "label": "t:sections.all.slider.nav_des.options.default"
        },
        {
          "value": "outline",
          "label": "t:sections.all.slider.nav_des.options.outline"
        },
        {
          "value": "simple",
          "label": "t:sections.all.slider.nav_des.options.simple"
        }
      ],
      "default": "default"
    },
    {
      "type": "checkbox",
      "id": "dotUI",
      "label": "t:sections.all.slider.dotUI",
      "default": false
    },
    {
      "type": "select",
      "id": "dots_pos",
      "label": "t:sections.all.slider.dots_pos.label",
      "options": [
        {
          "value": "outline",
          "label": "t:sections.all.slider.dots_pos.options.default"
        },
        {
          "value": "on_content",
          "label": "t:sections.all.slider.dots_pos.options.on_content"
        }
      ],
      "default": "outline"
    },
    {
      "type": "header",
      "content": "t:sections.all.section_layout"
    },
    {
      "type": "checkbox",
      "id": "section_fullwidth",
      "label": "t:sections.all.section_fullwidth",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "boxed_fullwidth",
      "label": "t:sections.banner.settings.boxed.label",
      "info": "t:sections.banner.settings.boxed.info",
      "default": false
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "background-1"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 52
    },
    {
      "type": "range",
      "id": "padding_rate",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "%",
      "label": "t:sections.all.padding.padding_rate",
      "default": 75
    }
  ],
  "blocks": [
    {
      "type": "gallery_item",
      "name": "t:sections.gallery.blocks.gallery_item.label",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:sections.gallery.blocks.gallery_item.image"
        },
        {
          "type": "url",
          "id": "item_link",
          "label": "t:sections.gallery.blocks.gallery_item.link"
        },
        {
          "type": "product",
          "id": "product_item",
          "label": "t:sections.gallery.blocks.gallery_item.product"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.gallery.name",
      "blocks": [
        {
          "type": "gallery_item"
        },
        {
          "type": "gallery_item"
        },
        {
          "type": "gallery_item"
        },
        {
          "type": "gallery_item"
        },
        {
          "type": "gallery_item"
        }
      ]
    }
  ]
}
{% endschema %}