<!-- sections/image-with-text.liquid-->
{{ 'hdt-image-with-text.css' | asset_url | stylesheet_tag }}
{{ 'hdt-countdown.css' | asset_url | stylesheet_tag }}
{%- style -%}#shopify-section-{{section.id}}{--section-pt:{{section.settings.padding_top}}px;--section-pb:{{section.settings.padding_bottom}}px;--section-prate:{{section.settings.padding_rate}}}#shopify-section-{{section.id}}.hdt-image-with_text .hdt-image_wrap.hdt-1_img::after{padding-top:{{100 | divided_by:section.settings.image.aspect_ratio}}%}#shopify-section-{{section.id}}.hdt-image-with_text .hdt-image_wrap.hdt-2_img::after{padding-top:95%}#shopify-section-{{section.id}}.hdt-image-with_text .hdt-image_wrap.hdt-22_img::after{padding-top:68%}#shopify-section-{{section.id}}.hdt-image-with_text .hdt-image_wrap.hdt-3_img::after{padding-top:89%}#shopify-section-{{section.id}}.hdt-image-with_text .hdt-image_wrap.hdt-33_img::after{padding-top:89%}{%- endstyle -%}
<div class="hdt-section-spacing" color-scheme="{{ section.settings.color_scheme }}"{% if section.index != 1 %} hdt-reveal="fade-in"{% endif %}>
  <div class="hdt-container{% if section.settings.full_width %}-full{% endif %} {% if section.settings.full_width == true and section.settings.boxed_fullwidth == true %}hdt-px-15 md:hdt-px-30 lg:hdt-px-40{% endif %}">
    <div class="hdt-row-grid hdt-s-gradient hdt-effect-{{ section.settings.image_effect }} hdt-oh hdt-grid-cols-1 md:hdt-grid-cols-1 lg:hdt-grid-cols-2 hdt-rounded hdt-oh hdt-{{ section.settings.style_image }}_img">
      <div class="hdt-image_wrap hdt-{{ section.settings.style_image }}_img hdt-relative hdt-oh">
        <div class="hdt-img_group hdt-full-width-link hdt-grid">
          {%- for i in (1..3) -%}

          {%- liquid
          if i == 2 and section.settings.style_image contains '1'
            break
          elsif i == 3 and section.settings.style_image contains '2'
            break
          endif
          assign svg_placeholder = 'blog-apparel-' | append: i
          case i
            when 1
              assign image = section.settings.image
              assign widths = '400,600,800,1000,1200,1400,1600,1800'
              case section.settings.style_image
                when '1'
                  assign sizes = '(min-width: 1150px) calc(' | append: settings.page_width | append: 'px / 2 ), calc(100vw - 30px)'
                when '2'
                  assign sizes = '(min-width: 1150px) calc(' | append: settings.page_width | append: 'px / 2 * 0.73 ), calc((100vw - 30px) * 0.73)'
                when '22'
                  assign sizes = '(min-width: 1150px) calc(' | append: settings.page_width | append: 'px / 4 - ' | append: settings.spacing_grid_vertical | append: 'px / 2), calc(50vw - ' | append: settings.spacing_grid_vertical | append: 'px)'
                when '222'
                assign sizes = '(min-width: 1150px) calc(' | append: settings.page_width | append: 'px / 2 * 0.83 ), calc((100vw - 30px) * 0.83)'
                when '3'
                  assign sizes = '(min-width: 1150px) calc(' | append: settings.page_width | append: 'px / 2 * 8 / 12), calc((100vw - 30px) * 8 / 12)'
                when '33'
                  assign sizes = '(min-width: 1150px) calc(' | append: settings.page_width | append: 'px / 2 * 8 / 12), calc((100vw - 30px) * 8 / 12)'
              endcase
            when 2
              assign image = section.settings.first_image
              assign widths = '400,600,800,1000,1200'
              if section.settings.style_image == '2'
                assign sizes = '(min-width: 1150px) calc(' | append: settings.page_width | append: 'px / 2 * 0.56 ), calc((100vw - 30px) * 0.56)'
              elsif section.settings.style_image == '222'
                assign sizes = '(min-width: 1150px) calc(' | append: settings.page_width | append: 'px / 2 * 0.5 ), calc((100vw - 30px) * 0.5)'
              else
                assign sizes = '(min-width: 1150px) calc(' | append: settings.page_width | append: 'px / 4 - ' | append: settings.spacing_grid_vertical | append: 'px / 2), calc(50vw - ' | append: settings.spacing_grid_vertical | append: 'px)'
              endif
            else
              assign image = section.settings.second_image
              assign widths = '400,600,800,1000'
              if section.settings.style_image == '3'
                assign sizes = '(min-width: 1150px) calc(' | append: settings.page_width | append: 'px / 2 * 5 / 12), calc((100vw - 30px) * 5 / 12)'
              else
                assign sizes = '(min-width: 1150px) calc(' | append: settings.page_width | append: 'px / 2 * 4 / 12), calc((100vw - 30px) * 4 / 12)'
              endif
          endcase
          -%}

          <div class="hdt-img_item"{% if section.index != 1 %} hdt-reveal="slide-in" timeline{% endif %}>
            <div class="hdt-media hdt-h-full hdt-rounded hdt-relative hdt-oh">
              {% liquid
                if image != blank
                  echo image | image_url: width: image.width | image_tag: loading: 'lazy', width: image.width, height: image.height, class: 'hdt-full-width-link hdt-object-cover hdt-object-center hdt-w-full hdt-h-full', sizes: sizes, widths: widths
                else
                  echo svg_placeholder | placeholder_svg_tag: 'hdt-full-width-link hdt-object-cover hdt-object-center hdt-w-full hdt-h-full'
                endif
              %}
            </div>
          </div>
          {%- endfor -%}
        </div>
      </div>
      <div class="hdt-content_wrap hdt-grid hdt-relative {% if section.settings.image_last_mb == true %}hdt-order-first{% endif %} {% if section.settings.image_last == true %}md:hdt-order-first{% else %} md:hdt-order-last{% endif %}" style="--padding-start: {{ section.settings.content_pl }}px;">
        {%- if section.settings.image_bg != blank -%}
          {%- assign image_bg = section.settings.image_bg -%}
          {{ image_bg | image_url: width: image_bg.width, height: image_bg.height | image_tag: width: image_bg.width , height: image_bg.height , widths: '200,300,400,500,600,700,800,900,1000,1200,1400,1600,1800', alt: image_bg.alt , class: 'hdt-full-width-link hdt-w-full hdt-h-full hdt-object-cover hdt-pe-none hdt-content-bg' }}
        {%- endif -%}
        <div class="hdt-content hdt-place-self-{{ section.settings.content_position_mb }} hdt-text-{{ section.settings.alignment_mb }} md:hdt-place-self-center-start md:hdt-text-start lg:hdt-place-self-{{ section.settings.content_position }} lg:hdt-text-{{ section.settings.alignment }}">
          {%- for block in section.blocks -%}
            {%- case block.type -%}
              {%- when 'label' -%}
                {%- if block.settings.label != blank -%}
                  <h5 class="hdt-label hdt-font-bold hdt-text-{{ block.settings.label_fs }} hdt-s-text" hdt-reveal="slide-in" timeline {{ block.shopify_attributes }}>{{ block.settings.label }}</h5>
                {%- endif -%}
                {%- when 'img_item' -%}
                  {%- if block.settings.image_item != blank -%}
                   <div class="hdt-img-list-box hdt-flex">
                    <div class="hdt-img-box">
                    {{ block.settings.image_item | image_url: width: image.width, height: image.height | image_tag: class:'hdt-rounded-full hdt-object-cover hdt-img-item'}}
                    </div>
                    <div>
                      <h2 class="hdt-heading hdt-{{ block.settings.heading_fs }} hdt-s-text" hdt-reveal="slide-in" timeline {{ block.shopify_attributes }}>{{ block.settings.heading }}</h2>
                    <p class="hdt-subheading hdt-text-{{ block.settings.sub_fs }} hdt-s-text2" hdt-reveal="slide-in" timeline {{ block.shopify_attributes }}>{{ block.settings.sub_heading }}</p>
                    </div>
                   </div>
                  {%- endif -%}
              {%- when 'heading' -%}
                {%- if block.settings.heading != blank -%}
                  <h2 class="hdt-heading hdt-{{ block.settings.heading_fs }} hdt-s-text" hdt-reveal="slide-in" timeline {{ block.shopify_attributes }}>{{ block.settings.heading }}</h2>
                {%- endif -%}
              {%- when 'sub_heading' -%}
                {%- if block.settings.sub_heading != blank -%}
                  <p class="hdt-subheading hdt-text-{{ block.settings.sub_fs }} hdt-s-text2" hdt-reveal="slide-in" timeline {{ block.shopify_attributes }}>{{ block.settings.sub_heading }}</p>
                {%- endif -%}
              {%- when 'count_down' -%}
                <hdt-countdown class="hdt-countdown hdt-block hdt-countdown-solid hdt-uppercase-{{ block.settings.uppercase }}" color-scheme="{{ block.settings.color_scheme }}" config='{"month":"{{ block.settings.month }}", "date":"{{ block.settings.day }}, {{ block.settings.year }} {{ block.settings.hour }}:{{ block.settings.minute }}", "hideTimerOnComplete": {{ block.settings.hide_on_complete }}, "hasZero": {{ block.settings.prepend_number }}, "hasTextPlural": true }' {{ block.shopify_attributes }}>
                  {%- if block.settings.title != blank -%}
                    <p class="hdt-cd-heading hdt-s-text hdt-text-lg">{{ block.settings.title }}</p>
                  {%- endif -%}
                  <div class="hdt-countdown__inner" aria-hidden="true">
                    <div class="hdt-countdown__item hdt-countdown--days" hdt-reveal="slide-in" timeline>
                      <hdt-countdown-amount effect="{{ block.settings.effect_cd }}" class="hdt-countdown__amount" data-days>00</hdt-countdown-amount>
                      <hdt-countdown-text singular="{{ 'sections.countdown_timmer.day' | t | escape }}" class="hdt-countdown__text hdt-grid">{{ 'sections.countdown_timmer.day_plural' | t }}</hdt-countdown-text>
                    </div>
                    <div class="hdt-countdown__item hdt-countdown--hours" hdt-reveal="slide-in" timeline>
                      <hdt-countdown-amount effect="{{ block.settings.effect_cd }}" class="hdt-countdown__amount" data-hours>00</hdt-countdown-amount>
                      <hdt-countdown-text singular="{{ 'sections.countdown_timmer.hr' | t | escape }}" class="hdt-countdown__text hdt-grid">{{ 'sections.countdown_timmer.hr_plural' | t }}</hdt-countdown-text>
                    </div>
                    <div class="hdt-countdown__item hdt-countdown--minutes" hdt-reveal="slide-in" timeline>
                      <hdt-countdown-amount effect="{{ block.settings.effect_cd }}" class="hdt-countdown__amount" data-minutes>00</hdt-countdown-amount>
                      <hdt-countdown-text singular="{{ 'sections.countdown_timmer.min' | t | escape }}" class="hdt-countdown__text hdt-grid">{{ 'sections.countdown_timmer.min_plural' | t }}</hdt-countdown-text>
                    </div>
                    <div class="hdt-countdown__item hdt-countdown--seconds" hdt-reveal="slide-in" timeline>
                      <hdt-countdown-amount effect="{{ block.settings.effect_cd }}" class="hdt-countdown__amount" data-seconds>00</hdt-countdown-amount>
                      <hdt-countdown-text singular="{{ 'sections.countdown_timmer.sec' | t | escape }}" class="hdt-countdown__text hdt-grid">{{ 'sections.countdown_timmer.sec_plural' | t }}</hdt-countdown-text>
                    </div>
                  </div>
                  {%- if block.settings.mess_complete != blank %}<div class="hdt-countdown__message hdt-hidden hdt-s-text">{{ block.settings.mess_complete }}</div>{% endif -%}
                </hdt-countdown>
              {%- when 'button' -%}
                {%- if block.settings.btn_label != blank -%}
                  <a hdt-reveal="slide-in" timeline {% if block.settings.btn_link == blank %}
                    role="link" disabled="true"
                    {% else %}
                      href="{{ block.settings.btn_link }}"
                    {% endif %} target="{% if block.settings.target %}_blank{% else %}_self{% endif %}"
                    class="hdt-btn hdt-text-{{ block.settings.btn_size }} hdt-oh hdt-inline-flex hdt-align-center hdt-justify-center hdt-relative hdt-btn-{{ block.settings.btn_style }} hdt-font-{{ block.settings.btn_fw }}"><span>{{ block.settings.btn_label }}</span>
                  {%- if block.settings.btn_icon == "1" -%}
                    <svg class="hdt-icon hdt-icon-1" xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 64 64" fill="currentColor"><path d="M12,56.43,36.48,32,12,7.52,19.53,0,51.61,32,19.53,64Z"/></svg>
                  {%- elsif block.settings.btn_icon == "2" -%}
                    <svg class="hdt-icon hdt-icon-2" xmlns="http://www.w3.org/2000/svg" width="12" height="12"  viewBox="0 0 64 64" fill="currentColor"><path d="M6.89,64,0,57.11,47.26,9.85H4.92V0H64V59.08H54.15V16.74Z"/></svg>
                  {%- else -%}
                  {%- endif -%}
                  </a>
                {%- endif -%}
              {%- when 'text' -%}
                {%- if block.settings.text != blank -%}
                  <div class="hdt-rte hdt-s-text2 hdt-font-normal hdt-text-base hdt-text" hdt-reveal="slide-in" timeline {{ block.shopify_attributes }}>
                    {{ block.settings.text }}
                  </div>
                {%- endif -%}
              {%- endcase -%}
          {%- endfor -%}
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.image_text.name",
  "tag": "section",
  "class": "hdt-section hdt-image-with_text",
  "disabled_on": {
    "groups": [
      "*"
    ]
  },
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:sections.image_text.settings.main_img"
    },
    {
      "type": "image_picker",
      "id": "first_image",
      "label": "t:sections.image_text.settings.first_img"
    },
    {
      "type": "image_picker",
      "id": "second_image",
      "label": "t:sections.image_text.settings.second_img"
    },
    {
      "type": "select",
      "id": "style_image",
      "label": "t:sections.image_text.settings.img_style.label",
      "options": [
        {
          "value": "1",
          "label": "t:sections.image_text.settings.img_style.options.option_1"
        },
        {
          "value": "2",
          "label": "t:sections.image_text.settings.img_style.options.option_2"
        },
        {
          "value": "22",
          "label": "t:sections.image_text.settings.img_style.options.option_3"
        },
        {
          "value": "222",
          "label": "t:sections.image_text.settings.img_style.options.option_6"
        },
        {
          "value": "3",
          "label": "t:sections.image_text.settings.img_style.options.option_4"
        },
        {
          "value": "33",
          "label": "t:sections.image_text.settings.img_style.options.option_5"
        }
      ],
      "default": "1"
    },
    {
      "type": "select",
      "id": "image_effect",
      "label": "t:sections.image_text.settings.img_eff.label",
      "options": [
        {
          "value": "lunc",
          "label": "t:sections.image_text.settings.img_eff.options.option_1"
        },
        {
          "value": "zoom-in",
          "label": "t:sections.image_text.settings.img_eff.options.option_2"
        }
      ],
      "default": "lunc"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.our-store.settings.color"
    },
    {
      "type": "checkbox",
      "id": "full_width",
      "label": "t:sections.banner.settings.full_width",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "boxed_fullwidth",
      "label": "t:sections.banner.settings.boxed.label",
      "info": "t:sections.banner.settings.boxed.info",
      "default": false
    },
    {
      "type": "header",
      "content": "t:sections.image_text.settings.content_settings.label"
    },
    {
      "type": "image_picker",
      "id": "image_bg",
      "label": "t:sections.image_text.settings.content_settings.image_bg.label"
    },
    {
      "type": "header",
      "content": "t:sections.image_text.settings.header.desktop"
    },
    {
      "type": "checkbox",
      "id": "image_last",
      "label": "t:sections.image_text.settings.img_last",
      "default": false
    },
    {
      "type": "select",
      "id": "content_position",
      "label": "t:sections.all.content_position.label",
      "options": [
        {
          "value": "start",
          "label": "t:sections.all.content_position.options.start"
        },
        {
          "value": "start-center",
          "label": "t:sections.all.content_position.options.start_center"
        },
        {
          "value": "start-end",
          "label": "t:sections.all.content_position.options.start_end"
        },
        {
          "value": "center",
          "label": "t:sections.all.content_position.options.center"
        },
        {
          "value": "center-start",
          "label": "t:sections.all.content_position.options.center_start"
        },
        {
          "value": "center-end",
          "label": "t:sections.all.content_position.options.center_end"
        },
        {
          "value": "end",
          "label": "t:sections.all.content_position.options.end"
        },
        {
          "value": "end-start",
          "label": "t:sections.all.content_position.options.end_start"
        },
        {
          "value": "end-center",
          "label": "t:sections.all.content_position.options.end_center"
        }
      ],
      "default": "center"
    },
    {
      "type": "text_alignment",
      "id": "alignment",
      "label": "t:settings_schema.global.settings.text_alignment.label",
      "default": "center"
    },
    {
      "type": "range",
      "id": "content_pl",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:sections.image_text.settings.padding_left",
      "default": 0
    },
    {
      "type": "header",
      "content": "t:sections.image_text.settings.header.mobile"
    },
    {
      "type": "checkbox",
      "id": "image_last_mb",
      "label": "t:sections.image_text.settings.img_last",
      "default": false
    },
    {
      "type": "select",
      "id": "content_position_mb",
      "label": "t:sections.all.content_position.label",
      "options": [
        {
          "value": "start",
          "label": "t:sections.all.content_position.options.start"
        },
        {
          "value": "start-center",
          "label": "t:sections.all.content_position.options.start_center"
        },
        {
          "value": "start-end",
          "label": "t:sections.all.content_position.options.start_end"
        },
        {
          "value": "center",
          "label": "t:sections.all.content_position.options.center"
        },
        {
          "value": "center-start",
          "label": "t:sections.all.content_position.options.center_start"
        },
        {
          "value": "center-end",
          "label": "t:sections.all.content_position.options.center_end"
        },
        {
          "value": "end",
          "label": "t:sections.all.content_position.options.end"
        },
        {
          "value": "end-start",
          "label": "t:sections.all.content_position.options.end_start"
        },
        {
          "value": "end-center",
          "label": "t:sections.all.content_position.options.end_center"
        }
      ],
      "default": "center"
    },
    {
      "type": "text_alignment",
      "id": "alignment_mb",
      "label": "t:settings_schema.global.settings.text_alignment.label",
      "default": "center"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 40
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 40
    },
    {
      "type": "range",
      "id": "padding_rate",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "%",
      "label": "t:sections.all.padding.padding_rate",
      "default": 75
    }
  ],
  "blocks": [
    {
      "type": "label",
      "name": "t:sections.image_text.blocks.label.name",
      "settings": [
        {
          "type": "text",
          "id": "label",
          "label": "t:sections.image_text.blocks.label.settings.text.label"
        },
        {
          "type": "select",
          "id": "label_fs",
          "label": "t:sections.image_text.blocks.label.settings.lb_fs.label",
          "options": [
            {
              "value": "base",
              "label": "t:sections.image_text.blocks.label.settings.lb_fs.options.option_1"
            },
            {
              "value": "xl",
              "label": "t:sections.image_text.blocks.label.settings.lb_fs.options.option_2"
            }
          ],
          "default": "base"
        }
      ]
    },
    {
      "type": "img_item",
      "name": "Image item",
      "settings": [
        {
          "type": "image_picker",
          "id": "image_item",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "heading",
          "label": "t:sections.image_text.blocks.heading.settings.text.label",
          "default": "60% Discount"
        },
        {
          "type": "select",
          "id": "heading_fs",
          "label": "t:sections.image_text.blocks.heading.settings.heading_fs.label",
          "options": [
            {
              "value": "h4",
              "label": "t:sections.image_text.blocks.heading.settings.heading_fs.options.option_2"
            },
            {
              "value": "h3",
              "label": "t:sections.image_text.blocks.heading.settings.heading_fs.options.option_1"
            },
            {
              "value": "h1",
              "label": "t:sections.image_text.blocks.heading.settings.heading_fs.options.option_3"
            }
          ],
          "default": "h3"
        },
        {
          "type": "textarea",
          "id": "sub_heading",
          "label": "t:sections.image_text.blocks.sub_heading.settings.text.label",
          "default": "Shop our luxury silk button-up blouses made with ultra-soft, washable silk."
        },
        {
          "type": "select",
          "id": "sub_fs",
          "label": "t:sections.image_text.blocks.sub_heading.settings.sub_fs.label",
          "options": [
            {
              "value": "base",
              "label": "t:sections.image_text.blocks.sub_heading.settings.sub_fs.options.option_1"
            },
            {
              "value": "lg",
              "label": "t:sections.image_text.blocks.sub_heading.settings.sub_fs.options.option_2"
            },
            {
              "value": "2xl",
              "label": "t:sections.image_text.blocks.sub_heading.settings.sub_fs.options.option_3"
            }
          ],
          "default": "base"
        }
      ]
    },
    {
      "type": "heading",
      "name": "t:sections.image_text.blocks.heading.name",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "label": "t:sections.image_text.blocks.heading.settings.text.label",
          "default": "60% Discount"
        },
        {
          "type": "select",
          "id": "heading_fs",
          "label": "t:sections.image_text.blocks.heading.settings.heading_fs.label",
          "options": [
            {
              "value": "h4",
              "label": "t:sections.image_text.blocks.heading.settings.heading_fs.options.option_2"
            },
            {
              "value": "h3",
              "label": "t:sections.image_text.blocks.heading.settings.heading_fs.options.option_1"
            },
            {
              "value": "h1",
              "label": "t:sections.image_text.blocks.heading.settings.heading_fs.options.option_3"
            }
          ],
          "default": "h3"
        }
      ]
    },
    {
      "type": "sub_heading",
      "name": "t:sections.image_text.blocks.sub_heading.name",
      "settings": [
        {
          "type": "textarea",
          "id": "sub_heading",
          "label": "t:sections.image_text.blocks.sub_heading.settings.text.label",
          "default": "Shop our luxury silk button-up blouses made with ultra-soft, washable silk."
        },
        {
          "type": "select",
          "id": "sub_fs",
          "label": "t:sections.image_text.blocks.sub_heading.settings.sub_fs.label",
          "options": [
            {
              "value": "base",
              "label": "t:sections.image_text.blocks.sub_heading.settings.sub_fs.options.option_1"
            },
            {
              "value": "lg",
              "label": "t:sections.image_text.blocks.sub_heading.settings.sub_fs.options.option_2"
            },
            {
              "value": "2xl",
              "label": "t:sections.image_text.blocks.sub_heading.settings.sub_fs.options.option_3"
            }
          ],
          "default": "base"
        }
      ]
    },
    {
      "type": "count_down",
      "name": "t:sections.image_text.blocks.count_down.name",
      "limit": 1,
      "settings": [
        {
          "type": "color_scheme",
          "id": "color_scheme",
          "label": "t:sections.our-store.settings.color"
        },
        {
          "type": "text",
          "id": "title",
          "label": "t:sections.image_text.blocks.count_down.settings.title.label",
          "default": "Hungry up ! Deals end in :"
        },
        {
          "type": "number",
          "id": "year",
          "default": 2030,
          "label": "t:sections.countdown-bar.blocks.countdown.settings.year.label",
          "info": "t:sections.countdown-bar.blocks.countdown.settings.year.info"
        },
        {
          "type": "range",
          "id": "month",
          "min": 1,
          "max": 12,
          "step": 1,
          "default": 4,
          "label": "t:sections.countdown-bar.blocks.countdown.settings.month.label"
        },
        {
          "type": "range",
          "id": "day",
          "min": 1,
          "max": 31,
          "step": 1,
          "default": 19,
          "label": "t:sections.countdown-bar.blocks.countdown.settings.day.label"
        },
        {
          "type": "range",
          "id": "hour",
          "min": 0,
          "max": 23,
          "step": 1,
          "default": 12,
          "label": "t:sections.countdown-bar.blocks.countdown.settings.hour.label"
        },
        {
          "type": "range",
          "id": "minute",
          "min": 0,
          "max": 59,
          "step": 1,
          "default": 0,
          "label": "t:sections.countdown-bar.blocks.countdown.settings.minute.label"
        },
        {
          "type": "select",
          "id": "effect_cd",
          "label": "t:sections.countdown-bar.blocks.countdown.settings.animate_num.label",
          "options": [
            {
              "value": "none",
              "label": "t:sections.countdown-bar.blocks.countdown.settings.animate_num.options__1.label"
            },
            {
              "value": "move_top",
              "label": "t:sections.countdown-bar.blocks.countdown.settings.animate_num.options__2.label"
            },
            {
              "value": "move_bottom",
              "label": "t:sections.countdown-bar.blocks.countdown.settings.animate_num.options__3.label"
            },
            {
              "value": "scale",
              "label": "t:sections.countdown-bar.blocks.countdown.settings.animate_num.options__4.label"
            },
            {
              "value": "rotate",
              "label": "t:sections.countdown-bar.blocks.countdown.settings.animate_num.options__5.label"
            }
          ],
          "default": "move_top"
        },
        {
          "type": "checkbox",
          "id": "uppercase",
          "label": "t:sections.countdown_text.settings.uppercase_text.label",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "prepend_number",
          "label": "t:sections.countdown-bar.blocks.countdown.settings.prepend_number.label",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "hide_on_complete",
          "default": false,
          "label": "t:sections.countdown-bar.blocks.countdown.settings.hide_on_complete.label"
        },
        {
          "type": "text",
          "id": "mess_complete",
          "label": "t:sections.countdown-bar.blocks.countdown.settings.mess_complete.label"
        },
        {
          "type": "paragraph",
          "content": "t:settings_schema.extras.settings.timezone_help.content"
        }
      ]
    },
    {
      "type": "button",
      "name": "t:sections.all.button.name",
      "settings": [
        {
          "type": "text",
          "id": "btn_label",
          "label": "t:sections.all.button.settings.text.label",
          "default": "Shop now",
          "info": "t:sections.all.button.settings.text.info"
        },
        {
          "type": "url",
          "id": "btn_link",
          "label": "t:sections.all.button.settings.url.label",
          "info": "If blank, use link of product"
        },
        {
          "type": "checkbox",
          "id": "target",
          "label": "t:sections.all.button.settings.target.label",
          "default": false
        },
        {
          "type": "select",
          "id": "btn_size",
          "label": "t:sections.all.button.settings.font_size.label",
          "options": [
            {
              "value": "xs",
              "label": "t:sections.all.button.settings.font_size.options.xs"
            },
            {
              "value": "sm",
              "label": "t:sections.all.button.settings.font_size.options.sm"
            },
            {
              "value": "base",
              "label": "t:sections.all.button.settings.font_size.options.base"
            },
            {
              "value": "lg",
              "label": "t:sections.all.button.settings.font_size.options.lg"
            },
            {
              "value": "xl",
              "label": "t:sections.all.button.settings.font_size.options.xl"
            }
          ],
          "default": "base"
        },
        {
          "type": "select",
          "id": "btn_style",
          "label": "t:sections.all.button.settings.style.label",
          "options": [
            {
              "value": "solid",
              "label": "t:sections.all.button.settings.style.options.option_1"
            },
            {
              "value": "outline",
              "label": "t:sections.all.button.settings.style.options.option_2"
            },
            {
              "value": "outline-2",
              "label": "t:sections.all.button.settings.style.options.option_3"
            },
            {
              "value": "link",
              "label": "t:sections.all.button.settings.style.options.option_4"
            }
          ],
          "default": "solid"
        },
        {
          "type": "select",
          "id": "btn_fw",
          "label": "t:sections.all.button.settings.font_weight.label",
          "options": [
            {
              "value": "normal",
              "label": "t:sections.all.button.settings.font_weight.options.option_1"
            },
            {
              "value": "medium",
              "label": "t:sections.all.button.settings.font_weight.options.option_2"
            },
            {
              "value": "semibold",
              "label": "t:sections.all.button.settings.font_weight.options.option_3"
            },
            {
              "value": "bold",
              "label": "t:sections.all.button.settings.font_weight.options.option_4"
            }
          ],
          "default": "normal"
        },
        {
          "type": "select",
          "id": "btn_icon",
          "label": "t:sections.all.button.settings.icon.label",
          "options": [
            {
              "value": "none",
              "label": "t:sections.all.button.settings.icon.options.option_0"
            },
            {
              "value": "1",
              "label": "t:sections.all.button.settings.icon.options.option_1"
            },
            {
              "value": "2",
              "label": "t:sections.all.button.settings.icon.options.option_2"
            }
          ],
          "default": "1"
        }
      ]
    },
    {
      "type": "text",
      "name": "t:sections.image_text.blocks.text.label",
      "settings": [
        {
          "type": "richtext",
          "id": "text",
          "label": "t:sections.image_text.blocks.text.label",
          "default": "<p>The4 Studio</p>"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.image_text.name",
      "blocks":[
        {
          "type": "heading",
          "settings": {
            "heading": "60% Discount",
            "heading_fs": "h3"
          }
        },
        {
          "type": "count_down",
          "settings": {
            "color_scheme": "",
            "title": "Hungry up ! Deals end in :",
            "year": 2030,
            "month": 4,
            "day": 19,
            "hour": 12,
            "minute": 0,
            "effect_cd": "move_top",
            "uppercase": false,
            "prepend_number": false,
            "hide_on_complete": false,
            "mess_complete": ""
          }
        },
        {
          "type": "button",
          "settings": {
            "btn_label": "Shop now",
            "btn_link": "",
            "target": false,
            "btn_size": "base",
            "btn_style": "solid",
            "btn_fw": "normal",
            "btn_icon": "1"
          }
        }
      ]
    }
  ]
}
{% endschema %}
