<!-- sections/lookbook.liquid -->
{{ 'hdt-lookbook.css' | asset_url | stylesheet_tag }}
{%- comment -%}{{ 'hdt-card-products.css' | asset_url | stylesheet_tag }}{%- endcomment -%}
{%- liquid
  if section.settings.image_ratio == 'adapt_image'
    assign attr_img = ''
  else
    assign attr_img = 'data-'
  endif 
  assign index = 0
  assign widths = '400,600,800,1000,1200,1400,1600,1800,2000,2200,2400,2600,2800,3000,3200,3400'
  assign current_w = settings.page_width | append: 'px'
  if section.settings.boxed
    assign current_w = 'calc(100vw - 80px)' 
  endif
-%}
{%- capture sizes -%}
  (min-width: 1150px) {{ current_w }},(min-width: 768px) calc(100vw - 60px),calc(100vw - 30px)
{%- endcapture -%}
{%- style -%}#shopify-section-{{section.id}}{--section-pt:{{section.settings.padding_top}}px;--section-pb:{{section.settings.padding_bottom}}px;--section-prate:{{section.settings.padding_rate}}}{%- endstyle -%}
<div id="{{ section.id }}" class="hdt-section-spacing hdt-s-gradient" color-scheme="{{ section.settings.color_scheme }}">
  <div class="hdt-section-inner">
    <div class="{% if section.settings.boxed %}hdt-container-full hdt-px-15 md:hdt-px-30 lg:hdt-px-40{% else %}hdt-container{% endif %}">
      {%- render 'section-top-head' -%}
      <div class="hdt-row-grid hdt-row-grid--modify hdt-justify-center hdt-grid-cols-1 hdt-ratio--{{ section.settings.image_ratio }}">
        {%- if section.blocks.size > 0 -%}
          <div class="hdt-lookbook_item items" color-scheme="{{ section.settings.color_scheme }}">
            <div class="hdt-lookbook_inner hdt-relative">
              <div class="hdt-image hdt-ratio hdt-rounded hdt-oh" {{ attr_img }}style="--aspect-ratioapt: {{ section.settings.image.aspect_ratio | default: 1.7777 }}">
                {%- if section.settings.image != blank -%}
                  {{ section.settings.image | image_url: width: section.settings.image.width | image_tag: loading: 'lazy', width: section.settings.image.width, height: section.settings.image.height, class: '', sizes: sizes, widths: widths }}
                {%- else -%}
                  {{ 'hero-apparel-1' | placeholder_svg_tag: 'placeholder-svg' }}
                {%- endif -%}
              </div>
              <div class="hdt-pin-group hdt-full-width-link">
                {%- for block in section.blocks -%}     
                  {%- if block.settings.product != blank -%}  
                    {%- render 'pin-product', product: block.settings.product, block: block, index: index, pos_top: block.settings.pos_top, pos_left: block.settings.pos_left, placement: section.settings.placement -%}
                  {%- endif -%}
                {%- endfor -%}
              </div>
            </div>
          </div>
        {%- endif -%}
      </div>
    </div>
  </div>
</div>
{% schema %}
{
  "name": "t:sections.lookbook.name",
  "tag": "section",
  "class": "hdt-section hdt-lookbook",
  "disabled_on": {
    "groups": [
      "*"
    ]
  },
  "settings": [
    {
      "type": "checkbox",
      "id": "boxed",
      "label": "t:sections.lookbook.settings.boxed",
      "default": false
    },
    {
      "type": "header",
      "content": "t:sections.all.section_heading_options"
    },
    {
      "type": "select",
      "id": "heading_align",
      "label": "t:sections.title.settings.heading_align.label",
      "options": [
        {
          "value": "start",
          "label": "t:sections.title.settings.heading_align.options_1.label"
        },
        {
          "value": "center",
          "label": "t:sections.title.settings.heading_align.options_2.label"
        }
      ],
      "default": "center"
    },
    {
      "type": "text",
      "id": "sec_heading",
      "label": "t:sections.all.heading.label"
    },
    {
      "type": "select",
      "id": "heading_tag",
      "label": "t:sections.all.heading.heading_tag.label",
      "default": "h3",
      "options": [
        {
          "value": "h2",
          "label": "t:sections.all.heading.heading_tag.options_2.label"
        },
        {
          "value": "h3",
          "label": "t:sections.all.heading.heading_tag.options_3.label"
        },
        {
          "value": "h4",
          "label": "t:sections.all.heading.heading_tag.options_4.label"
        },
        {
          "value": "h5",
          "label": "t:sections.all.heading.heading_tag.options_5.label"
        },
        {
          "value": "h6",
          "label": "t:sections.all.heading.heading_tag.options_6.label"
        }
      ]
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "text-lg",
          "label": "t:sections.all.heading.heading_size.options.small"
        },
        {
          "value": "h5",
          "label": "t:sections.all.heading.heading_size.options.medium"
        },
        {
          "value": "h4",
          "label": "t:sections.all.heading.heading_size.options.large"
        },
        {
          "value": "h3",
          "label": "t:sections.all.heading.heading_size.options.extralarge"
        }
      ],
      "label": "t:sections.all.heading.heading_size.label",
      "default": "h4"
    },
    {
      "type": "richtext",
      "id": "sec_subheading",
      "label": "t:sections.all.sub_heading.label"
    },
    {
      "type": "select",
      "id": "subheading_size",
      "label": "t:sections.gallery.settings.sub_heading.options.subheading_size",
      "options": [
        {
          "value": "base",
          "label": "t:sections.all.sub_heading.subheading_size.options.base"
        },
        {
          "value": "lg",
          "label": "t:sections.all.sub_heading.subheading_size.options.default"
        },
        {
          "value": "xl",
          "label": "t:sections.all.sub_heading.subheading_size.options.medium"
        },
        {
          "value": "2xl",
          "label": "t:sections.all.sub_heading.subheading_size.options.large"
        },
        {
          "value": "10xl",
          "label": "t:sections.all.sub_heading.subheading_size.options.extralarge"
        }
      ],
      "default": "lg"
    },
    {
      "type": "checkbox",
      "id": "heading_reverse",
      "label": "t:sections.gallery.settings.heading_reverse",
      "default": false
    },
    {
      "type": "range",
      "id": "heading_gap",
      "min": 0,
      "max": 60,
      "step": 1,
      "unit": "px",
      "label": "t:sections.all.heading_gap",
      "default": 18
    },
    {
      "type": "range",
      "id": "sec_heading_spacing",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:sections.all.sec_heading_spacing",
      "default": 30
    },
    {
      "type": "header",
      "content": "t:sections.lookbook.general"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:sections.lookbook.settings.image"
    },
    {
      "type": "select",
      "id": "image_ratio",
      "label": "t:sections.all.images.ratio.label",
      "options": [
        {
          "value": "square",
          "label": "t:sections.all.images.ratio.square.label"
        },
        {
          "value": "portrait",
          "label": "t:sections.all.images.ratio.portrait.label"
        },
        {
          "value": "asos",
          "label": "t:sections.all.images.ratio.asos.label"
        },
        {
          "value": "landscape",
          "label": "t:sections.all.images.ratio.landscape.label"
        },
        {
          "value": "adapt_image",
          "label": "t:sections.all.images.ratio.adapt_image.label"
        }
      ],
      "default": "adapt_image"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label"
    },
    {
      "type": "select",
      "id": "placement",
      "label": "t:sections.lookbook.placement.label",
      "options": [
        {
          "value": "top-start",
          "label": "t:sections.all.placement.options.top-start"
        },
        {
          "value": "top",
          "label": "t:sections.all.placement.options.top"
        },
        {
          "value": "top-end",
          "label": "t:sections.all.placement.options.top-end"
        },
        {
          "value": "bottom-start",
          "label": "t:sections.all.placement.options.bottom-start"
        },
        {
          "value": "bottom",
          "label": "t:sections.all.placement.options.bottom"
        },
        {
          "value": "bottom-end",
          "label": "t:sections.all.placement.options.bottom-end"
        },
        {
          "value": "left-start",
          "label": "t:sections.all.placement.options.left-start"
        },
        {
          "value": "left",
          "label": "t:sections.all.placement.options.left"
        },
        {
          "value": "left-end",
          "label": "t:sections.all.placement.options.left-end"
        },
        {
          "value": "right-start",
          "label": "t:sections.all.placement.options.right-start"
        },
        {
          "value": "right",
          "label": "t:sections.all.placement.options.right"
        },
        {
          "value": "right-end",
          "label": "t:sections.all.placement.options.right-end"
        }
      ],
      "default": "top"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 40
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 40
    },
    {
      "type": "range",
      "id": "padding_rate",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "%",
      "label": "t:sections.all.padding.padding_rate",
      "default": 75
    }
  ],
  "blocks": [
    {
      "type": "pin_product",
      "name": "t:sections.lookbook.blocks.label",
      "limit": 10,
      "settings": [
        {
          "type": "product",
          "id": "product",
          "label": "t:sections.lookbook.blocks.product",
          "info": "t:sections.lookbook.blocks.product_info"
        },
        {
          "type": "range",
          "id": "pos_top",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "%",
          "label": "t:sections.lookbook.blocks.pos_top",
          "default": 50
        },
        {
          "type": "range",
          "id": "pos_left",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "%",
          "label": "t:sections.lookbook.blocks.pos_left",
          "default": 50
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.lookbook.name",
      "blocks": [
        {
          "type": "pin_product",
          "settings": {
            "product": "",
            "pos_top": 50,
            "pos_left": 50
          }
        }
      ]
    }
  ]
}
{% endschema %}
