{%- liquid
  assign form_id = 'CartPage-Form'
  assign shipping_amount = settings.free_ship_pr.metafields.theme.shipping_money.value | default: settings.free_ship_pr.price | default: -1
  assign gift_wrap_pr = settings.gift_wrap_pr
  if gift_wrap_pr != blank and gift_wrap_pr.available
    assign gift_wrap_pr_quantity = cart | item_count_for_variant: gift_wrap_pr.selected_or_first_available_variant.id
    assign gift_wrap_pr_id = gift_wrap_pr.selected_or_first_available_variant.id
  endif
-%}
{{ 'hdt-main-cart.css' | asset_url | stylesheet_tag }}
<div main-content class="hdt-page-cart hdt-section-spacing hdt-s-gradient" id="hdt-page-cart" color-scheme="{{ section.settings.color_scheme }}">
  <div class="hdt-container">
    {%- if cart == empty -%}
      <wrapp-hdt-cart-page-form class="hdt-contents">
      <form action="{{ routes.cart_url }}" method="POST" id="{{ form_id }}" section-id="{{ section.id }}">
      <div class="hdt-page-cart__empty hdt-text-center">
        <h3 class="hdt-page-cart__emty-heading hdt-text-10xl hdt-font-normal">{{ 'sections.cart.empty' | t }}</h3>
        <p>{{ 'sections.cart.empty_sub' | t }}</p>
        {%- if settings.empty_cart_link != blank -%}
          <a href="{{ settings.empty_cart_link }}" class="hdt-page-cart__emty-button hdt-btn hdt-oh hdt-inline-flex hdt-align-center hdt-justify-center hdt-relative hdt-btn-solid hdt-font-normal">
            <span>{{ 'sections.cart.return_shop' | t }}</span><svg class="hdt-icon hdt-icon-2" xmlns="http://www.w3.org/2000/svg" width="12" height="12"  viewBox="0 0 64 64" fill="currentColor"><path d="M6.89,64,0,57.11,47.26,9.85H4.92V0H64V59.08H54.15V16.74Z"/></svg>
          </a>
        {%- endif -%}
      </div>
      </form>
      </wrapp-hdt-cart-page-form>
    {%- else -%}
    {%- assign block = section.blocks | where: "type", "countdown-cart" | first -%}
    {%- if block -%}
      {%- capture icon -%}
      <svg class="hdt-inline-block" xmlns="http://www.w3.org/2000/svg" width="16" height="24" viewBox="0 0 16 24" fill="rgb(var(--color-accent))">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M10.0899 24C11.3119 22.1928 11.4245 20.2409 10.4277 18.1443C10.1505 19.2691 9.64344 19.9518 8.90645 20.1924C9.59084 18.2379 9.01896 16.1263 7.19079 13.8576C7.15133 16.2007 6.58824 17.9076 5.50148 18.9782C4.00436 20.4517 4.02197 22.1146 5.55428 23.9669C-0.806588 20.5819 -1.70399 16.0418 2.86196 10.347C3.14516 11.7228 3.83141 12.5674 4.92082 12.8809C3.73335 7.84186 4.98274 3.54821 8.66895 0C8.6916 7.87426 11.1062 8.57414 14.1592 12.089C17.4554 16.3071 15.5184 21.1748 10.0899 24Z"/>
      </svg>
      {%- endcapture -%}
    <div class="hdt-page-cart__countdown hdt-text-center hdt-s-text">
      <cart-countdown time="{{ block.settings.countdown_cart_minutes }}" config='{"labelm": "m", "labels": "s"}' class="" role="alert">
        {{ block.settings.countdown_cart_text | replace: "[icon]", icon | replace: "[time]", '<span class="hdt-timer_count hdt-font-semibold" id="timer_count">0m : 00s</span>' }}
      </cart-countdown>
    </div>
  {%- endif -%}
    <div class="hdt-page-cart__wrap">
      <div class="hdt-cart-page__items hdt-ratio--adapt_image">
        <wrapp-hdt-cart-page-form class="hdt-contents">
        <form will-change-cart action="{{ routes.cart_url }}" method="POST" id="{{ form_id }}" section-id="{{ section.id }}">
          <input type="hidden" name="attributes[products_items_per_row]" value="">
          <table class="hdt-cart-items hdt-table-page-cart">
            <caption class="sr-only">{{ 'sections.cart.title' | t }}</caption>
            <thead>
              <tr>
                <th>{{ 'sections.cart.headings.product' | t }}</th>
                <th>{{ 'sections.cart.headings.price' | t }}</th>
                <th>{{ 'sections.cart.headings.quantity' | t }}</th>
                <th>{{ 'sections.cart.headings.total' | t }}</th>
              </tr>
            </thead>
            <tbody>
              {%- for item in cart.items -%}
                {%- liquid
                  assign quantity_rule = item.variant.quantity_rule
                  if item.variant.inventory_management != null and item.variant.inventory_quantity > 0 and item.variant.inventory_policy != 'continue'
                    assign qty = item.variant.inventory_quantity
                  else
                    assign qty = 9999
                  endif
                  assign qty_rule_max = quantity_rule.max | default: 0
                  assign max_qty = qty | at_least: qty_rule_max
                -%}
                <tr class="hdt-cart-item hdt-page-cart__item hdt-relative hdt-oh{% if item.variant.id == gift_wrap_pr_id or item.gift_card %} is-gift-wrap{% endif %}" id="CartItem-{{ item.index | plus: 1 }}">
                  <td class="hdt-cart-item__product hdt-page-cart__infos hdt-text-start">{%- render 'item-cart-page', item: item, form_id: form_id -%}</td>
                  <td class="hdt-cart-item__price hdt-page-cart__prices hdt-text-center" cart-data-title="{{ 'sections.cart.headings.price' | t }}">{%- render 'line-item-price', line_item: item, price_class: 'hdt-price-wrapp hdt-justify-center' -%}</td>
                  <td class="hdt-cart-item__quantity hdt-page-cart__quantity" cart-data-title="{{ 'sections.cart.headings.quantity' | t }}">
                    <hdt-quantity-wrapp class="hdt-quantity-wrapp hdt-quantity-cart-item hdt-s-text hdt-text-center hdt-relative">
                      <button class="hdt-quantity__button no-js-hidden is--minus hdt-absolute hdt-p-0 hdt-top-0 hdt-left-0 hdt-text-start" name="minus" type="button">
                        <span class="sr-only">{{- 'products.product.quantity.decrease' | t: product: item.product.title | escape -}}</span>
                        {%- render 'icon' with 'minus' -%}
                      </button>
                      <input will-change-cart class="quantity__input hdt-quantity-input hdt-text-center hdt-text-sm hdt-font-medium hdt-p-0" type="number" name="updates[]" min="{{ quantity_rule.min }}" data-max="{{ max_qty }}" max="{{ max_qty }}" value="{{ item.quantity }}" aria-label="{{ 'products.product.quantity.input_label' | t: product: item.product.title | escape }}" data-index="{{ item.index | plus: 1 }}">
                      <button class="hdt-quantity__button no-js-hidden is--plus hdt-absolute hdt-p-0 hdt-top-0 hdt-right-0 hdt-text-end" name="plus" type="button">
                        <span class="sr-only">{{- 'products.product.quantity.increase' | t: product: item.product.title | escape -}}</span>
                        {%- render 'icon' with 'plus' -%}
                      </button>
                    </hdt-quantity-wrapp>
                  </td>
                  <td class="hdt-cart-item__total hdt-page_cart__total-price hdt-text-end hdt-s-text hdt-font-semibold" cart-data-title="{{ 'sections.cart.headings.total' | t }}">{%- render 'line-item-price', line_item: item, get_total: true, show_unit_price: true, price_class: 'hdt-justify-end' -%}</td>
                </tr>
              {%- endfor -%}
            </tbody>
          </table>
          {%- if section.settings.show_cart_note -%}
            <hdt-cart-note class="hdt-page-cart__note">
              <label for="Cart-note" class="hdt-s-text hdt-font-semibold hdt-block" data-label-note>
                <span {% if cart.note != blank %}hidden{% endif %}>{{ 'sections.cart.add_note' | t }}</span>
                <span {% if cart.note == blank %}hidden{% endif %}>{{ 'sections.cart.edit_note' | t }}</span>
              </label>
              <textarea name="note" id="Cart-note" placeholder="{{ 'sections.cart.placeholder_note' | t | escape }}">{{ cart.note }}</textarea>
            </hdt-cart-note>
          {%- endif -%}
        </form>
        </wrapp-hdt-cart-page-form>
      </div>
      <div class="hdt-page-cart__footer">
        <div class="hdt-page-cart__footer-content">
          {%- if section.settings.show_free_shipping_bar and shipping_amount > -1 -%}
            {%- render 'cart-shipping-bar', shipping_amount: shipping_amount -%}
          {%- endif -%}
          {%- if section.blocks.size > 0 -%}
            <div class="hdt-page-cart__content">
              {%- for block in section.blocks -%}
                {%- case block.type -%}
                  {%- when 'estimate' -%}
                    {%- render 'shipping-calculator', form_id: form_id, calculator_accordion: true -%}
                  {%- when 'subtotal' -%}
                    <div class="hdt-cart-totals-discounts" {{ block.shopify_attributes }}>
                      {%- if cart.cart_level_discount_applications.size > 0 -%}
                        <ul class="hdt-discounts hdt-cart_discounts" role="list" aria-label="{{ 'customer.order.discount' | t }}">
                          {%- for discount in cart.cart_level_discount_applications -%}
                            <li class="hdt-discounts__discount hdt-discounts__discount--end">
                              {%- render 'icon' with 'discount' -%}
                              {{ discount.title }}
                              (-{{ discount.total_allocated_amount | money }})
                            </li>
                          {%- endfor -%}
                        </ul>
                      {%- endif -%}
                      <div class="hdt-totals hdt-page-cart__totals hdt-flex hdt-align-center hdt-justify-between" role="status">
                        <h3 class="hdt-totals__total hdt-page-cart__total hdt-text-2xl hdt-font-normal">{{ 'sections.cart.subtotal' | t }}</h3>
                        <span class="hdt-totals__total-value hdt-page-cart__value hdt-text-2xl hdt-s-text hdt-font-semibold hdt-money">{{ cart.total_price | money_with_currency }}</span>
                      </div>
                    </div>
                  {%- when 'line' -%}
                    <div class="hdt-page-cart__line"></div>
                  {%- when 'tax' -%}
                    <div class="hdt-cart-tax hdt-s-text2 hdt-rte" {{ block.shopify_attributes }}>
                      {%- if cart.taxes_included and shop.shipping_policy.body != blank -%}
                        {{ 'sections.cart.taxes_included_and_shipping_policy_html' | t: link: shop.shipping_policy.url }}
                      {%- elsif cart.taxes_included -%}
                        {{ 'sections.cart.taxes_included_but_shipping_at_checkout' | t }}
                      {%- elsif shop.shipping_policy.body != blank -%}
                        {{ 'sections.cart.taxes_and_shipping_policy_at_checkout_html' | t: link: shop.shipping_policy.url }}
                      {%- else -%}
                        {{ 'sections.cart.taxes_and_shipping_at_checkout' | t }}
                      {%- endif -%}
                    </div>
                  {%- when 'agree' -%}{%- render 'cart-checkbox', form_id: form_id, block: block -%}
                  {%- when 'checkout_btn' -%}
                    <button form="{{ form_id }}" type="submit" name="checkout" class="hdt-main-cart__button-checkout hdt-inline-flex hdt-align-center hdt-justify-center hdt-relative hdt-btn hdt-oh hdt-btn-{{ block.settings.btn_style_checkout }} hdt-font-{{ block.settings.btn_fw_checkout }}">
                      <span class="hdt-truncate">{{ 'sections.cart.checkout' | t }}</span>
                      {%- if block.settings.btn_icon_checkout == "1" -%}
                        <svg class="hdt-icon hdt-icon-1" xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 64 64" fill="currentColor"><path d="M12,56.43,36.48,32,12,7.52,19.53,0,51.61,32,19.53,64Z"/></svg>
                      {%- elsif block.settings.btn_icon_checkout == "2" -%}
                        <svg class="hdt-icon hdt-icon-2" xmlns="http://www.w3.org/2000/svg" width="12" height="12"  viewBox="0 0 64 64" fill="currentColor"><path d="M6.89,64,0,57.11,47.26,9.85H4.92V0H64V59.08H54.15V16.74Z"/></svg>
                      {%- else -%}
                        {%- endif -%}
                    </button>
                  {%- when 'accelerated_btns' -%}
                    {%- comment %} https://shopify.dev/docs/themes/pricing-payments/accelerated-checkout {% endcomment -%}
                    <hdt-need-checked-to-use get-id="{{ form_id }}_agree">
                    <div class="additional-checkout-buttons additional-checkout-buttons--vertical" disabled>
                      {{ content_for_additional_checkout_buttons }}
                    </div>
                    </hdt-need-checked-to-use>
                    {%- if additional_checkout_buttons -%}{%- endif -%}
                  {%- when 'gift' -%}
                    {%- if gift_wrap_pr_quantity == 0 -%}
                      {%- assign gift_pr_money = gift_wrap_pr.variants.first.price | money -%}
                      <div class="hdt-page-cart__addgift hdt-relative htd-oh">
                        <div class="hdt-cart-checkbox" {{ block.shopify_attributes }}>
                          <div class="hdt-checkbox-wrapp hdt-inline-grid hdt-relative hdt-oh">
                            <input form="hdt-cart-gift-checkbox" class="hdt-grid-1x1" type="checkbox" id="hdt-cart-gift-checkbox" onclick="addGift()"  required name="gift_checkbox">
                            <svg class="hdt-grid-1x1 hdt-pe-none" width="12" height="12" viewBox="0 0 24 24"><path d="M9 20l-7-7 3-3 4 4L19 4l3 3z"></path></svg>
                          </div>
                          <label for="hdt-cart-gift-checkbox">{{ 'sections.cart.gift_wrap_html' | t: money: gift_pr_money }}</label>
                        </div>
                        <wrapp-hdt-pr-frm class="hdt-contents">
                        {%- form 'product', gift_wrap_pr, id: 'product-form-gift-wrap', class: 'hdt-hidden', novalidate: 'novalidate' -%}
                          {{ gift_wrap_pr.title }}
                          <input type="hidden" name="action_added" value="no">
                          <input type="hidden" name="quantity" value="{{ gift_wrap_pr.selected_or_first_available_variant.min }}">
                          <input type="hidden" name="id" value="{{ gift_wrap_pr_id }}">
                          <button type="submit" name="add" id="hdt-cart-gift-submit">{{ 'sections.cart.tool.add_gift_wrap' | t }}</button>
                        {%- endform -%}
                        </wrapp-hdt-pr-frm>
                      </div>
                    {%- endif -%}
                    <script type="text/javascript">
                      function addGift() {
                        const giftCheckBox = document.getElementById('hdt-cart-gift-checkbox').checked;
                        if (giftCheckBox) {
                          giftCheckBox.checked = false;
                          document.getElementById('product-form-gift-wrap').submit();
                        }
                      }
                    </script>
                  {%- when 'img_trust' -%}
                    <div class="hdt-page-cart__imgtrust hdt-text-center">
                      {%- if block.settings.mess != blank -%}
                        <p class="hdt-page-cart__imgtrust-mess hdt-s-text hdt-font-semibold">{{ block.settings.mess }}</p>
                      {%- endif -%}
                      {%- capture html_trust -%}
                        {%- if block.settings.source == '1' and block.settings.image != blank -%}
                          {%- assign image_size_2x = block.settings.wimg | times: 2 -%}
                          <div class="hdt-page-cart__imgtrust-image hdt-block lg:hdt-inline-block" style="max-width: min(100%, {{ block.settings.wimg }}px);">
                            <img width="{{ block.settings.image.width }}" class="hdt-inline-block" height="{{ block.settings.image.height }}" srcset="{{ block.settings.image | image_url: width: block.settings.image_width }}, {{ block.settings.image | image_url: width: image_size_2x }} 2x" src="{{ block.settings.image | image_url: width: 760 }}" alt="{{ block.settings.image.alt | escape }}" loading="lazy">
                          </div>
                        {%- elsif block.settings.svg != blank -%}
                          {%- assign arr = block.settings.svg | remove: ' ' | split: "," -%}
                          <div class="hdt-page-cart__imgtrust-svgs hdt-block lg:hdt-inline-block" style="--height-img:{{ block.settings.height }}px;">
                            {%- for img in arr -%}
                              <div class="hdt-payment-item hdt-inline-block">{{ img | payment_type_svg_tag: class: 'hdt-icon-payment hdt-inline-block' }}</div>
                            {%- endfor -%}
                          </div>
                        {%- endif -%}
                      {%- endcapture -%}
                      {{- html_trust -}}
                    </div>
                  {%- when 'payment-terms' -%}
                    <div class="hdt-cart-payment-terms" {{ block.shopify_attributes }}>
                      {%- form 'cart', cart -%}
                        <span data-cart-subtotal class="hdt-hidden">{{ cart.total_price | money }}</span>
                        {{ form | payment_terms }}
                      {%- endform -%}
                    </div>
                {%- endcase -%}
              {%- endfor -%}
            </div>
          {%- endif -%}
        </div>
      </div>
    </div>
    {%- endif -%}
  </div>
</div>
{%- style -%}#shopify-section-{{ section.id }} { --section-pt:{{ section.settings.padding_top }}px; --section-pb:{{ section.settings.padding_bottom }}px; --section-prate:{{ section.settings.padding_rate }}; }{%- endstyle -%}
{% schema %}
{
  "name": "t:sections.main-cart.name",
  "class": "hdt-section-main hdt-section-main-cart",
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "checkbox",
      "id": "show_cart_note",
      "label": "t:sections.main-cart.settings.show_cart_note.label",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_free_shipping_bar",
      "label": "t:sections.main-cart.settings.show_free_shipping_bar.label",
      "default": true
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 50,
      "max": 150,
      "step": 1,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 50
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 50,
      "max": 150,
      "step": 1,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 50
    },
    {
      "type": "range",
      "id": "padding_rate",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "%",
      "label": "t:sections.all.padding.padding_rate",
      "default": 75
    }
  ],
  "blocks": [
    {
      "type": "@app"
    },
    {
      "type": "subtotal",
      "name": "t:sections.main-cart.blocks.subtotal.name",
      "limit": 1,
      "settings":[    
        {
          "type": "paragraph",
          "content": "t:settings_schema.currency_format.settings.paragraph"
        }
      ]
    },
    {
      "type": "tax",
      "name": "t:sections.main-cart.blocks.tax.name",
      "limit": 1
    },
    {
      "type": "agree",
      "name": "t:sections.main-cart.blocks.agree.name",
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "t:sections.main-cart.blocks.agree.settings.paragraph.content"
        },
        {
          "type": "inline_richtext",
          "id": "content",
          "label": "t:sections.main-cart.blocks.agree.settings.content.label",
          "default": "I agree with the terms and conditions"
        }
      ]
    },
    {
      "type": "checkout_btn",
      "name": "Checkout button",
      "limit": 1,
      "settings": [
        {
          "type": "select",
          "id": "btn_style_checkout",
          "label": "t:sections.all.button.settings.style.label",
          "options": [
            {
              "value": "solid",
              "label": "t:sections.all.button.settings.style.options.option_1"
            },
            {
              "value": "outline",
              "label": "t:sections.all.button.settings.style.options.option_2"
            },
            {
              "value": "link",
              "label": "t:sections.all.button.settings.style.options.option_3"
            }
          ],
          "default": "solid"
        },
        {
          "type": "select",
          "id": "btn_fw_checkout",
          "label": "t:sections.all.button.settings.font_weight.label",
          "options": [
            {
              "value": "normal",
              "label": "t:sections.all.button.settings.font_weight.options.option_1"
            },
            {
              "value": "medium",
              "label": "t:sections.all.button.settings.font_weight.options.option_2"
            },
            {
              "value": "semibold",
              "label": "t:sections.all.button.settings.font_weight.options.option_3"
            },
            {
              "value": "bold",
              "label": "t:sections.all.button.settings.font_weight.options.option_4"
            }
          ],
          "default": "normal"
        },
        {
          "type": "select",
          "id": "btn_icon_checkout",
          "label": "t:sections.all.button.settings.icon.label",
          "options": [
            {
              "value": "none",
              "label": "t:sections.all.button.settings.icon.options.option_0"
            },
            {
              "value": "1",
              "label": "t:sections.all.button.settings.icon.options.option_1"
            },
            {
              "value": "2",
              "label": "t:sections.all.button.settings.icon.options.option_2"
            }
          ],
          "default": "none"
        }
      ]
    },
    {
      "type": "accelerated_btns",
      "name": "t:sections.main-cart.blocks.accelerated_btns.name",
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "t:sections.main-cart.blocks.accelerated_btns.settings.paragraph1.content"
        },
        {
          "type": "paragraph",
          "content": "t:sections.main-cart.blocks.accelerated_btns.settings.paragraph2.content"
        }
      ]
    },
    {
      "type": "estimate",
      "name": "t:sections.main-cart.blocks.estimate.name",
      "limit": 1
    },
    {
      "type": "gift",
      "name": "t:sections.main-cart.blocks.gift.name",
      "limit": 1
    },
    {
      "type": "line",
      "name": "t:sections.main-cart.blocks.line.name"
    },
    {
      "type": "img_trust",
      "name": "t:sections.main-cart.blocks.img_trust.name",
      "limit": 1,
      "settings": [
        {
          "type": "textarea",
          "id": "mess",
          "label": "t:sections.main-cart.blocks.img_trust.settings.mess.label",
          "default": "Guarantee Safe Checkout",
          "placeholder": "Guarantee Safe Checkout"
        },
        {
          "type": "select",
          "id": "source",
          "label": "t:sections.main-cart.blocks.img_trust.settings.source.label",
          "default": "1",
          "options": [
            {
              "value": "1",
              "label": "t:sections.main-cart.blocks.img_trust.settings.source.options__1.label"
            },
            {
              "value": "2",
              "label": "t:sections.main-cart.blocks.img_trust.settings.source.options__2.label"
            }
          ]
        },
        {
          "type": "header",
          "content": "t:sections.main-cart.blocks.img_trust.settings.header_image.content"
        },        
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:sections.main-cart.blocks.img_trust.settings.image.label"
        },
        {
          "type": "range",
          "id": "wimg",
          "min": 100,
          "max": 600,
          "step": 5,
          "unit": "px",
          "label": "t:sections.main-cart.blocks.img_trust.settings.wimg.label",
          "default": 350
        },
        {
          "type": "header",
          "content": "t:sections.main-cart.blocks.img_trust.settings.header_svg.content"
        },
        {
          "type": "textarea",
          "id": "svg",
          "label": "t:sections.main-cart.blocks.img_trust.settings.svg.label",
          "default": "visa,paypal,master,american_express,amazon_payments",
          "info": "Review the [list of available values](https:\/\/github.com\/activemerchant\/payment_icons\/tree\/master\/app\/assets\/images\/payment_icons) and copy the name of each icon that you need from that list, without the .svg extension"
        },
        {
          "type": "range",
          "id": "height",
          "min": 1,
          "max": 100,
          "step": 1,
          "label": "t:sections.main-cart.blocks.img_trust.settings.height.label",
          "unit": "px",
          "default": 25
        }
      ]
    },
    {
      "type": "payment-terms",
      "name": "t:sections.main-cart.blocks.payment-terms.name",
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "t:sections.main-cart.blocks.payment-terms.settings.info.content"
        }
      ]
    },
    {
      "type": "countdown-cart",
      "name": "t:sections.main-cart.blocks.countdown-cart.name",
      "limit": 1,
      "settings": [
        {
          "type": "range",
          "id": "countdown_cart_minutes",
          "label": "t:sections.main-cart.blocks.countdown-cart.settings.countdown_cart_minutes.label",
          "min": 1,
          "max": 59,
          "step": 1,
          "default": 4
        },
        {
          "type": "html",
          "id": "countdown_cart_text",
          "label": "t:sections.main-cart.blocks.countdown-cart.settings.countdown_cart_text.label",
          "default": "[icon] These products are limited, checkout within [time]",
          "info":"t:sections.main-cart.blocks.countdown-cart.settings.countdown_cart_text.info"
        }
      ]
    }
  ],
  "default": {
    "blocks": [
      {
        "type": "subtotal"
      },
      {
        "type": "tax"
      },
      {
        "type": "agree"
      },
      {
        "type": "checkout_btn"
      },
      {
        "type": "accelerated_btns"
      }
    ]
  }
}
{% endschema %}