<!-- sections/main-order.liquid -->
{{ 'hdt-customer.css' | asset_url | stylesheet_tag }}

<div timeline hdt-reveal="slide-in" class="hdt-main-order hdt-section-spacing hdt-s-gradient" color-scheme="{{ section.settings.color_scheme }}">
  <div class="hdt-container">
    <div class="hdt-customer hdt-customer-account is--order hdt-row-grid">
      <div class="hdt-account-sidebar">
        <nav class="hdt-account-nav">
          <ul>
            <li class="hdt-account-nav-link hdt-account-nav-link--dashboard is--active" timeline hdt-reveal="slide-in">
              <a class="hdt-flex hdt-align-center" href="/account"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20"><path d="M6.24228 9.14472H4.0476C2.44803 9.14472 1.14598 7.84266 1.14598 6.24233V4.04842C1.14598 2.44961 2.44803 1.14759 4.0476 1.14759H6.24228C7.84185 1.14759 9.1439 2.44964 9.1439 4.04842V6.24229C9.14387 7.84266 7.84185 9.14472 6.24228 9.14472ZM4.0476 2.73864C3.32513 2.73864 2.73702 3.32594 2.73702 4.04845V6.24233C2.73702 6.96481 3.32513 7.55371 4.0476 7.55371H6.24228C6.96476 7.55371 7.55286 6.96484 7.55286 6.24233V4.04842C7.55286 3.32594 6.96476 2.7386 6.24228 2.7386L4.0476 2.73864ZM15.9866 9.14472H13.7912C12.1916 9.14472 10.8903 7.84266 10.8903 6.24233V4.04842C10.8903 2.44961 12.1916 1.14759 13.7912 1.14759H15.9866C17.5862 1.14759 18.8874 2.44961 18.8874 4.04842V6.24229C18.8874 7.84266 17.5862 9.14472 15.9866 9.14472ZM13.7911 2.73864C13.0686 2.73864 12.4813 3.32594 12.4813 4.04845V6.24233C12.4813 6.96481 13.0686 7.55371 13.7911 7.55371H15.9866C16.709 7.55371 17.2964 6.96484 17.2964 6.24233V4.04842C17.2964 3.32594 16.7091 2.7386 15.9866 2.7386L13.7911 2.73864ZM6.24228 18.8525H4.0476C2.44803 18.8525 1.14598 17.5505 1.14598 15.9517V13.7562C1.14598 12.1574 2.44803 10.8554 4.0476 10.8554H6.24228C7.84185 10.8554 9.1439 12.1575 9.1439 13.7562V15.9517C9.14387 17.5505 7.84185 18.8525 6.24228 18.8525ZM4.0476 12.4464C3.32513 12.4464 2.73702 13.0337 2.73702 13.7562V15.9517C2.73702 16.6742 3.32513 17.2615 4.0476 17.2615H6.24228C6.96476 17.2615 7.55286 16.6742 7.55286 15.9517V13.7562C7.55286 13.0338 6.96476 12.4464 6.24228 12.4464H4.0476ZM15.9866 18.8525H13.7912C12.1916 18.8525 10.8903 17.5505 10.8903 15.9517V13.7562C10.8903 12.1574 12.1916 10.8554 13.7912 10.8554H15.9866C17.5862 10.8554 18.8874 12.1575 18.8874 13.7562V15.9517C18.8874 17.5505 17.5862 18.8525 15.9866 18.8525ZM13.7911 12.4464C13.0686 12.4464 12.4813 13.0337 12.4813 13.7562V15.9517C12.4813 16.6742 13.0686 17.2615 13.7911 17.2615H15.9866C16.709 17.2615 17.2964 16.6742 17.2964 15.9517V13.7562C17.2964 13.0338 16.7091 12.4464 15.9866 12.4464H13.7911Z"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M6.24228 9.29223H4.0476C2.36652 9.29223 0.998437 7.9241 0.998437 6.2423V4.04839C0.998437 2.36807 2.36658 1.00002 4.0476 1.00002H6.24228C7.92331 1.00002 9.29144 2.36811 9.29144 4.04839V6.24227C9.29141 7.92409 7.92336 9.29223 6.24228 9.29223ZM4.0476 2.88615C3.4065 2.88615 2.88457 3.40752 2.88457 4.04843V6.2423C2.88457 6.88342 3.40673 7.40614 4.0476 7.40614H6.24228C6.88316 7.40614 7.40532 6.88345 7.40532 6.2423V4.04839C7.40532 3.40751 6.88338 2.88612 6.24228 2.88612L4.0476 2.88615ZM15.9866 9.29223H13.7912C12.11 9.29223 10.7428 7.92405 10.7428 6.2423V4.04839C10.7428 2.36813 12.1101 1.00002 13.7912 1.00002H15.9866C17.6677 1.00002 19.035 2.36813 19.035 4.04839V6.24227C19.035 7.92404 17.6677 9.29223 15.9866 9.29223ZM13.7911 2.88615C13.1501 2.88615 12.6288 3.4074 12.6288 4.04843V6.2423C12.6288 6.88353 13.1503 7.40614 13.7911 7.40614H15.9866C16.6273 7.40614 17.1488 6.88356 17.1488 6.2423V4.04839C17.1488 3.4074 16.6276 2.88612 15.9866 2.88612L13.7911 2.88615ZM6.24228 19H4.0476C2.36658 19 0.998437 17.632 0.998437 15.9517V13.7562C0.998437 12.0759 2.36658 10.7078 4.0476 10.7078H6.24228C7.92331 10.7078 9.29144 12.0759 9.29144 13.7562V15.9517C9.29141 17.632 7.92331 19 6.24228 19ZM4.0476 12.5939C3.4065 12.5939 2.88457 13.1153 2.88457 13.7562V15.9517C2.88457 16.5925 3.4065 17.1139 4.0476 17.1139H6.24228C6.88339 17.1139 7.40532 16.5926 7.40532 15.9517V13.7562C7.40532 13.1153 6.88338 12.5939 6.24228 12.5939H4.0476ZM15.9866 19H13.7912C12.1101 19 10.7428 17.6319 10.7428 15.9517V13.7562C10.7428 12.076 12.1101 10.7078 13.7912 10.7078H15.9866C17.6677 10.7078 19.035 12.076 19.035 13.7562V15.9517C19.035 17.6319 17.6677 19 15.9866 19ZM13.7911 12.5939C13.1501 12.5939 12.6288 13.1152 12.6288 13.7562V15.9517C12.6288 16.5927 13.1501 17.1139 13.7911 17.1139H15.9866C16.6276 17.1139 17.1488 16.5927 17.1488 15.9517V13.7562C17.1488 13.1152 16.6276 12.5939 15.9866 12.5939H13.7911ZM4.0476 9.14472H6.24228C7.84185 9.14472 9.14387 7.84266 9.1439 6.24229V4.04842C9.1439 2.44964 7.84185 1.14759 6.24228 1.14759H4.0476C2.44803 1.14759 1.14598 2.44961 1.14598 4.04842V6.24233C1.14598 7.84266 2.44803 9.14472 4.0476 9.14472ZM2.73702 4.04845C2.73702 3.32594 3.32513 2.73864 4.0476 2.73864L6.24228 2.7386C6.96476 2.7386 7.55286 3.32594 7.55286 4.04842V6.24233C7.55286 6.96484 6.96476 7.55371 6.24228 7.55371H4.0476C3.32513 7.55371 2.73702 6.96481 2.73702 6.24233V4.04845ZM13.7912 9.14472H15.9866C17.5862 9.14472 18.8874 7.84266 18.8874 6.24229V4.04842C18.8874 2.44961 17.5862 1.14759 15.9866 1.14759H13.7912C12.1916 1.14759 10.8903 2.44961 10.8903 4.04842V6.24233C10.8903 7.84266 12.1916 9.14472 13.7912 9.14472ZM12.4813 4.04845C12.4813 3.32594 13.0686 2.73864 13.7911 2.73864L15.9866 2.7386C16.7091 2.7386 17.2964 3.32594 17.2964 4.04842V6.24233C17.2964 6.96484 16.709 7.55371 15.9866 7.55371H13.7911C13.0686 7.55371 12.4813 6.96481 12.4813 6.24233V4.04845ZM4.0476 18.8525H6.24228C7.84185 18.8525 9.14387 17.5505 9.1439 15.9517V13.7562C9.1439 12.1575 7.84185 10.8554 6.24228 10.8554H4.0476C2.44803 10.8554 1.14598 12.1574 1.14598 13.7562V15.9517C1.14598 17.5505 2.44803 18.8525 4.0476 18.8525ZM2.73702 13.7562C2.73702 13.0337 3.32513 12.4464 4.0476 12.4464H6.24228C6.96476 12.4464 7.55286 13.0338 7.55286 13.7562V15.9517C7.55286 16.6742 6.96476 17.2615 6.24228 17.2615H4.0476C3.32513 17.2615 2.73702 16.6742 2.73702 15.9517V13.7562ZM13.7912 18.8525H15.9866C17.5862 18.8525 18.8874 17.5505 18.8874 15.9517V13.7562C18.8874 12.1575 17.5862 10.8554 15.9866 10.8554H13.7912C12.1916 10.8554 10.8903 12.1574 10.8903 13.7562V15.9517C10.8903 17.5505 12.1916 18.8525 13.7912 18.8525ZM12.4813 13.7562C12.4813 13.0337 13.0686 12.4464 13.7911 12.4464H15.9866C16.7091 12.4464 17.2964 13.0338 17.2964 13.7562V15.9517C17.2964 16.6742 16.709 17.2615 15.9866 17.2615H13.7911C13.0686 17.2615 12.4813 16.6742 12.4813 15.9517V13.7562Z"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M6.24228 9.39223H4.0476C2.31128 9.39223 0.898438 7.97931 0.898438 6.2423V4.04839C0.898438 2.31283 2.31137 0.900024 4.0476 0.900024H6.24228C7.97852 0.900024 9.39144 2.31286 9.39144 4.04839V6.24227C9.39141 7.9793 7.97861 9.39223 6.24228 9.39223ZM4.0476 2.98615C3.46165 2.98615 2.98457 3.46282 2.98457 4.04843V6.2423C2.98457 6.82826 3.46203 7.30614 4.0476 7.30614H6.24228C6.82785 7.30614 7.30532 6.82829 7.30532 6.2423V4.04839C7.30532 3.46281 6.82823 2.98612 6.24228 2.98612L4.0476 2.98615ZM15.9866 9.39223H13.7912C12.0547 9.39223 10.6428 7.97922 10.6428 6.2423V4.04839C10.6428 2.31292 12.0548 0.900024 13.7912 0.900024H15.9866C17.7229 0.900024 19.135 2.31292 19.135 4.04839V6.24227C19.135 7.97922 17.723 9.39223 15.9866 9.39223ZM13.7911 2.98615C13.2054 2.98615 12.7288 3.46263 12.7288 4.04843V6.2423C12.7288 6.82845 13.2057 7.30614 13.7911 7.30614H15.9866C16.5719 7.30614 17.0488 6.82848 17.0488 6.2423V4.04839C17.0488 3.46263 16.5724 2.98612 15.9866 2.98612L13.7911 2.98615ZM6.24228 19.1H4.0476C2.31137 19.1 0.898438 17.6872 0.898438 15.9517V13.7562C0.898438 12.0207 2.31137 10.6078 4.0476 10.6078H6.24228C7.97852 10.6078 9.39144 12.0207 9.39144 13.7562V15.9517C9.39141 17.6872 7.97852 19.1 6.24228 19.1ZM4.0476 12.6939C3.46165 12.6939 2.98457 13.1706 2.98457 13.7562V15.9517C2.98457 16.5372 3.46165 17.0139 4.0476 17.0139H6.24228C6.82823 17.0139 7.30532 16.5373 7.30532 15.9517V13.7562C7.30532 13.1706 6.82823 12.6939 6.24228 12.6939H4.0476ZM15.9866 19.1H13.7912C12.0548 19.1 10.6428 17.6871 10.6428 15.9517V13.7562C10.6428 12.0207 12.0548 10.6078 13.7912 10.6078H15.9866C17.7229 10.6078 19.135 12.0208 19.135 13.7562V15.9517C19.135 17.6871 17.7229 19.1 15.9866 19.1ZM13.7911 12.6939C13.2054 12.6939 12.7288 13.1704 12.7288 13.7562V15.9517C12.7288 16.5374 13.2053 17.0139 13.7911 17.0139H15.9866C16.5723 17.0139 17.0488 16.5374 17.0488 15.9517V13.7562C17.0488 13.1705 16.5724 12.6939 15.9866 12.6939H13.7911ZM4.0476 9.29223H6.24228C7.92336 9.29223 9.29141 7.92409 9.29144 6.24227V4.04839C9.29144 2.36811 7.92331 1.00002 6.24228 1.00002H4.0476C2.36658 1.00002 0.998437 2.36807 0.998437 4.04839V6.2423C0.998437 7.9241 2.36652 9.29223 4.0476 9.29223ZM2.88457 4.04843C2.88457 3.40752 3.4065 2.88615 4.0476 2.88615L6.24228 2.88612C6.88338 2.88612 7.40532 3.40751 7.40532 4.04839V6.2423C7.40532 6.88345 6.88316 7.40614 6.24228 7.40614H4.0476C3.40673 7.40614 2.88457 6.88342 2.88457 6.2423V4.04843ZM13.7912 9.29223H15.9866C17.6677 9.29223 19.035 7.92404 19.035 6.24227V4.04839C19.035 2.36813 17.6677 1.00002 15.9866 1.00002H13.7912C12.1101 1.00002 10.7428 2.36813 10.7428 4.04839V6.2423C10.7428 7.92405 12.11 9.29223 13.7912 9.29223ZM12.6288 4.04843C12.6288 3.4074 13.1501 2.88615 13.7911 2.88615L15.9866 2.88612C16.6276 2.88612 17.1488 3.4074 17.1488 4.04839V6.2423C17.1488 6.88356 16.6273 7.40614 15.9866 7.40614H13.7911C13.1503 7.40614 12.6288 6.88353 12.6288 6.2423V4.04843ZM4.0476 19H6.24228C7.92331 19 9.29141 17.632 9.29144 15.9517V13.7562C9.29144 12.0759 7.92331 10.7078 6.24228 10.7078H4.0476C2.36658 10.7078 0.998437 12.0759 0.998437 13.7562V15.9517C0.998437 17.632 2.36658 19 4.0476 19ZM2.88457 13.7562C2.88457 13.1153 3.4065 12.5939 4.0476 12.5939H6.24228C6.88338 12.5939 7.40532 13.1153 7.40532 13.7562V15.9517C7.40532 16.5926 6.88339 17.1139 6.24228 17.1139H4.0476C3.4065 17.1139 2.88457 16.5925 2.88457 15.9517V13.7562ZM13.7912 19H15.9866C17.6677 19 19.035 17.6319 19.035 15.9517V13.7562C19.035 12.076 17.6677 10.7078 15.9866 10.7078H13.7912C12.1101 10.7078 10.7428 12.076 10.7428 13.7562V15.9517C10.7428 17.6319 12.1101 19 13.7912 19ZM12.6288 13.7562C12.6288 13.1152 13.1501 12.5939 13.7911 12.5939H15.9866C16.6276 12.5939 17.1488 13.1152 17.1488 13.7562V15.9517C17.1488 16.5927 16.6276 17.1139 15.9866 17.1139H13.7911C13.1501 17.1139 12.6288 16.5927 12.6288 15.9517V13.7562Z"></path></svg>{{ 'customer.account.dashboard' | t }}</a>
            </li>
            <li class="hdt-account-nav-link hdt-account-nav-link--edit-address" timeline hdt-reveal="slide-in">
              <a href="{{ routes.account_addresses_url }}" class="hdt-flex hdt-align-center"><svg xmlns="http://www.w3.org/2000/svg" width="15" height="19" viewBox="0 0 15 19"><path d="M7.62014 4.57887C5.81871 4.57887 4.35311 6.04447 4.35311 7.8459C4.35311 9.64734 5.81871 11.1129 7.62014 11.1129C9.42158 11.1129 10.8872 9.64734 10.8872 7.8459C10.8872 6.04447 9.42161 4.57887 7.62014 4.57887ZM7.62014 9.73736C6.5772 9.73736 5.72869 8.88885 5.72869 7.8459C5.72869 6.80296 6.5772 5.95445 7.62014 5.95445C8.66308 5.95445 9.51159 6.80296 9.51159 7.8459C9.51159 8.88885 8.66308 9.73736 7.62014 9.73736Z"/><path d="M7.62014 0.795966C3.73279 0.795966 0.570204 3.95858 0.570204 7.8459V8.04079C0.570204 10.0068 1.69735 12.2978 3.92045 14.8501C5.53202 16.7003 7.12108 17.9904 7.1879 18.0445L7.62014 18.3937L8.05239 18.0445C8.11924 17.9905 9.7083 16.7003 11.3198 14.8501C13.5429 12.2978 14.6701 10.0068 14.6701 8.04082V7.84594C14.6701 3.95858 11.5075 0.795966 7.62014 0.795966ZM13.2945 8.04082C13.2945 11.3633 9.0136 15.3851 7.62014 16.6061C6.22631 15.3848 1.94579 11.363 1.94579 8.04082V7.84594C1.94579 4.71711 4.49131 2.17158 7.62014 2.17158C10.749 2.17158 13.2945 4.71711 13.2945 7.84594V8.04082Z"/><path fill-rule="evenodd" clip-rule="evenodd" d="M7.07755 18.1813C7.0072 18.1244 5.40926 16.827 3.78806 14.9657C1.55546 12.4025 0.394531 10.0708 0.394531 8.04079V7.84591C0.394531 3.8614 3.6359 0.619995 7.62045 0.619995C11.605 0.619995 14.8464 3.8614 14.8464 7.84594V8.04083C14.8464 10.0708 13.6854 12.4025 11.4528 14.9657C9.83167 16.827 8.23373 18.1245 8.16331 18.1814L7.62044 18.62L7.07755 18.1813ZM7.1879 18.0445C7.12108 17.9904 5.53202 16.7003 3.92045 14.8501C1.69735 12.2978 0.570204 10.0068 0.570204 8.04079V7.8459C0.570204 3.95858 3.73279 0.795966 7.62014 0.795966C11.5075 0.795966 14.6701 3.95858 14.6701 7.84594V8.04082C14.6701 10.0068 13.5429 12.2978 11.3198 14.8501C9.7083 16.7003 8.11924 17.9905 8.05239 18.0445L7.62014 18.3937L7.1879 18.0445ZM4.17744 7.84591C4.17744 5.94729 5.72182 4.4029 7.62045 4.4029C9.51911 4.4029 11.0635 5.94729 11.0635 7.84591C11.0635 9.74454 9.51907 11.2889 7.62045 11.2889C5.72182 11.2889 4.17744 9.74454 4.17744 7.84591ZM5.90497 7.84591C5.90497 8.79166 6.67469 9.56139 7.62045 9.56139C8.5662 9.56139 9.33592 8.79167 9.33592 7.84591C9.33592 6.90016 8.5662 6.13044 7.62045 6.13044C6.67469 6.13044 5.90497 6.90016 5.90497 7.84591ZM10.8421 13.0024C12.0838 11.4324 13.1188 9.63765 13.1188 8.04083V7.84594C13.1188 4.81431 10.6521 2.34757 7.62045 2.34757C4.58881 2.34757 2.12207 4.81431 2.12207 7.84594V8.04083C2.12207 9.63753 3.15697 11.4322 4.39861 13.0021C5.56811 14.4808 6.89438 15.7276 7.62045 16.3715C8.34637 15.7277 9.67261 14.4811 10.8421 13.0024ZM7.62014 16.6061C9.0136 15.3851 13.2945 11.3633 13.2945 8.04082V7.84594C13.2945 4.71711 10.749 2.17158 7.62014 2.17158C4.49131 2.17158 1.94579 4.71711 1.94579 7.84594V8.04082C1.94579 11.363 6.22631 15.3848 7.62014 16.6061ZM4.35311 7.8459C4.35311 6.04447 5.81871 4.57887 7.62014 4.57887C9.42161 4.57887 10.8872 6.04447 10.8872 7.8459C10.8872 9.64734 9.42158 11.1129 7.62014 11.1129C5.81871 11.1129 4.35311 9.64734 4.35311 7.8459ZM5.72869 7.8459C5.72869 8.88885 6.5772 9.73736 7.62014 9.73736C8.66308 9.73736 9.51159 8.88885 9.51159 7.8459C9.51159 6.80296 8.66308 5.95445 7.62014 5.95445C6.5772 5.95445 5.72869 6.80296 5.72869 7.8459Z"/></svg>{{ 'customer.addresses.title' | t }} ({{ customer.addresses_count }})</a>
            </li>
            <li class="hdt-account-nav-link hdt-account-nav-link--wishlist" timeline hdt-reveal="slide-in">
              <hdt-wishlist-a class="hdt-contents"><a class="hdt-flex hdt-align-center" href="{{ routes.search_url }}/?view=wishlist"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="18" viewBox="0 0 20 18"><path d="M9.90736 15.2534L9.80926 15.3515L9.70136 15.2534C5.04196 11.0256 1.96185 8.22997 1.96185 5.3951C1.96185 3.43324 3.43324 1.96185 5.3951 1.96185C6.90572 1.96185 8.37711 2.94278 8.897 4.27684H10.7215C11.2414 2.94278 12.7128 1.96185 14.2234 1.96185C16.1853 1.96185 17.6567 3.43324 17.6567 5.3951C17.6567 8.22997 14.5766 11.0256 9.90736 15.2534ZM14.2234 0C12.5166 0 10.8785 0.79455 9.80926 2.04033C8.74005 0.79455 7.10191 0 5.3951 0C2.37384 0 0 2.36403 0 5.3951C0 9.09319 3.33515 12.1243 8.38692 16.7052L9.80926 18L11.2316 16.7052C16.2834 12.1243 19.6185 9.09319 19.6185 5.3951C19.6185 2.36403 17.2447 0 14.2234 0Z"/></svg>{{ 'customer.account.wishlist' | t }} (<hdt-wishlist-count class="hdt-wcount">0</hdt-wishlist-count>)</a></hdt-wishlist-a>
            </li>
            <li class="hdt-account-nav-link hdt-account-nav-link--customer-logout" timeline hdt-reveal="slide-in">
              <a href="{{ routes.account_logout_url }}" data-no-instant class="hdt-flex hdt-align-center"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="18" viewBox="0 0 20 18"><path fill-rule="evenodd" clip-rule="evenodd" d="M2.94473 2.63549C5.8908 -0.309582 10.3679 -0.785593 13.809 1.20345C14.0301 1.34024 14.1892 1.55777 14.2527 1.80991C14.3161 2.06206 14.2788 2.32899 14.1488 2.55413C14.0187 2.77926 13.8061 2.94489 13.556 3.01589C13.3059 3.0869 13.0379 3.0577 12.809 2.93449C11.7447 2.3212 10.5378 1.99873 9.30954 1.99947C8.08123 2.00022 6.87475 2.32415 5.81125 2.93873C4.74775 3.55331 3.86469 4.43691 3.25075 5.50078C2.63681 6.56465 2.31361 7.77133 2.31361 8.99964C2.31361 10.2279 2.63681 11.4346 3.25075 12.4985C3.86469 13.5624 4.74775 14.446 5.81125 15.0605C6.87475 15.6751 8.08123 15.9991 9.30954 15.9998C10.5378 16.0005 11.7447 15.6781 12.809 15.0648C13.0379 14.9416 13.3059 14.9124 13.556 14.9834C13.8061 15.0544 14.0187 15.22 14.1488 15.4452C14.2788 15.6703 14.3161 15.9372 14.2527 16.1894C14.1892 16.4415 14.0301 16.659 13.809 16.7958C10.3679 18.7859 5.8908 18.3099 2.94473 15.3638C2.10898 14.528 1.44601 13.5359 0.993705 12.4439C0.541395 11.3519 0.308594 10.1816 0.308594 8.99964C0.308594 7.8177 0.541395 6.64734 0.993705 5.55538C1.44601 4.46342 2.10898 3.47124 2.94473 2.63549ZM15.602 5.29255C15.7896 5.10508 16.0439 4.99976 16.3091 4.99976C16.5742 4.99976 16.8285 5.10508 17.0161 5.29255L18.9071 7.1836C19.0861 7.3626 19.2601 7.5356 19.3951 7.69561C19.5431 7.87061 19.7031 8.09162 19.7971 8.38162C19.9276 8.7833 19.9276 9.21598 19.7971 9.61765C19.71 9.87105 19.5734 10.1046 19.3951 10.3047C19.2391 10.4812 19.0763 10.6517 18.9071 10.8157L17.0171 12.7067C16.8296 12.8944 16.5752 12.9998 16.3099 12.9999C16.0446 13 15.7902 12.8947 15.6025 12.7072C15.4149 12.5197 15.3094 12.2653 15.3093 12.0001C15.3092 11.7348 15.4145 11.4803 15.602 11.2927L16.8951 9.99966H9.30889C9.04366 9.99966 8.7893 9.8943 8.60176 9.70676C8.41422 9.51922 8.30886 9.26486 8.30886 8.99964C8.30886 8.73442 8.41422 8.48006 8.60176 8.29251C8.7893 8.10497 9.04366 7.99962 9.30889 7.99962H16.8951L15.602 6.70658C15.4146 6.51905 15.3092 6.26474 15.3092 5.99957C15.3092 5.7344 15.4146 5.48008 15.602 5.29255Z"/></svg>{{ 'customer.log_out' | t }}</a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="hdt-account-content hdt-text-center"> 
        <div style="margin-bottom:3rem;">
          <h2 class="is--first hdt-s-text hdt-h5" style="margin-bottom:1rem">{{ 'customer.order.title' | t: name: order.name }}</h2>
          {%- assign order_date = order.created_at | time_tag: format: "date_at_time" -%}
          <p class="hdt-s-text2" style="margin-bottom:2rem">{{ 'customer.order.date_html' | t: date: order_date }}</p>
          {%- if order.cancelled -%}
            {%- assign cancelled_at = order.cancelled_at | time_tag: format: "date_at_time" -%}
            <p class="hdt-s-text2" style="margin-bottom:2rem">{{ 'customer.order.cancelled_html' | t: date: cancelled_at }}</p>
            <p class="hdt-s-text2" style="margin-bottom:2rem">{{ 'customer.order.cancelled_reason' | t: reason: order.cancel_reason_label }}</p>
          {%- endif -%}

          <table role="table" class="hdt-table-infos hdt-responsive-table order-details">
            <caption class="sr-only">{{ 'customer.order.title' | t: name: order.name }}</caption>
            <thead role="rowgroup">
              <tr role="row">
                <th id="ColumnProduct" scope="col" role="columnheader">{{ 'customer.order.product' | t }}</th>
                <th id="ColumnSku" scope="col" role="columnheader">{{ 'customer.order.sku' | t }}</th>
                <th id="ColumnPrice" scope="col" role="columnheader">{{ 'customer.order.price' | t }}</th>
                <th id="ColumnQuantity" scope="col" role="columnheader">{{ 'customer.order.quantity' | t }}</th>
                <th id="ColumnTotal" scope="col" role="columnheader">{{ 'customer.order.total' | t }}</th>
              </tr>
            </thead>
            <tbody role="rowgroup">
              {%- for line_item in order.line_items -%}
                <tr role="row">
                  <td
                    id="Row{{ line_item.key }}"
                    headers="ColumnProduct"
                    role="rowheader"
                    scope="row"
                    data-label="{{ 'customer.order.product' | t }}"
                  >
                    <div>
                      {%- if line_item.url != blank -%}
                        <a href="{{ line_item.url }}">{{ line_item.title }}</a>
                      {%- else -%}
                        <p>{{ line_item.title }}</p>
                      {%- endif -%}
                      {%- assign property_size = line_item.properties | size -%}
                      {%- unless line_item.selling_plan_allocation == nil and property_size == 0 -%}
                        <div class="properties">
                          {%- unless line_item.product.has_only_default_variant -%}
                            <span>
                              {{ line_item.variant.title }}
                            </span>
                          {%- endunless -%}
                          {%- unless line_item.selling_plan_allocation == nil -%}
                            <span>
                              {{ line_item.selling_plan_allocation.selling_plan.name }}
                            </span>
                          {%- endunless -%}
                          {%- if property_size != 0 -%}
                            {%- for property in line_item.properties -%}
                              {% assign property_first_char = property.first | slice: 0 %}
                              {%- if property.last != blank and property_first_char != '_' -%}
                                <span>
                                  {{ property.first }}:&nbsp;
                                  {%- if property.last contains '/uploads/' -%}
                                    <a href="{{ property.last }}">{{ property.last | split: '/' | last }}</a>
                                  {%- else -%}
                                    {{ property.last }}
                                  {%- endif -%}
                                </span>
                              {%- endif -%}
                            {%- endfor -%}
                          {%- endif -%}
                        </div>
                      {%- endunless -%}

                      {%- if line_item.line_level_discount_allocations != blank -%}
                        <ul role="list" class="hdt-list__discount" aria-label="{{ 'customer.order.discount' | t }}">
                          {%- for discount_allocation in line_item.line_level_discount_allocations -%}
                            <li>
                               {% render 'icon' with 'discount' %}
                              {{- discount_allocation.discount_application.title }} (-{{ discount_allocation.amount | money -}})
                            </li>
                          {%- endfor -%}
                        </ul>
                      {%- endif -%}

                      {%- if line_item.fulfillment -%}
                        <div class="fulfillment">
                          {%- assign created_at = line_item.fulfillment.created_at | time_tag: format: 'date' -%}
                          <span>{{ 'customer.order.fulfilled_at_html' | t: date: created_at }}</span>

                            {%- if line_item.fulfillment.tracking_url -%}
                              <a href="{{ line_item.fulfillment.tracking_url }}">
                                {{ 'customer.order.track_shipment' | t }}
                              </a>
                            {%- endif -%}
                            <span>
                              {{ line_item.fulfillment.tracking_company }}
                              {%- if line_item.fulfillment.tracking_number -%} #{{ line_item.fulfillment.tracking_number }} {%- endif -%}
                            </span>
                        </div>
                      {%- endif -%}
                    </div>
                  </td>
                  <td
                    headers="Row{{ line_item.key }} ColumnSku"
                    role="cell"
                    data-label="{{ 'customer.order.sku' | t }}"
                  >
                    {{ line_item.sku }}
                  </td>
                  <td
                    headers="Row{{ line_item.key }} ColumnPrice"
                    role="cell"
                    data-label="{{ 'customer.order.price' | t }}"
                  >
                    {%- if line_item.original_price != line_item.final_price or line_item.unit_price_measurement -%}
                      <dl>
                        {%- if line_item.original_price != line_item.final_price -%}
                          <dd class="regular-price">
                            <s>{{ line_item.original_price | money }}</s>
                          </dd>
                          <dd>
                            <span>{{ line_item.final_price | money }}</span>
                          </dd>
                        {%- else -%}
                          <dd>
                            {{ line_item.original_price | money }}
                          </dd>
                        {%- endif -%}
                        {%- if line_item.unit_price_measurement -%}
                          <dd class="unit-price">
                            <span>
                              {%- capture unit_price_separator -%}
                                <span aria-hidden="true">/</span><span class="sr-only">{{ 'accessibility.unit_price_separator' | t }}&nbsp;</span>
                              {%- endcapture -%}
                              {%- capture unit_price_base_unit -%}
                                {%- if line_item.unit_price_measurement.reference_value != 1 -%}
                                  {{- line_item.unit_price_measurement.reference_value -}}
                                {%- endif -%}
                                {{ line_item.unit_price_measurement.reference_unit }}
                              {%- endcapture -%}
                              <span data-unit-price>{{ line_item.unit_price | money }}</span>{{- unit_price_separator -}}{{- unit_price_base_unit -}}
                            </span>
                          </dd>
                        {%- endif -%}
                      </dl>
                    {%- else -%}
                      <span>{{ line_item.final_price | money }}</span>
                    {%- endif -%}
                  </td>
                  <td
                    headers="Row{{ line_item.key }} ColumnQuantity"
                    role="cell"
                    data-label="{{ 'customer.order.quantity' | t }}"
                  >
                    {{ line_item.quantity }}
                  </td>
                  <td
                    headers="Row{{ line_item.key }} ColumnTotal"
                    role="cell"
                    data-label="{{ 'customer.order.total' | t }}"
                  >
                    {%- if line_item.original_line_price != line_item.final_line_price -%}
                      <dl>
                        <dd class="regular-price">
                          <s>{{ line_item.original_line_price | money }}</s>
                        </dd>
                        <dd>
                          <span>{{ line_item.final_line_price | money }}</span>
                        </dd>
                      </dl>
                    {%- else -%}
                      {{ line_item.original_line_price | money }}
                    {%- endif -%}
                  </td>
                </tr>
              {%- endfor -%}
            </tbody>
            <tfoot role="rowgroup">
              <tr role="row">
                <td id="RowSubtotal" role="rowheader" scope="row" colspan="4">
                  {{ 'customer.order.subtotal' | t }}
                </td>
                <td headers="RowSubtotal" role="cell" data-label="{{ 'customer.order.subtotal' | t }}">{{ order.line_items_subtotal_price | money }}</td>
              </tr>
              {%- if order.cart_level_discount_applications != blank -%}
                <tr role="row">
                  {%- for discount_application in order.cart_level_discount_applications -%}
                    <td id="RowDiscount" role="rowheader" scope="row" colspan="4">
                      <div>{{ 'customer.order.discount' | t }}</div>
                      <span class="hdt-cart-discount">
                        {% render 'icon' with 'discount' %}
                        {{- discount_application.title -}}
                      </span>
                    </td>
                    <td headers="RowDiscount" role="cell" data-label="{{ 'customer.order.discount' | t }}">
                  
                        <div>-{{ discount_application.total_allocated_amount | money }}</div>
                        <span class="hdt-cart-discount">
                           {% render 'icon' with 'discount' %}
                          <span>{{- discount_application.title -}}</span>
                        </span>
                     
                    </td>
                  {%- endfor -%}
                </tr>
              {%- endif -%}
              {%- for shipping_method in order.shipping_methods -%}
                <tr role="row">
                  <td id="RowShipping" role="rowheader" scope="row" colspan="4">{{ 'customer.order.shipping' | t }} ({{ shipping_method.title }})</td>
                  <td headers="RowShipping" role="cell" data-label="{{ 'customer.order.shipping' | t }} ({{ shipping_method.title }})">{{ shipping_method.price | money }}</td>
                </tr>
              {%- endfor -%}
              {%- for tax_line in order.tax_lines -%}
                <tr role="row">
                  <td id="RowTax" role="rowheader" scope="row" colspan="4">{{ 'customer.order.tax' | t }} ({{ tax_line.title }} {{ tax_line.rate | times: 100 }}%)</td>
                  <td headers="RowTax" role="cell" data-label="{{ 'customer.order.tax' | t }} ({{ tax_line.title }} {{ tax_line.rate | times: 100 }}%)">{{ tax_line.price | money }}</td>
                </tr>
              {%- endfor -%}
              <tr role="row">
                <td id="RowTotal" role="rowheader" scope="row" colspan="3">{{ 'customer.order.total' | t }}</td>
                <td headers="RowTotal" role="cell" colspan="2" data-label="{{ 'customer.order.total' | t }}">{{ order.total_price | money_with_currency }}</td>
              </tr>
            </tfoot>
          </table>
        </div>
        <div class="hdt-field hdt-row-grid hdt-grid-cols-2">
          <div>
            <h2 class="hdt-h5 hdt-s-text" style="margin-bottom:1rem">{{ 'customer.order.billing_address' | t }}</h2>
            <p>
              <strong>{{ 'customer.order.payment_status' | t }}:</strong>
              {{ order.financial_status_label }}
            </p>
            {{ order.billing_address | format_address }}
          </div>
          <div>
            <h2 class="hdt-h5 hdt-s-text" style="margin-bottom:1rem">{{ 'customer.order.shipping_address' | t }}</h2>
            <p>
              <strong>{{ 'customer.order.fulfillment_status' | t }}:</strong>
              {{ order.fulfillment_status_label }}
            </p>
            {{ order.shipping_address | format_address }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{%- style -%}#shopify-section-{{section.id}}{--section-pt:{{section.settings.padding_top}}px;--section-pb:{{section.settings.padding_bottom}}px;--section-prate:{{section.settings.padding_rate}}}{%- endstyle -%}
{% schema %}
{
  "name": "t:sections.main-order.name",
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_rate",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "%",
      "label": "t:sections.all.padding.padding_rate",
      "default": 75
    }
  ]
}
{% endschema %}
