<!-- section/map-pin-info.liquid -->

{%- liquid
  unless section.settings.full_width
  assign stt_round = 'hdt-rounded hdt-rd-f'
    assign sizes = 'min(' | append: settings.page_width | append: 'px, calc(100vw - 30px))'
  else
    assign sizes = '100vw'
  endunless
-%}
{%- style -%}#shopify-section-{{section.id}}{--section-pt:{{section.settings.padding_top}}px;--section-pb:{{section.settings.padding_bottom}}px;--section-prate:{{section.settings.padding_rate}}}#shopify-section-{{section.id}}{--aspect-ratioapt:{{section.settings.custom_h_mb}}px}.hdt-map-pin-info iframe{width:100%;user-select:auto;pointer-events:auto;filter:grayscale({{section.settings.filter_map}}%)}.hdt-map-pin-info .hdt-content{padding-top:var(--spacing-2-4)}.hdt-map-pin-info *+.hdt-subtext{margin-top:var(--spacing-1-6)}.hdt-map-pin-info *+.hdt-heading{margin-top:var(--spacing-1-4)}.hdt-map-pin-info *+.hdt-btn{margin-top:var(--spacing-2)}.hdt-map-pin-info .hdt-content-inner{padding:var(--spacing-2) var(--spacing-2)}@media (min-width:768px){#shopify-section-{{section.id}}{--aspect-ratioapt-md:{{section.settings.custom_h_tb}}px}.hdt-map-pin-info *+.hdt-subtext{margin-top:var(--spacing-2-2)}.hdt-map-pin-info *+.hdt-heading{margin-top:var(--spacing-2)}.hdt-map-pin-info *+.hdt-btn{margin-top:var(--spacing-3)}.hdt-map-pin-info .hdt-content-inner{padding:var(--spacing-2) var(--spacing-2) var(--spacing-2);min-width:350px}}@media (min-width:1025px){.hdt-map-pin-info .hdt-content-inner{padding:var(--spacing-4) var(--spacing-4) var(--spacing-4-8);min-width:460px}}@media (min-width:1150px){#shopify-section-{{section.id}}{--aspect-ratioapt-md:{{section.settings.custom_h_dk}}px}.hdt-map-pin-info .hdt-content{position:absolute;top:0;right:0;left:0;bottom:0}.hdt-map-pin-info .hdt-content-inner{margin-inline-start:calc(var(--spacing-5) + var(--spacing-2-2))}}@media (max-width:767px){.hdt-map-pin-info .hdt-media-overlap-content>:is(picture,.hdt-media-wrapper){display:block}.hdt-map-pin-info .hdt-media-overlap-content{display:flex;flex-direction:column}.hdt-map-pin-info .hdt-grid.hdt-px-15{padding-inline-start:0;padding-inline-end:0}.hdt-map-pin-info .hdt-grid.hdt-h-full.hdt-pe-none>div{width:100%}}{%- endstyle -%}
<div class="hdt-container{% if section.settings.full_width %}-full{% endif %} hdt-section-spacing {{ stt_round }}" color-scheme="{{ section.settings.color_scheme }}" hdt-reveal="fade-in">
  <div class="hdt-height--fixed md:hdt-height--fixed hdt-relative hdt-media-overlap-content">
    {%- if section.settings.use_map == true and section.settings.map != blank -%}
      {{ section.settings.map }}
    {%- elsif section.settings.use_map == false and section.settings.image != blank -%}
      {%- liquid
        if section.settings.image != blank
          echo '<picture class="hdt-media-wrapper hdt-rounded">'
          if section.settings.image_mb != blank and section.settings.image_mb != section.settings.image
            assign srcset = section.settings.image_mb | image_url: width: section.settings.image_mb.width | image_tag: widths: '200,400,600,800,1000', alt: null | split: 'srcset="' | last
            unless srcset contains 'src='
              echo '<source media="(max-width: 767px)" srcset="' | append: srcset | replace_first: 'style=', 'data-none='
            endunless
          endif
          echo section.settings.image | image_url: width: section.settings.image.width | image_tag: loading: 'lazy', sizes: sizes, class: 'hdt-object-pos-mb', widths: '400,600,800,1000,1200,1400,1600,1800,2000,2200,2400,2600,2800,3000,3200'
          echo '</picture>'
        else
          echo '<div class="hdt-media-wrapper">'
          echo 'hero-apparel-1' | placeholder_svg_tag: 'placeholder-svg hdt-placeholder'
          echo '</div>'
        endif
      -%}
    {%- else -%}
      <div class="hdt-media-wrapper">
        {{ 'blog-apparel-1' | placeholder_svg_tag: 'placeholder-svg' }}
      </div>
    {%- endif -%}
    <div class="hdt-block md:hdt-grid hdt-h-full hdt-pe-none">
      {%- if section.blocks.size > 0 -%}
        <div class="hdt-place-self-{{ section.settings.content_position_mb }} md:hdt-place-self-{{ section.settings.content_position }}">
          <div class="hdt-oh hdt-grid {% if section.settings.full_width == true %}hdt-px-15 lg:hdt-px-0{% endif %}">
            <div class="hdt-content-inner hdt-text-center md:hdt-text-start hdt-s-gradient hdt-rounded hdt-oh">
              {%- for block in section.blocks -%}
                {%- case block.type -%}
                  {%- when 'heading' -%}
                    {%- if block.settings.heading != blank -%}
                      <h3 class="hdt-heading hdt-h5 hdt-s-text" hdt-reveal="slide-in" timeline>{{ block.settings.heading }}</h3>
                    {%- endif -%}
                  {% when 'text' %}
                    {%- if block.settings.text != blank -%}
                      <div class="hdt-rte hdt-subtext hdt-s-text2" hdt-reveal="slide-in" timeline>
                        {{ block.settings.text }}
                      </div>
                    {%- endif -%}
                  {% when 'button' %}
                    {%- if block.settings.btn_label != blank -%}
                      <a hdt-reveal="slide-in" timeline {% if block.settings.btn_link == blank %}
                        role="link" disabled="true"
                        {% else %}
                          href="{{ block.settings.btn_link }}" 
                        {% endif %} target="{% if block.settings.target %}_blank{% else %}_self{% endif %}"
                        class="hdt-btn hdt-text-{{ block.settings.btn_size }} hdt-oh hdt-inline-flex hdt-align-center hdt-justify-center hdt-relative hdt-btn-{{ block.settings.btn_style }} hdt-font-{{ block.settings.btn_fw }}"><span>{{ block.settings.btn_label }}</span>
                      {%- if block.settings.btn_icon == "1" -%}
                        <svg class="hdt-icon hdt-icon-1" xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 64 64" fill="currentColor"><path d="M12,56.43,36.48,32,12,7.52,19.53,0,51.61,32,19.53,64Z"/></svg>
                      {%- elsif block.settings.btn_icon == "2" -%}
                        <svg class="hdt-icon hdt-icon-2" xmlns="http://www.w3.org/2000/svg" width="12" height="12"  viewBox="0 0 64 64" fill="currentColor"><path d="M6.89,64,0,57.11,47.26,9.85H4.92V0H64V59.08H54.15V16.74Z"/></svg>
                      {%- else -%}
                      {%- endif -%}
                      </a>
                    {%- endif -%}
                {%- endcase -%}
              {%- endfor -%}
            </div>
          </div>
        </div>
      {%- endif -%}
    </div>
  </div>
</div>
{% schema %}
{
  "name": "Map pin info",
  "tag": "section",
  "class": "hdt-section hdt-map-pin-info",
  "disabled_on": {
    "groups": [
      "*"
    ]
  },
  "settings": [
    {
      "type": "checkbox",
      "id": "full_width",
      "label": "t:sections.contact.full_width.label",
      "default": false
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.contact.color.label"
    },
    {
      "type": "checkbox",
      "id": "use_map",
      "label": "Use map",
      "default": false
    },
    {
      "type": "liquid",
      "id": "map",
      "label": "t:sections.contact.map_with_text.map.label",
      "info": "[You can get the map at here](https://www.google.com/maps),need to use iframes"
    },
    {
      "type": "range",
      "id": "filter_map",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "%",
      "label": "Filter gray scale source map",
      "default": 60
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:sections.slideshow.blocks.image"
    },
    {
      "type": "image_picker",
      "id": "image_mb",
      "label": "t:sections.slideshow.blocks.image_mb"
    },
    {
      "type": "number",
      "id": "custom_h_dk",
      "label": "Custom height",
      "default": 600
    },
    {
      "type": "number",
      "id": "custom_h_tb",
      "label": "Custom height (tablet)",
      "default": 450
    },
    {
      "type": "number",
      "id": "custom_h_mb",
      "label": "Custom height (mobile)",
      "default": 300
    },
    {
      "type": "select",
      "id": "content_position",
      "label": "t:sections.all.content_position.label",
      "options": [
        {
          "value": "start",
          "label": "t:sections.all.content_position.options.start"
        },
        {
          "value": "start-center",
          "label": "t:sections.all.content_position.options.start_center"
        },
        {
          "value": "start-end",
          "label": "t:sections.all.content_position.options.start_end"
        },
        {
          "value": "center",
          "label": "t:sections.all.content_position.options.center"
        },
        {
          "value": "center-start",
          "label": "t:sections.all.content_position.options.center_start"
        },
        {
          "value": "center-end",
          "label": "t:sections.all.content_position.options.center_end"
        },
        {
          "value": "end",
          "label": "t:sections.all.content_position.options.end"
        },
        {
          "value": "end-start",
          "label": "t:sections.all.content_position.options.end_start"
        },
        {
          "value": "end-center",
          "label": "t:sections.all.content_position.options.end_center"
        }
      ],
      "default": "start"
    },
    {
      "type": "select",
      "id": "content_position_mb",
      "label": "t:sections.all.content_position.label",
      "options": [
        {
          "value": "start",
          "label": "t:sections.all.content_position.options.start"
        },
        {
          "value": "start-center",
          "label": "t:sections.all.content_position.options.start_center"
        },
        {
          "value": "start-end",
          "label": "t:sections.all.content_position.options.start_end"
        },
        {
          "value": "center",
          "label": "t:sections.all.content_position.options.center"
        },
        {
          "value": "center-start",
          "label": "t:sections.all.content_position.options.center_start"
        },
        {
          "value": "center-end",
          "label": "t:sections.all.content_position.options.center_end"
        },
        {
          "value": "end",
          "label": "t:sections.all.content_position.options.end"
        },
        {
          "value": "end-start",
          "label": "t:sections.all.content_position.options.end_start"
        },
        {
          "value": "end-center",
          "label": "t:sections.all.content_position.options.end_center"
        }
      ],
      "default": "center"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 40
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 40
    },
    {
      "type": "range",
      "id": "padding_rate",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "%",
      "label": "t:sections.all.padding.padding_rate",
      "default": 75
    }
  ],
  "blocks": [
    {
      "type": "heading",
      "name": "t:sections.our-store.blocks.settings.heading",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "label": "t:sections.our-store.blocks.settings.heading",
          "default": "Ecomus"
        }
      ]
    },
    {
      "type": "text",
      "name": "t:sections.our-store.blocks.settings.text",
      "settings": [
        {
          "type": "richtext",
          "id": "text",
          "label": "t:sections.our-store.blocks.settings.text",
          "default": "<p><strong>Address</strong></p><p>66 Mott St, New York, New York, Zip Code: 10006, AS</p>"
        }
      ]
    },
    {
      "type": "button",
      "name": "t:sections.all.button.name",
      "settings": [
        {
          "type": "text",
          "id": "btn_label",
          "label": "t:sections.all.button.settings.text.label",
          "default": "Shop now",
          "info": "t:sections.all.button.settings.text.info"
        },
        {
          "type": "url",
          "id": "btn_link",
          "label": "t:sections.all.button.settings.url.label",
          "info": "If blank, use link of product"
        },
        {
          "type": "checkbox",
          "id": "target",
          "label": "t:sections.all.button.settings.target.label",
          "default": false
        },
        {
          "type": "select",
          "id": "btn_size",
          "label": "t:sections.all.button.settings.font_size.label",
          "options": [
            {
              "value": "xs",
              "label": "t:sections.all.button.settings.font_size.options.xs"
            },
            {
              "value": "sm",
              "label": "t:sections.all.button.settings.font_size.options.sm"
            },
            {
              "value": "base",
              "label": "t:sections.all.button.settings.font_size.options.base"
            },
            {
              "value": "lg",
              "label": "t:sections.all.button.settings.font_size.options.lg"
            },
            {
              "value": "xl",
              "label": "t:sections.all.button.settings.font_size.options.xl"
            }
          ],
          "default": "base"
        },
        {
          "type": "select",
          "id": "btn_style",
          "label": "t:sections.all.button.settings.style.label",
          "options": [
            {
              "value": "solid",
              "label": "t:sections.all.button.settings.style.options.option_1"
            },
            {
              "value": "outline",
              "label": "t:sections.all.button.settings.style.options.option_2"
            },
            {
              "value": "outline-2",
              "label": "t:sections.all.button.settings.style.options.option_3"
            },
            {
              "value": "link",
              "label": "t:sections.all.button.settings.style.options.option_4"
            }
          ],
          "default": "solid"
        },
        {
          "type": "select",
          "id": "btn_fw",
          "label": "t:sections.all.button.settings.font_weight.label",
          "options": [
            {
              "value": "normal",
              "label": "t:sections.all.button.settings.font_weight.options.option_1"
            },
            {
              "value": "medium",
              "label": "t:sections.all.button.settings.font_weight.options.option_2"
            },
            {
              "value": "semibold",
              "label": "t:sections.all.button.settings.font_weight.options.option_3"
            },
            {
              "value": "bold",
              "label": "t:sections.all.button.settings.font_weight.options.option_4"
            }
          ],
          "default": "normal"
        },
        {
          "type": "select",
          "id": "btn_icon",
          "label": "t:sections.all.button.settings.icon.label",
          "options": [
            {
              "value": "none",
              "label": "t:sections.all.button.settings.icon.options.option_0"
            },
            {
              "value": "1",
              "label": "t:sections.all.button.settings.icon.options.option_1"
            },
            {
              "value": "2",
              "label": "t:sections.all.button.settings.icon.options.option_2"
            }
          ],
          "default": "1"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Map pin info"
    }
  ]
}
{% endschema %}
